
<div id="testNumber_list" ng-init="pageTitle = 'pages.testNumber.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
<div class="list-search">
<accordion close-others="false">
    <accordion-group  heading="{{::'pages.testNumber.list.table.search' | translate}}"  is-open="isSearchOpen">
         <form name="testNumberForm" novalidate>
        <div class="row form-inline">
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                        <span class="input-group-addon">nr</span>
                        <input 
                        	name="doubleNr"
                        	ng-model="search.doubleNr"
                        	class="form-control"
                        	placeholder="{{::'pages.testNumber.list.search.placeholder.doubleNr' | translate}}"
                        	  type="number"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                        <span class="input-group-addon">nr</span>
                        <input 
                        	name="floatNr"
                        	ng-model="search.floatNr"
                        	class="form-control"
                        	placeholder="{{::'pages.testNumber.list.search.placeholder.floatNr' | translate}}"
                        	  type="number"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                        <span class="input-group-addon">nr</span>
                        <input 
                        	name="floatNrScale"
                        	ng-model="search.floatNrScale"
                        	class="form-control"
                        	placeholder="{{::'pages.testNumber.list.search.placeholder.floatNrScale' | translate}}"
                        	  type="number"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                        <span class="input-group-addon">nr</span>
                        <input 
                        	name="integerNr"
                        	ng-model="search.integerNr"
                        	class="form-control"
                        	placeholder="{{::'pages.testNumber.list.search.placeholder.integerNr' | translate}}"
                        	  type="number"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                        <span class="input-group-addon">nr</span>
                        <input 
                        	name="integerNrInList"
                        	ng-model="search.integerNrInList"
                        	class="form-control"
                        	placeholder="{{::'pages.testNumber.list.search.placeholder.integerNrInList' | translate}}"
                        	  type="number"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                        <span class="input-group-addon">nr</span>
                        <input 
                        	name="integerNrMax"
                        	ng-model="search.integerNrMax"
                        	class="form-control"
                        	placeholder="{{::'pages.testNumber.list.search.placeholder.integerNrMax' | translate}}"
                        	  type="number"  max="3"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                        <span class="input-group-addon">nr</span>
                        <input 
                        	name="integerNrMin"
                        	ng-model="search.integerNrMin"
                        	class="form-control"
                        	placeholder="{{::'pages.testNumber.list.search.placeholder.integerNrMin' | translate}}"
                        	  type="number"  min="2"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                        <span class="input-group-addon">nr</span>
                        <input 
                        	name="integerNrNotEqual"
                        	ng-model="search.integerNrNotEqual"
                        	class="form-control"
                        	placeholder="{{::'pages.testNumber.list.search.placeholder.integerNrNotEqual' | translate}}"
                        	  type="number"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                        <span class="input-group-addon">nr</span>
                        <input 
                        	name="integerNrRange"
                        	ng-model="search.integerNrRange"
                        	class="form-control"
                        	placeholder="{{::'pages.testNumber.list.search.placeholder.integerNrRange' | translate}}"
                        	  type="range"  min="18"  max="65"  ><span class="input-group-addon">{{integerNrRange}}</span></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                        <span class="input-group-addon">nr</span>
                        <input 
                        	name="integerNrUnique"
                        	ng-model="search.integerNrUnique"
                        	class="form-control"
                        	placeholder="{{::'pages.testNumber.list.search.placeholder.integerNrUnique' | translate}}"
                        	  type="number"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                        <span class="input-group-addon">nr</span>
                        <input 
                        	name="longNr"
                        	ng-model="search.longNr"
                        	class="form-control"
                        	placeholder="{{::'pages.testNumber.list.search.placeholder.longNr' | translate}}"
                        	  type="number"  ></div> </div>
            
        </div>
    
                </form>
            </accordion-group>
        </accordion>
        <div class="box-tools pull-right" ng-if="!isModal">
            <a class="btn btn-default btn-xs" ui-sref="app.testNumber.create">
                <i class="fa fa-plus" translate="pages.testNumber.list.new" mx-show-loading></i>
            </a>
        </div>

        <div class="clearfix"></div>
        <div class="list-search-table">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody ng-hide="tableParams.settings().$loading">
				<tr ng-repeat="testNumber in $data">
                    <td class="text-left" >
                        <a class="btn btn-default btn-xs" ui-sref="app.testNumber.view({id:testNumber.id})" ng-if="!isModal">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ui-sref="app.testNumber.view.edit({id:testNumber.id})" ng-if="!isModal">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" ng-click="deleteTestNumber(testNumber)" mx-show-loading ng-if="!isModal">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ng-click="selectItem(testNumber)" ng-if="isModal">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>

                    <td data-title="'pages.testNumber.list.table.header.id' | translate" sortable="'id'">{{::testNumber.id}}</td>					
			   		
        <td data-title="'pages.testNumber.list.table.header.doubleNr' | translate" sortable="'doubleNr'">
{{::testNumber.doubleNr}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.floatNr' | translate" sortable="'floatNr'">
{{::testNumber.floatNr}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.floatNrScale' | translate" sortable="'floatNrScale'">
{{::testNumber.floatNrScale}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.integerNr' | translate" sortable="'integerNr'">
{{::testNumber.integerNr}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.integerNrInList' | translate" sortable="'integerNrInList'">
{{::testNumber.integerNrInList}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.integerNrMax' | translate" sortable="'integerNrMax'">
{{::testNumber.integerNrMax}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.integerNrMin' | translate" sortable="'integerNrMin'">
{{::testNumber.integerNrMin}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.integerNrNotEqual' | translate" sortable="'integerNrNotEqual'">
{{::testNumber.integerNrNotEqual}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.integerNrRange' | translate" sortable="'integerNrRange'">
{{::testNumber.integerNrRange}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.integerNrUnique' | translate" sortable="'integerNrUnique'">
{{::testNumber.integerNrUnique}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.longNr' | translate" sortable="'longNr'">
{{::testNumber.longNr}}</td>				 	

				</tr>
			</tbody>
              <tbody ng-show="tableParams.settings().$loading">
                  <tr>
                      <td class="text-center" translate="messages.loading"></td>
                  </tr>
              </tbody>
	      </table>
        </div>
    </div>
</div>