


<div id="testNumber_view" ng-init="pageTitle = 'pages.testNumber.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
    <md-content layout-padding layout="column">

<div class="input-container" layout layout-sm="column">

            <label translate="pages.testNumber.view.field.doubleNr" flex="20"></label>
            <div class="read-field" ng-bind="testNumber.doubleNr" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testNumber.view.field.floatNr" flex="20"></label>
            <div class="read-field" ng-bind="testNumber.floatNr" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testNumber.view.field.floatNrScale" flex="20"></label>
            <div class="read-field" ng-bind="testNumber.floatNrScale" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testNumber.view.field.integerNr" flex="20"></label>
            <div class="read-field" ng-bind="testNumber.integerNr" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testNumber.view.field.integerNrInList" flex="20"></label>
            <div class="read-field" ng-bind="testNumber.integerNrInList" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testNumber.view.field.integerNrMax" flex="20"></label>
            <div class="read-field" ng-bind="testNumber.integerNrMax" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testNumber.view.field.integerNrMin" flex="20"></label>
            <div class="read-field" ng-bind="testNumber.integerNrMin" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testNumber.view.field.integerNrNotEqual" flex="20"></label>
            <div class="read-field" ng-bind="testNumber.integerNrNotEqual" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testNumber.view.field.integerNrRange" flex="20"></label>
            <div class="read-field" ng-bind="testNumber.integerNrRange" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testNumber.view.field.integerNrUnique" flex="20"></label>
            <div class="read-field" ng-bind="testNumber.integerNrUnique" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testNumber.view.field.longNr" flex="20"></label>
            <div class="read-field" ng-bind="testNumber.longNr" flex="30"></div>
    
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.testNumber.view.edit({id:testNumber.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteTestNumber(testNumber)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
    </md-content>
</div>



