
<div ng-if="!isModal" id="testNumber_list" ng-init="pageTitle = 'pages.testNumber.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div>


<md-content ng-init="isSearchOpen=true">
    <md-toolbar class="md-gray" ng-click="isSearchOpen = !isSearchOpen">
        <div class="md-toolbar-tools">
            <md-button class="md-raised" translate="button.search"></md-button>
            <span flex></span>
            <md-button class="md-raised" ng-if="!isModal" ui-sref="app.testNumber.create" translate="pages.testNumber.list.new"></md-button>
        </div>
    </md-toolbar>
    <md-content ng-if="isSearchOpen" layout-padding>
         <form name="testNumberForm" novalidate>
             <md-grid-list
                     md-row-height="50px"
                     md-cols="6"
                     md-cols-sm="1" md-cols-md="4"
                     md-gutter="6px"
                   >
            
                  <md-grid-tile class="gray"
                                  md-rowspan="2" md-colspan="3" md-colspan-sm="1">
    <md-input-container flex>
<label translate="pages.testNumber.list.search.placeholder.doubleNr"></label>
                    <input
                        	name="doubleNr"
                        	aria-label="doubleNr"
                        	ng-model="search.doubleNr"
                        	  type="number"  /> </md-input-container></md-grid-tile>
            
                  <md-grid-tile class="gray"
                                  md-rowspan="2" md-colspan="3" md-colspan-sm="1">
    <md-input-container flex>
<label translate="pages.testNumber.list.search.placeholder.floatNr"></label>
                    <input
                        	name="floatNr"
                        	aria-label="floatNr"
                        	ng-model="search.floatNr"
                        	  type="number"  /> </md-input-container></md-grid-tile>
            
                  <md-grid-tile class="gray"
                                  md-rowspan="2" md-colspan="3" md-colspan-sm="1">
    <md-input-container flex>
<label translate="pages.testNumber.list.search.placeholder.floatNrScale"></label>
                    <input
                        	name="floatNrScale"
                        	aria-label="floatNrScale"
                        	ng-model="search.floatNrScale"
                        	  type="number"  /> </md-input-container></md-grid-tile>
            
                  <md-grid-tile class="gray"
                                  md-rowspan="2" md-colspan="3" md-colspan-sm="1">
    <md-input-container flex>
<label translate="pages.testNumber.list.search.placeholder.integerNr"></label>
                    <input
                        	name="integerNr"
                        	aria-label="integerNr"
                        	ng-model="search.integerNr"
                        	  type="number"  /> </md-input-container></md-grid-tile>
            
                  <md-grid-tile class="gray"
                                  md-rowspan="2" md-colspan="3" md-colspan-sm="1">
    <md-input-container flex>
<label translate="pages.testNumber.list.search.placeholder.integerNrInList"></label>
                    <input
                        	name="integerNrInList"
                        	aria-label="integerNrInList"
                        	ng-model="search.integerNrInList"
                        	  type="number"  /> </md-input-container></md-grid-tile>
            
                  <md-grid-tile class="gray"
                                  md-rowspan="2" md-colspan="3" md-colspan-sm="1">
    <md-input-container flex>
<label translate="pages.testNumber.list.search.placeholder.integerNrMax"></label>
                    <input
                        	name="integerNrMax"
                        	aria-label="integerNrMax"
                        	ng-model="search.integerNrMax"
                        	  type="number"  max="3"  /> </md-input-container></md-grid-tile>
            
                  <md-grid-tile class="gray"
                                  md-rowspan="2" md-colspan="3" md-colspan-sm="1">
    <md-input-container flex>
<label translate="pages.testNumber.list.search.placeholder.integerNrMin"></label>
                    <input
                        	name="integerNrMin"
                        	aria-label="integerNrMin"
                        	ng-model="search.integerNrMin"
                        	  type="number"  min="2"  /> </md-input-container></md-grid-tile>
            
                  <md-grid-tile class="gray"
                                  md-rowspan="2" md-colspan="3" md-colspan-sm="1">
    <md-input-container flex>
<label translate="pages.testNumber.list.search.placeholder.integerNrNotEqual"></label>
                    <input
                        	name="integerNrNotEqual"
                        	aria-label="integerNrNotEqual"
                        	ng-model="search.integerNrNotEqual"
                        	  type="number"  /> </md-input-container></md-grid-tile>
            
                  <md-grid-tile class="gray"
                                  md-rowspan="2" md-colspan="3" md-colspan-sm="1">
    <md-input-container flex>
<label translate="pages.testNumber.list.search.placeholder.integerNrRange"></label>
                    <input
                        	name="integerNrRange"
                        	aria-label="integerNrRange"
                        	ng-model="search.integerNrRange"
                        	  type="range"  min="18"  max="65"  /> </md-input-container></md-grid-tile>
            
                  <md-grid-tile class="gray"
                                  md-rowspan="2" md-colspan="3" md-colspan-sm="1">
    <md-input-container flex>
<label translate="pages.testNumber.list.search.placeholder.integerNrUnique"></label>
                    <input
                        	name="integerNrUnique"
                        	aria-label="integerNrUnique"
                        	ng-model="search.integerNrUnique"
                        	  type="number"  /> </md-input-container></md-grid-tile>
            
                  <md-grid-tile class="gray"
                                  md-rowspan="2" md-colspan="3" md-colspan-sm="1">
    <md-input-container flex>
<label translate="pages.testNumber.list.search.placeholder.longNr"></label>
                    <input
                        	name="longNr"
                        	aria-label="longNr"
                        	ng-model="search.longNr"
                        	  type="number"  /> </md-input-container></md-grid-tile>
            
            </md-grid-list>
    
                </form>
            </md-content>
</md-item>
    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="testNumber in $data">
                    <td class="text-left" >
                        <a class="btn btn-default btn-xs" ui-sref="app.testNumber.view({id:testNumber.id})" ng-if="!isModal">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ui-sref="app.testNumber.view.edit({id:testNumber.id})" ng-if="!isModal">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" ng-click="deleteTestNumber(testNumber)" mx-show-loading ng-if="!isModal">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ng-click="selectItemToField(testNumber)" ng-if="isModal">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>

                    <td data-title="'pages.testNumber.list.table.header.id' | translate" sortable="'id'">{{::testNumber.id}}</td>					
			   		
        <td data-title="'pages.testNumber.list.table.header.doubleNr' | translate" sortable="'doubleNr'">
{{::testNumber.doubleNr}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.floatNr' | translate" sortable="'floatNr'">
{{::testNumber.floatNr}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.floatNrScale' | translate" sortable="'floatNrScale'">
{{::testNumber.floatNrScale}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.integerNr' | translate" sortable="'integerNr'">
{{::testNumber.integerNr}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.integerNrInList' | translate" sortable="'integerNrInList'">
{{::testNumber.integerNrInList}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.integerNrMax' | translate" sortable="'integerNrMax'">
{{::testNumber.integerNrMax}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.integerNrMin' | translate" sortable="'integerNrMin'">
{{::testNumber.integerNrMin}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.integerNrNotEqual' | translate" sortable="'integerNrNotEqual'">
{{::testNumber.integerNrNotEqual}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.integerNrRange' | translate" sortable="'integerNrRange'">
{{::testNumber.integerNrRange}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.integerNrUnique' | translate" sortable="'integerNrUnique'">
{{::testNumber.integerNrUnique}}</td>				 	
			   		
        <td data-title="'pages.testNumber.list.table.header.longNr' | translate" sortable="'longNr'">
{{::testNumber.longNr}}</td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>