

<div id="task_form"
     ng-init="pageTitle = (isEditForm)?'pages.task.view.edit.title':'pages.task.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="taskForm" novalidate>
        <input name="version" type="hidden" ng-model="task.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="dateCreated"
               translate="pages.task.defaultFieldName.dateCreated" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
     <input name="dateCreated"
            aria-label="dateCreated"
            type="text"
            ng-model="task.dateCreated"
            bs-datepicker
       required
      />
      
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="deadline"
               translate="pages.task.defaultFieldName.deadline" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
     <input name="deadline"
            aria-label="deadline"
            type="text"
            ng-model="task.deadline"
            bs-datepicker
      
      />
      
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="details"
               translate="pages.task.defaultFieldName.details" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
            <textarea rows="5"
                      name="details"
                      aria-label="details"
                      type="text"
                      ng-model="task.details"
                 md-maxlength="1000"  required > </textarea>
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="status"
               translate="pages.task.defaultFieldName.status" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
            <md-select
                    aria-label="status"
                    ng-model="task.status"
        ><md-option ng-repeat="item in ['Open', 'Done']" >{{item}}</md-option>
    </md-select>
	
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="summary"
               translate="pages.task.defaultFieldName.summary" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="summary"
                           aria-label="summary"
                           type="text"
                           ng-model="task.summary"
                 required /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="timeSpent"
               translate="pages.task.defaultFieldName.timeSpent" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            <input
                           name="timeSpent"
                           aria-label="timeSpent"
                           ng-model="task.timeSpent"  type="number"  min="0"  required />
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="tags"
               translate="pages.task.defaultFieldName.tags" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            <!--ManyToMany-->
            <md-chips
                    ng-model="task.tags"
                    readonly="false"
                    md-autocomplete-snap
                    md-require-match
                    flex
    ><md-autocomplete
                    md-selected-item="selectedItem_tags"
                    md-search-text="searchText_tags"
                    md-items="item in autocompleteService.tagQuery(searchText_tags, ['id','name'], true)"
                    md-item-text="item.name">
                <span md-highlight-text="searchText_tags">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
                <span>{{$chip.name}}</span>
            </md-chip-template>
    </md-chips>
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="taskSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="taskForm.$invalid"
                ng-click="submit(taskForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
