

<div id="task_form"
     ng-init="pageTitle = (isEditForm)?'pages.task.view.edit.title':'pages.task.create.title'" data-ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content >
    <form name="taskForm" novalidate layout-padding layout="column">
        <input name="version" type="hidden" ng-model="task.version" />

        <md-input-container flex="100">
            <label for="dateCreated" translate="pages.task.defaultFieldName.dateCreated"></label>
            
     <input name="dateCreated"
            aria-label="dateCreated"
            type="text"
            ng-model="task.dateCreated"
            bs-datepicker
       required
      />
      
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="deadline" translate="pages.task.defaultFieldName.deadline"></label>
            
     <input name="deadline"
            aria-label="deadline"
            type="text"
            ng-model="task.deadline"
            bs-datepicker
      
      />
      
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="details" translate="pages.task.defaultFieldName.details"></label>
            
            <textarea rows="5"
                      name="details"
                      aria-label="details"
                      type="text"
                      ng-model="task.details"
                 md-maxlength="1000"  required > </textarea>
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="status" translate="pages.task.defaultFieldName.status"></label>
            
            <md-select
                    aria-label="status"
                    ng-model="task.status"
        ><md-option ng-repeat="item in ['Open', 'Done']" >{{item}}</md-option>
    </md-select>
	
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="summary" translate="pages.task.defaultFieldName.summary"></label>
            
                    <input name="summary"
                           aria-label="summary"
                           type="text"
                           ng-model="task.summary"
                 required /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="timeSpent" translate="pages.task.defaultFieldName.timeSpent"></label>
            <input
                           name="timeSpent"
                           aria-label="timeSpent"
                           ng-model="task.timeSpent"  type="number"  min="0"  required />
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="tags" translate="pages.task.defaultFieldName.tags"></label>
            <!--ManyToMany-->
            <md-chips
                    ng-model="task.tags"
                    readonly="false"
                    md-autocomplete-snap
                    md-require-match
                    flex
    ><md-autocomplete
                    md-selected-item="selectedItem_tags"
                    md-search-text="searchText_tags"
                    md-items="item in appCtrl.autocompleteService.tagQuery(searchText_tags, ['id','name'], true)"
                    md-item-text="item.name"
                    md-min-length="0"
                    placeholder="{{ 'pages.task.defaultFieldName.tags' | translate }}"
                >
                <span md-highlight-text="searchText_tags">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
                <span>{{$chip.name}}</span>
            </md-chip-template>
    </md-chips>
        </md-input-container>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="taskSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="taskForm.$invalid"
                ng-click="submit(taskForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
