
<div ng-if="!isModal" id="task_list" ng-init="pageTitle = 'pages.task.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div>


<md-content>
    <md-toolbar class="md-gray" ng-click="isSearchOpen = !isSearchOpen">
        <div class="md-toolbar-tools">
            <md-button class="md-raised">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <span translate="button.search"></span>
            </md-button>
            <span flex></span>
            <md-button class="md-raised" ng-if="!isModal" ui-sref="app.task.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <span translate="pages.task.list.new"></span>
            </md-button>
        </div>
    </md-toolbar>
    <md-content ng-if="isSearchOpen" layout-padding>
         <form name="taskForm" novalidate>
             <md-grid-list
                     md-row-height="50px"
                     md-cols="6"
                     md-cols-sm="1" md-cols-md="4"
                     md-gutter="6px"
                   >
            <md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    
    <label translate="pages.task.defaultFieldName.dateCreated"></label>
     <input 
     	name="dateCreated"
     	aria-label="dateCreated"
     	ng-model="search.dateCreated"
     	type="text" 
        bs-datepicker
        data-model-date-format="yyyy-MM-dd'T'HH:mm:ssZ"
        data-date-type='string'
      
      />
      </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    
    <label translate="pages.task.defaultFieldName.deadline"></label>
     <input 
     	name="deadline"
     	aria-label="deadline"
     	ng-model="search.deadline"
     	type="text" 
        bs-datepicker
        data-model-date-format="yyyy-MM-dd'T'HH:mm:ssZ"
        data-date-type='string'
      
      />
      </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    <label translate="pages.task.defaultFieldName.details"></label>
                    <input
                    	name="details"
                    	aria-label="details"
                   		ng-model="search.details"
                   		type="text"
                 /> </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    <label translate="pages.task.defaultFieldName.status"></label>
                    <input
                    	name="status"
                    	aria-label="status"
                   		ng-model="search.status"
                   		type="text"
                 /> </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    <label translate="pages.task.defaultFieldName.summary"></label>
                    <input
                    	name="summary"
                    	aria-label="summary"
                   		ng-model="search.summary"
                   		type="text"
                 /> </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    <label translate="pages.task.defaultFieldName.timeSpent"></label>
                    <input
                        	name="timeSpent"
                        	aria-label="timeSpent"
                        	ng-model="search.timeSpent"
                        	  type="number"  min="0"  /> </md-input-container></md-grid-tile>

            </md-grid-list>

        </form>
    </md-content>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="task in $data">
                    <td class="text-left" >
                        <a ui-sref="app.task.view({id:task.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.task.view.edit({id:task.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deleteTask(task)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(task)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.task.defaultFieldName.id' | translate" sortable="'id'">{{::task.id}}</td>					
			   		
        <td data-title="'pages.task.defaultFieldName.dateCreated' | translate" sortable="'dateCreated'">
{{::task.dateCreated | date:'yyyy-MM-dd HH:mm'}}</td>				 	
			   		
        <td data-title="'pages.task.defaultFieldName.deadline' | translate" sortable="'deadline'">
{{::task.deadline | date:'yyyy-MM-dd HH:mm'}}</td>				 	
			   		
        <td data-title="'pages.task.defaultFieldName.details' | translate" sortable="'details'">
{{::task.details}}</td>				 	
			   		
        <td data-title="'pages.task.defaultFieldName.status' | translate" sortable="'status'">
{{::task.status}}</td>				 	
			   		
        <td data-title="'pages.task.defaultFieldName.summary' | translate" sortable="'summary'">
{{::task.summary}}</td>				 	
			   		
        <td data-title="'pages.task.defaultFieldName.timeSpent' | translate" sortable="'timeSpent'">
{{::task.timeSpent}}</td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>