
<div id="task_list" ng-init="pageTitle = 'pages.task.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
<div class="list-search">
<accordion close-others="false">
    <accordion-group  heading="{{::'pages.task.list.table.search' | translate}}"  is-open="isSearchOpen">
         <form name="taskForm" novalidate>
        <div class="row form-inline">
            
                  <div class="col-lg-2 form-group">
     <div class="input-group input-group-sm">
     <input 
     	name="dateCreated"
     	ng-model="search.dateCreated"
        custom-st-search="dateCreated"
     	type="text" 
     	class="form-control" 
     	placeholder="{{::'pages.task.list.search.placeholder.dateCreated' | translate}}"
        datepicker-popup
        is-open="task._dateCreatedOpen"
        ng-click="task._dateCreatedOpen = true"
      
      />
     <span class="input-group-addon">
       <i class="glyphicon glyphicon-calendar"></i>
     </span>
     </div>
      </div>
            
                  <div class="col-lg-2 form-group">
     <div class="input-group input-group-sm">
     <input 
     	name="deadline"
     	ng-model="search.deadline"
        custom-st-search="deadline"
     	type="text" 
     	class="form-control" 
     	placeholder="{{::'pages.task.list.search.placeholder.deadline' | translate}}"
        datepicker-popup
        is-open="task._deadlineOpen"
        ng-click="task._deadlineOpen = true"
      
      />
     <span class="input-group-addon">
       <i class="glyphicon glyphicon-calendar"></i>
     </span>
     </div>
      </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="details"
                   		ng-model="search.details"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.task.list.search.placeholder.details' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="status"
                   		ng-model="search.status"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.task.list.search.placeholder.status' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="summary"
                   		ng-model="search.summary"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.task.list.search.placeholder.summary' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                        <span class="input-group-addon">nr</span>
                        <input 
                        	name="timeSpent"
                        	ng-model="search.timeSpent"
                        	class="form-control"
                        	placeholder="{{::'pages.task.list.search.placeholder.timeSpent' | translate}}"
                        	  type="number"  min="0"  ></div> </div>
            
        </div>
    
                </form>
            </accordion-group>
        </accordion>
        <div class="box-tools pull-right" ng-if="!isModal">
            <a class="btn btn-default btn-xs" ui-sref="app.task.create">
                <i class="fa fa-plus" translate="pages.task.list.new" mx-show-loading></i>
            </a>
        </div>

        <div class="clearfix"></div>
        <div class="list-search-table">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody ng-hide="tableParams.settings().$loading">
				<tr ng-repeat="task in $data">
                    <td class="text-left" >
                        <a class="btn btn-default btn-xs" ui-sref="app.task.view({id:task.id})" ng-if="!isModal">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ui-sref="app.task.view.edit({id:task.id})" ng-if="!isModal">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" ng-click="deleteTask(task)" mx-show-loading ng-if="!isModal">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ng-click="selectItem(task)" ng-if="isModal">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>

                    <td data-title="'pages.task.list.table.header.id' | translate" sortable="'id'">{{::task.id}}</td>					
			   		
        <td data-title="'pages.task.list.table.header.dateCreated' | translate" sortable="'dateCreated'">
{{::task.dateCreated | date:'yyyy-MM-dd HH:mm'}}</td>				 	
			   		
        <td data-title="'pages.task.list.table.header.deadline' | translate" sortable="'deadline'">
{{::task.deadline | date:'yyyy-MM-dd HH:mm'}}</td>				 	
			   		
        <td data-title="'pages.task.list.table.header.details' | translate" sortable="'details'">
{{::task.details}}</td>				 	
			   		
        <td data-title="'pages.task.list.table.header.status' | translate" sortable="'status'">
{{::task.status}}</td>				 	
			   		
        <td data-title="'pages.task.list.table.header.summary' | translate" sortable="'summary'">
{{::task.summary}}</td>				 	
			   		
        <td data-title="'pages.task.list.table.header.timeSpent' | translate" sortable="'timeSpent'">
{{::task.timeSpent}}</td>				 	

				</tr>
			</tbody>
              <tbody ng-show="tableParams.settings().$loading">
                  <tr>
                      <td class="text-center" translate="messages.loading"></td>
                  </tr>
              </tbody>
	      </table>
        </div>
    </div>
</div>