


<div ng-if="!isModal" id="task_view" ng-init="pageTitle = 'pages.task.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout layout-sm="column">

        <label translate="pages.task.defaultFieldName.dateCreated" flex="30"></label>
        <div class="read-field" ng-bind="task.dateCreated | date:'yyyy-MM-dd HH:mm'" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

        <label translate="pages.task.defaultFieldName.deadline" flex="30"></label>
        <div class="read-field" ng-bind="task.deadline | date:'yyyy-MM-dd HH:mm'" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.task.defaultFieldName.details" flex="30"></label>
            <div class="read-field" ng-bind="task.details" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.task.defaultFieldName.status" flex="30"></label>
            <div class="read-field" ng-bind="task.status" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.task.defaultFieldName.summary" flex="30"></label>
            <div class="read-field" ng-bind="task.summary" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.task.defaultFieldName.timeSpent" flex="30"></label>
            <div class="read-field" ng-bind="task.timeSpent" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">
//JoinProperty
    //tag
                //task
                //referencedPropertyName:'null.id'
                //Tags
        
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.task.view.edit({id:task.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteTask(task)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>



