
<div ng-if="!isModal" id="petType_list" ng-init="pageTitle = 'pages.petType.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div>


<md-content>
    <md-toolbar class="md-gray" ng-click="isSearchOpen = !isSearchOpen">
        <div class="md-toolbar-tools">
            <md-button class="md-raised">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <span translate="button.search"></span>
            </md-button>
            <span flex></span>
            <md-button class="md-raised" ng-if="!isModal" ui-sref="app.petType.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <span translate="pages.petType.list.new"></span>
            </md-button>
        </div>
    </md-toolbar>
    <md-content ng-if="isSearchOpen" layout-padding>
         <form name="petTypeForm" novalidate>
             <md-grid-list
                     md-row-height="50px"
                     md-cols="6"
                     md-cols-sm="1" md-cols-md="4"
                     md-gutter="6px"
                   >
            <md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    <label translate="pages.petType.defaultFieldName.name"></label>
                    <input
                    	name="name"
                    	aria-label="name"
                   		ng-model="search.name"
                   		type="text"
                 /> </md-input-container></md-grid-tile>

            </md-grid-list>

        </form>
    </md-content>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="petType in $data">
                    <td class="text-left" >
                        <a ui-sref="app.petType.view({id:petType.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.petType.view.edit({id:petType.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deletePetType(petType)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(petType)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.petType.defaultFieldName.id' | translate" sortable="'id'">{{::petType.id}}</td>					
			   		
        <td data-title="'pages.petType.defaultFieldName.name' | translate" sortable="'name'">
{{::petType.name}}</td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>