


<div id="petType_view" ng-init="pageTitle = 'pages.petType.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
    <md-content layout-padding layout="column">

<div class="input-container" layout layout-sm="column">

            <label translate="pages.petType.view.field.name" flex="20"></label>
            <div class="read-field" ng-bind="petType.name" flex="30"></div>
    
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.petType.view.edit({id:petType.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deletePetType(petType)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
    </md-content>
</div>


<div ng-if="!isModal">
    <tabset>


        <tab ui-sref="app.petType.view.pet({relationName:'types'})"
             ui-sref-active="active">
            <tab-heading
                   translate="pages.pet.view.lists"
                   translate-value-isval="{{::'pages.pet.view.field.type' | translate }}"
                   translate-value-inval="{{::'pages.pet.name' | translate }}">
            </tab-heading>
        </tab>

    </tabset>

    <div ui-view="tabs" ><div class="content-body">{{::'pages.petType.view.selecttab' | translate}}</div></div>
</div>
    

