

<div id="petType_form"
     ng-init="pageTitle = (isEditForm)?'pages.petType.view.edit.title':'pages.petType.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="petTypeForm" novalidate>
        <input name="version" type="hidden" ng-model="petType.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="name"
               translate="pages.petType.defaultFieldName.name" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="name"
                           aria-label="name"
                           type="text"
                           ng-model="petType.name"
                 md-minlength="3"  md-maxlength="20"  required /> 
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="petTypeSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="petTypeForm.$invalid"
                ng-click="submit(petTypeForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
