


<div ng-if="!isModal" id="role_view" ng-init="pageTitle = 'pages.role.view.title'"
     ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout="row" layout-align="start center">

            <label translate="pages.role.defaultFieldName.authority" flex="20"></label>
            <div class="read-field" ng-bind="role.authority" flex="80"></div>
    
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.role.view.edit({id:role.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteRole(role)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>


<div ng-if="!isModal">

        <md-tabs md-dynamic-height md-border-bottom>

        <md-tab ui-sref="app.role.view.userRole({relationName:'roles'})"
             ui-sref-active="active" label="asdsd">
            <md-tab-label>
                <span translate="pages.userRole.view.lists"
                        translate-value-isval="{{::'pages.userRole.defaultFieldName.role' | translate }}"
                        translate-value-inval="{{::'pages.userRole.name' | translate }}"></span>
            </md-tab-label>
        </md-tab>

    </md-tabs>

    <div ui-view="tabs" ><div class="md-padding">{{::'tabs.selecttab' | translate}}</div></div>
</div>

    

