
<div id="role_list" ng-init="pageTitle = 'pages.role.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
<div class="list-search">
<accordion close-others="false">
    <accordion-group  heading="{{::'pages.role.list.table.search' | translate}}"  is-open="isSearchOpen">
         <form name="roleForm" novalidate>
        <div class="row form-inline">
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="authority"
                   		ng-model="search.authority"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.role.list.search.placeholder.authority' | translate}}"  ></div> </div>
            
        </div>
    
                </form>
            </accordion-group>
        </accordion>
        <div class="box-tools pull-right" ng-if="!isModal">
            <a class="btn btn-default btn-xs" ui-sref="app.role.create">
                <i class="fa fa-plus" translate="pages.role.list.new" mx-show-loading></i>
            </a>
        </div>

        <div class="clearfix"></div>
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="role in $data">
                    <td class="text-left" >
                        <a class="btn btn-default btn-xs" ui-sref="app.role.view({id:role.id})" ng-if="!isModal">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ui-sref="app.role.view.edit({id:role.id})" ng-if="!isModal">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" ng-click="deleteRole(role)" mx-show-loading ng-if="!isModal">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ng-click="selectItem(role)" ng-if="isModal">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>

                    <td data-title="'pages.role.list.table.header.id' | translate" sortable="'id'">{{::role.id}}</td>					
			   		
        <td data-title="'pages.role.list.table.header.authority' | translate" sortable="'authority'">
{{::role.authority}}</td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </div>
</div>