

<div id="role_form"
     ng-init="pageTitle = (isEditForm)?'pages.role.view.edit.title':'pages.role.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="roleForm" novalidate>
        <input name="version" type="hidden" ng-model="role.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="authority"
               translate="pages.role.defaultFieldName.authority" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="authority"
                           aria-label="authority"
                           type="text"
                           ng-model="role.authority"
                 required /> 
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="roleSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="roleForm.$invalid"
                ng-click="submit(roleForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
