


<div ng-if="!isModal" id="testString_view" ng-init="pageTitle = 'pages.testString.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout layout-sm="column">

            <label translate="pages.testString.defaultFieldName.blankStr" flex="30"></label>
            <div class="read-field" ng-bind="testString.blankStr" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testString.defaultFieldName.creditCardStr" flex="30"></label>
            <div class="read-field" ng-bind="testString.creditCardStr" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testString.defaultFieldName.emailStr" flex="30"></label>
            <div class="read-field" ng-bind="testString.emailStr" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testString.defaultFieldName.inListStr" flex="30"></label>
            <div class="read-field" ng-bind="testString.inListStr" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testString.defaultFieldName.matchesStr" flex="30"></label>
            <div class="read-field" ng-bind="testString.matchesStr" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testString.defaultFieldName.maxSizeStr" flex="30"></label>
            <div class="read-field" ng-bind="testString.maxSizeStr" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testString.defaultFieldName.minSizeStr" flex="30"></label>
            <div class="read-field" ng-bind="testString.minSizeStr" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testString.defaultFieldName.notEqualStr" flex="30"></label>
            <div class="read-field" ng-bind="testString.notEqualStr" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testString.defaultFieldName.sizeStr" flex="30"></label>
            <div class="read-field" ng-bind="testString.sizeStr" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testString.defaultFieldName.textareaStr" flex="30"></label>
            <div class="read-field" ng-bind="testString.textareaStr" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testString.defaultFieldName.uniqueStr" flex="30"></label>
            <div class="read-field" ng-bind="testString.uniqueStr" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testString.defaultFieldName.urlStr" flex="30"></label>
            <div class="read-field" ng-bind="testString.urlStr" flex="70"></div>
    
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.testString.view.edit({id:testString.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteTestString(testString)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>


<div ng-if="!isModal">
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>

        <md-tab ui-sref="app.testString.view.testOther({relationName:'testStringTypes'})"
             ui-sref-active="active" label="asdsd">
            <md-tab-label>
                <span translate="pages.testOther.view.lists"
                        translate-value-isval="{{::'pages.testOther.defaultFieldName.testStringType' | translate }}"
                        translate-value-inval="{{::'pages.testOther.name' | translate }}"></span>
            </md-tab-label>
        </md-tab>

    </md-tabs>

    <div ui-view="tabs" ><div class="content-body">{{::'tabs.selecttab' | translate}}</div></div>
    </md-content>
</div>

    

