
<div id="testString_list" ng-init="pageTitle = 'pages.testString.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
<div class="list-search">
<accordion close-others="false">
    <accordion-group  heading="{{::'pages.testString.list.table.search' | translate}}"  is-open="isSearchOpen">
         <form name="testStringForm" novalidate>
        <div class="row form-inline">
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="blankStr"
                   		ng-model="search.blankStr"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.testString.list.search.placeholder.blankStr' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="creditCardStr"
                   		ng-model="search.creditCardStr"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.testString.list.search.placeholder.creditCardStr' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="emailStr"
                   		ng-model="search.emailStr"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.testString.list.search.placeholder.emailStr' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="inListStr"
                   		ng-model="search.inListStr"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.testString.list.search.placeholder.inListStr' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="matchesStr"
                   		ng-model="search.matchesStr"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.testString.list.search.placeholder.matchesStr' | translate}}"  ng-pattern="/[a-zA-Z]+/"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="maxSizeStr"
                   		ng-model="search.maxSizeStr"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.testString.list.search.placeholder.maxSizeStr' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="minSizeStr"
                   		ng-model="search.minSizeStr"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.testString.list.search.placeholder.minSizeStr' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="notEqualStr"
                   		ng-model="search.notEqualStr"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.testString.list.search.placeholder.notEqualStr' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="sizeStr"
                   		ng-model="search.sizeStr"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.testString.list.search.placeholder.sizeStr' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="uniqueStr"
                   		ng-model="search.uniqueStr"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.testString.list.search.placeholder.uniqueStr' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="urlStr"
                   		ng-model="search.urlStr"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.testString.list.search.placeholder.urlStr' | translate}}"  ></div> </div>
            
        </div>
    
                </form>
            </accordion-group>
        </accordion>
        <div class="box-tools pull-right" ng-if="!isModal">
            <a class="btn btn-default btn-xs" ui-sref="app.testString.create">
                <i class="fa fa-plus" translate="pages.testString.list.new" mx-show-loading></i>
            </a>
        </div>

        <div class="clearfix"></div>
        <div class="list-search-table">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody ng-hide="tableParams.settings().$loading">
				<tr ng-repeat="testString in $data">
                    <td class="text-left" >
                        <a class="btn btn-default btn-xs" ui-sref="app.testString.view({id:testString.id})" ng-if="!isModal">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ui-sref="app.testString.view.edit({id:testString.id})" ng-if="!isModal">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" ng-click="deleteTestString(testString)" mx-show-loading ng-if="!isModal">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ng-click="selectItem(testString)" ng-if="isModal">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>

                    <td data-title="'pages.testString.list.table.header.id' | translate" sortable="'id'">{{::testString.id}}</td>					
			   		
        <td data-title="'pages.testString.list.table.header.blankStr' | translate" sortable="'blankStr'">
{{::testString.blankStr}}</td>				 	
			   		
        <td data-title="'pages.testString.list.table.header.creditCardStr' | translate" sortable="'creditCardStr'">
{{::testString.creditCardStr}}</td>				 	
			   		
        <td data-title="'pages.testString.list.table.header.emailStr' | translate" sortable="'emailStr'">
{{::testString.emailStr}}</td>				 	
			   		
        <td data-title="'pages.testString.list.table.header.inListStr' | translate" sortable="'inListStr'">
{{::testString.inListStr}}</td>				 	
			   		
        <td data-title="'pages.testString.list.table.header.matchesStr' | translate" sortable="'matchesStr'">
{{::testString.matchesStr}}</td>				 	
			   		
        <td data-title="'pages.testString.list.table.header.maxSizeStr' | translate" sortable="'maxSizeStr'">
{{::testString.maxSizeStr}}</td>				 	
			   		
        <td data-title="'pages.testString.list.table.header.minSizeStr' | translate" sortable="'minSizeStr'">
{{::testString.minSizeStr}}</td>				 	
			   		
        <td data-title="'pages.testString.list.table.header.notEqualStr' | translate" sortable="'notEqualStr'">
{{::testString.notEqualStr}}</td>				 	
			   		
        <td data-title="'pages.testString.list.table.header.sizeStr' | translate" sortable="'sizeStr'">
{{::testString.sizeStr}}</td>				 	
			   		
        <td data-title="'pages.testString.list.table.header.uniqueStr' | translate" sortable="'uniqueStr'">
{{::testString.uniqueStr}}</td>				 	
			   		
        <td data-title="'pages.testString.list.table.header.urlStr' | translate" sortable="'urlStr'">
{{::testString.urlStr}}</td>				 	

				</tr>
			</tbody>
              <tbody ng-show="tableParams.settings().$loading">
                  <tr>
                      <td class="text-center" translate="messages.loading"></td>
                  </tr>
              </tbody>
	      </table>
        </div>
    </div>
</div>