

<div id="testString_form"
     ng-init="pageTitle = (isEditForm)?'pages.TestString.edit.title':'pages.TestString.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
    <form name="testStringForm" class="form-validation form-horizontal" novalidate>
        <input name="version" type="hidden" ng-model="testString.version" />

	<div class="form-group">
		<label class="col-sm-2 control-label" for="blankStr"
               translate="pages.TestString.edit.form.field.blankStr"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
                    <input id="blankStr" name="blankStr" class="form-control"
                           type="text"
                           ng-model="testString.blankStr"
                 /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="creditCardStr"
               translate="pages.TestString.edit.form.field.creditCardStr"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
                    <input id="creditCardStr" name="creditCardStr" class="form-control"
                           type="text"
                           ng-model="testString.creditCardStr"
                 /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="emailStr"
               translate="pages.TestString.edit.form.field.emailStr"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
                    <input id="emailStr" name="emailStr" class="form-control"
                           type="email"
                           ng-model="testString.emailStr"
                 /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="inListStr"
               translate="pages.TestString.edit.form.field.inListStr"></label>
		<div class="col-sm-10">
            
	<select id="inListStr" name="inListStr"
            ng-model="testString.inListStr"
            ng-options="obj as obj for obj in ['test1', 'test2', 'test3']">
      <option value=""></option>
    </select>
	
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="matchesStr"
               translate="pages.TestString.edit.form.field.matchesStr"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
                    <input id="matchesStr" name="matchesStr" class="form-control"
                           type="text"
                           ng-model="testString.matchesStr"
                 ng-pattern="/[a-zA-Z]+/"  /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="maxSizeStr"
               translate="pages.TestString.edit.form.field.maxSizeStr"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
                    <input id="maxSizeStr" name="maxSizeStr" class="form-control"
                           type="text"
                           ng-model="testString.maxSizeStr"
                 ng-maxlength="5"  /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="minSizeStr"
               translate="pages.TestString.edit.form.field.minSizeStr"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
                    <input id="minSizeStr" name="minSizeStr" class="form-control"
                           type="text"
                           ng-model="testString.minSizeStr"
                 ng-minlength="2"  /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="notEqualStr"
               translate="pages.TestString.edit.form.field.notEqualStr"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
                    <input id="notEqualStr" name="notEqualStr" class="form-control"
                           type="text"
                           ng-model="testString.notEqualStr"
                 /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="sizeStr"
               translate="pages.TestString.edit.form.field.sizeStr"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
                    <input id="sizeStr" name="sizeStr" class="form-control"
                           type="text"
                           ng-model="testString.sizeStr"
                 ng-minlength="1"  ng-maxlength="100"  /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="uniqueStr"
               translate="pages.TestString.edit.form.field.uniqueStr"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
                    <input id="uniqueStr" name="uniqueStr" class="form-control"
                           type="text"
                           ng-model="testString.uniqueStr"
                 /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="urlStr"
               translate="pages.TestString.edit.form.field.urlStr"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
                    <input id="urlStr" name="urlStr" class="form-control"
                           type="text"
                           ng-model="testString.urlStr"
                 /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	


        <div class="form-group">
            <div class="form-action pull-right">
                <button id="testStringSubmitBtn"
                    class="btn btn-success"
                    type='submit'
                    ng-disabled="testStringForm.$invalid"
                    translate="pages.TestString.edit.form.submit"
                    mx-show-loading ng-click="submit(testStringForm)"></button>
                <a class="btn btn-default" ng-click="back()" translate="pages.TestString.edit.form.cancel" mx-show-loading></a>
            </div>
            <div class="clearfix"/>
        </div>
    </form>
</div>