

<div id="testString_form"
     ng-init="pageTitle = (isEditForm)?'pages.testString.view.edit.title':'pages.testString.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="testStringForm" novalidate>
        <input name="version" type="hidden" ng-model="testString.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="blankStr"
               translate="pages.testString.defaultFieldName.blankStr" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="blankStr"
                           aria-label="blankStr"
                           type="text"
                           ng-model="testString.blankStr"
                 /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="creditCardStr"
               translate="pages.testString.defaultFieldName.creditCardStr" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="creditCardStr"
                           aria-label="creditCardStr"
                           type="text"
                           ng-model="testString.creditCardStr"
                 /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="emailStr"
               translate="pages.testString.defaultFieldName.emailStr" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="emailStr"
                           aria-label="emailStr"
                           type="email"
                           ng-model="testString.emailStr"
                 /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="inListStr"
               translate="pages.testString.defaultFieldName.inListStr" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
            <md-select
                    aria-label="inListStr"
                    ng-model="testString.inListStr"
        ><md-option ng-repeat="item in ['test1', 'test2', 'test3']" >{{item}}</md-option>
    </md-select>
	
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="matchesStr"
               translate="pages.testString.defaultFieldName.matchesStr" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="matchesStr"
                           aria-label="matchesStr"
                           type="text"
                           ng-model="testString.matchesStr"
                 ng-pattern="/[a-zA-Z]+/"  /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="maxSizeStr"
               translate="pages.testString.defaultFieldName.maxSizeStr" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="maxSizeStr"
                           aria-label="maxSizeStr"
                           type="text"
                           ng-model="testString.maxSizeStr"
                 md-maxlength="5"  /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="minSizeStr"
               translate="pages.testString.defaultFieldName.minSizeStr" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="minSizeStr"
                           aria-label="minSizeStr"
                           type="text"
                           ng-model="testString.minSizeStr"
                 md-minlength="2"  /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="notEqualStr"
               translate="pages.testString.defaultFieldName.notEqualStr" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="notEqualStr"
                           aria-label="notEqualStr"
                           type="text"
                           ng-model="testString.notEqualStr"
                 /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="sizeStr"
               translate="pages.testString.defaultFieldName.sizeStr" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="sizeStr"
                           aria-label="sizeStr"
                           type="text"
                           ng-model="testString.sizeStr"
                 md-minlength="1"  md-maxlength="100"  /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="textareaStr"
               translate="pages.testString.defaultFieldName.textareaStr" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
            <textarea rows="5"
                      name="textareaStr"
                      aria-label="textareaStr"
                      type="text"
                      ng-model="testString.textareaStr"
                 md-minlength="1"  md-maxlength="1000"  > </textarea>
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="uniqueStr"
               translate="pages.testString.defaultFieldName.uniqueStr" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="uniqueStr"
                           aria-label="uniqueStr"
                           type="text"
                           ng-model="testString.uniqueStr"
                 /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="urlStr"
               translate="pages.testString.defaultFieldName.urlStr" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="urlStr"
                           aria-label="urlStr"
                           type="text"
                           ng-model="testString.urlStr"
                 /> 
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="testStringSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="testStringForm.$invalid"
                ng-click="submit(testStringForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
