
    <!-- Content Header (Page header) -->
    <md-toolbar md-scroll-shrink id="testString_list" class="md-hue-1" ng-init="pageTitle = 'pages.testString.list.title'">
        <div class="md-toolbar-tools">
            <h3>
                <span translate-once="{{::pageTitle}}"></span>
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="isSearchOpen = !isSearchOpen">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <md-tooltip ><span translate="button.search"></span></md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-if="!isModal" ui-sref="app.testString.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <md-tooltip ><span translate="pages.testString.list.new"></span></md-tooltip>
            </md-button>
            <div class="breadcrumb" ng-if="!isModal && !isTab" ncy-breadcrumb>
            </div>
        </div>
    </md-toolbar>

    <md-content>

    <div ng-if="isSearchOpen" layout-padding>
         <form name="testStringForm" novalidate>
             <div layout="row" layout-align="start start">
             
                        <md-input-container flex>
                    <label translate="pages.testString.defaultFieldName.blankStr"></label>
                    <input
                    	name="blankStr"
                    	aria-label="blankStr"
                   		ng-model="search.blankStr"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.testString.defaultFieldName.creditCardStr"></label>
                    <input
                    	name="creditCardStr"
                    	aria-label="creditCardStr"
                   		ng-model="search.creditCardStr"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.testString.defaultFieldName.emailStr"></label>
                    <input
                    	name="emailStr"
                    	aria-label="emailStr"
                   		ng-model="search.emailStr"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.testString.defaultFieldName.inListStr"></label>
                    <input
                    	name="inListStr"
                    	aria-label="inListStr"
                   		ng-model="search.inListStr"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.testString.defaultFieldName.matchesStr"></label>
                    <input
                    	name="matchesStr"
                    	aria-label="matchesStr"
                   		ng-model="search.matchesStr"
                   		type="text"
                 ng-pattern="/[a-zA-Z]+/"  /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.testString.defaultFieldName.maxSizeStr"></label>
                    <input
                    	name="maxSizeStr"
                    	aria-label="maxSizeStr"
                   		ng-model="search.maxSizeStr"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.testString.defaultFieldName.minSizeStr"></label>
                    <input
                    	name="minSizeStr"
                    	aria-label="minSizeStr"
                   		ng-model="search.minSizeStr"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.testString.defaultFieldName.notEqualStr"></label>
                    <input
                    	name="notEqualStr"
                    	aria-label="notEqualStr"
                   		ng-model="search.notEqualStr"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.testString.defaultFieldName.sizeStr"></label>
                    <input
                    	name="sizeStr"
                    	aria-label="sizeStr"
                   		ng-model="search.sizeStr"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.testString.defaultFieldName.textareaStr"></label>
                    <input
                    	name="textareaStr"
                    	aria-label="textareaStr"
                   		ng-model="search.textareaStr"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.testString.defaultFieldName.uniqueStr"></label>
                    <input
                    	name="uniqueStr"
                    	aria-label="uniqueStr"
                   		ng-model="search.uniqueStr"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.testString.defaultFieldName.urlStr"></label>
                    <input
                    	name="urlStr"
                    	aria-label="urlStr"
                   		ng-model="search.urlStr"
                   		type="text"
                 /> </md-input-container>

             </div>

        </form>
    </div>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="testString in $data">
                    <td class="text-left action-buttons">
                        <a ui-sref="app.testString.view({id:testString.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.testString.view.edit({id:testString.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deleteTestString(testString)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(testString)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.testString.defaultFieldName.id' | translate" sortable="'id'">{{::testString.id}}</td>					
			   		
        <td data-title="'pages.testString.defaultFieldName.blankStr' | translate" sortable="'blankStr'">
{{::testString.blankStr}}</td>				 	
			   		
        <td data-title="'pages.testString.defaultFieldName.creditCardStr' | translate" sortable="'creditCardStr'">
{{::testString.creditCardStr}}</td>				 	
			   		
        <td data-title="'pages.testString.defaultFieldName.emailStr' | translate" sortable="'emailStr'">
{{::testString.emailStr}}</td>				 	
			   		
        <td data-title="'pages.testString.defaultFieldName.inListStr' | translate" sortable="'inListStr'">
{{::testString.inListStr}}</td>				 	
			   		
        <td data-title="'pages.testString.defaultFieldName.matchesStr' | translate" sortable="'matchesStr'">
{{::testString.matchesStr}}</td>				 	
			   		
        <td data-title="'pages.testString.defaultFieldName.maxSizeStr' | translate" sortable="'maxSizeStr'">
{{::testString.maxSizeStr}}</td>				 	
			   		
        <td data-title="'pages.testString.defaultFieldName.minSizeStr' | translate" sortable="'minSizeStr'">
{{::testString.minSizeStr}}</td>				 	
			   		
        <td data-title="'pages.testString.defaultFieldName.notEqualStr' | translate" sortable="'notEqualStr'">
{{::testString.notEqualStr}}</td>				 	
			   		
        <td data-title="'pages.testString.defaultFieldName.sizeStr' | translate" sortable="'sizeStr'">
{{::testString.sizeStr}}</td>				 	
			   		
        <td data-title="'pages.testString.defaultFieldName.textareaStr' | translate" sortable="'textareaStr'">
{{::testString.textareaStr}}</td>				 	
			   		
        <td data-title="'pages.testString.defaultFieldName.uniqueStr' | translate" sortable="'uniqueStr'">
{{::testString.uniqueStr}}</td>				 	
			   		
        <td data-title="'pages.testString.defaultFieldName.urlStr' | translate" sortable="'urlStr'">
{{::testString.urlStr}}</td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>