

<div id="testString_form"
     ng-init="pageTitle = (isEditForm)?'pages.testString.view.edit.title':'pages.testString.create.title'" data-ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content >
    <form name="testStringForm" novalidate layout-padding layout="column">
        <input name="version" type="hidden" ng-model="testString.version" />

        <md-input-container flex="100">
            <label for="blankStr" translate="pages.testString.defaultFieldName.blankStr"></label>
            
                    <input name="blankStr"
                           aria-label="blankStr"
                           type="text"
                           ng-model="testString.blankStr"
                 /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="creditCardStr" translate="pages.testString.defaultFieldName.creditCardStr"></label>
            
                    <input name="creditCardStr"
                           aria-label="creditCardStr"
                           type="text"
                           ng-model="testString.creditCardStr"
                 /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="emailStr" translate="pages.testString.defaultFieldName.emailStr"></label>
            
                    <input name="emailStr"
                           aria-label="emailStr"
                           type="email"
                           ng-model="testString.emailStr"
                 /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="inListStr" translate="pages.testString.defaultFieldName.inListStr"></label>
            
            <md-select
                    aria-label="inListStr"
                    ng-model="testString.inListStr"
        ><md-option ng-repeat="item in ['test1', 'test2', 'test3']" >{{item}}</md-option>
    </md-select>
	
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="matchesStr" translate="pages.testString.defaultFieldName.matchesStr"></label>
            
                    <input name="matchesStr"
                           aria-label="matchesStr"
                           type="text"
                           ng-model="testString.matchesStr"
                 ng-pattern="/[a-zA-Z]+/"  /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="maxSizeStr" translate="pages.testString.defaultFieldName.maxSizeStr"></label>
            
                    <input name="maxSizeStr"
                           aria-label="maxSizeStr"
                           type="text"
                           ng-model="testString.maxSizeStr"
                 md-maxlength="5"  /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="minSizeStr" translate="pages.testString.defaultFieldName.minSizeStr"></label>
            
                    <input name="minSizeStr"
                           aria-label="minSizeStr"
                           type="text"
                           ng-model="testString.minSizeStr"
                 md-minlength="2"  /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="notEqualStr" translate="pages.testString.defaultFieldName.notEqualStr"></label>
            
                    <input name="notEqualStr"
                           aria-label="notEqualStr"
                           type="text"
                           ng-model="testString.notEqualStr"
                 /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="sizeStr" translate="pages.testString.defaultFieldName.sizeStr"></label>
            
                    <input name="sizeStr"
                           aria-label="sizeStr"
                           type="text"
                           ng-model="testString.sizeStr"
                 md-minlength="1"  md-maxlength="100"  /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="textareaStr" translate="pages.testString.defaultFieldName.textareaStr"></label>
            
            <textarea rows="5"
                      name="textareaStr"
                      aria-label="textareaStr"
                      type="text"
                      ng-model="testString.textareaStr"
                 md-minlength="1"  md-maxlength="1000"  > </textarea>
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="uniqueStr" translate="pages.testString.defaultFieldName.uniqueStr"></label>
            
                    <input name="uniqueStr"
                           aria-label="uniqueStr"
                           type="text"
                           ng-model="testString.uniqueStr"
                 /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="urlStr" translate="pages.testString.defaultFieldName.urlStr"></label>
            
                    <input name="urlStr"
                           aria-label="urlStr"
                           type="text"
                           ng-model="testString.urlStr"
                 /> 
        </md-input-container>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="testStringSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="testStringForm.$invalid"
                ng-click="submit(testStringForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
