



<div ng-init="pageTitle = (isEditForm)?'pages.User.edit.title':'pages.User.create.title'" data-ng-include=" 'components/blocks/page_heading.html' "></div>
<div class="wrapper-md ng-scope">
    <div class="row">
        <div class="col-sm-6">
            <form name="userForm" class="form-validation form-horizontal"  
            	novalidate>
                <div class="panel panel-default">
                	<div class="panel-heading">
                      <span class="h4" translate="pages.User.edit.form.title"></span>
                    </div>
                    <div class="panel-body">
                
                
	<div class="form-group">
		<label class="col-sm-2 control-label" for="accountExpired" translate="pages.User.edit.form.field.accountExpired"></label>
		<div class="col-sm-10">
            
		<div class="input-group input-group-sm">
		  <ng-toggle  
		  disabled="disabled"
		  ng-true-val="true" 
		  ng-false-val="false" 
		  ng-model="user.accountExpired"></ng-toggle> 
		</div>                     
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	                
                
	<div class="form-group">
		<label class="col-sm-2 control-label" for="accountLocked" translate="pages.User.edit.form.field.accountLocked"></label>
		<div class="col-sm-10">
            
		<div class="input-group input-group-sm">
		  <ng-toggle  
		  disabled="disabled"
		  ng-true-val="true" 
		  ng-false-val="false" 
		  ng-model="user.accountLocked"></ng-toggle> 
		</div>                     
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	                
                
	<div class="form-group">
		<label class="col-sm-2 control-label" for="enabled" translate="pages.User.edit.form.field.enabled"></label>
		<div class="col-sm-10">
            
		<div class="input-group input-group-sm">
		  <ng-toggle  
		  disabled="disabled"
		  ng-true-val="true" 
		  ng-false-val="false" 
		  ng-model="user.enabled"></ng-toggle> 
		</div>                     
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	                
                
	<div class="form-group">
		<label class="col-sm-2 control-label" for="passwordExpired" translate="pages.User.edit.form.field.passwordExpired"></label>
		<div class="col-sm-10">
            
		<div class="input-group input-group-sm">
		  <ng-toggle  
		  disabled="disabled"
		  ng-true-val="true" 
		  ng-false-val="false" 
		  ng-model="user.passwordExpired"></ng-toggle> 
		</div>                     
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	                
                
	<div class="form-group">
		<label class="col-sm-2 control-label" for="username" translate="pages.User.edit.form.field.username"></label>
		<div class="col-sm-10">
            <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="username" class="form-control" type="text" ng-model="user.username"  required ></div>                      
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	                
                	</div>
                    <footer class="panel-footer text-right bg-light lter">
                      	<button class="btn btn-success" type='submit' ng-disabled="userForm.$invalid" translate="pages.User.edit.form.submit" mx-show-loading ng-click="submit(userForm)"></button> 
                		<a class="btn btn-default" ng-click="back()" translate="pages.User.edit.form.cancel" mx-show-loading></a> 
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>