<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
	<!-- Sidebar user panel -->
	<div class="user-panel">
		<div class="pull-left image">
			<img src="assets/img/avatar3.png" class="img-circle" alt="User Image" />
		</div>
		<div class="pull-left info">
			<p>Hello, Jane</p>

			<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
		</div>
	</div>
	<!-- search form -->
	<form action="#" method="get" class="sidebar-form">
		<div class="input-group">
			<input type="text" name="q" class="form-control" placeholder="Search..."/>
			<span class="input-group-btn">
				<button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
			</span>
		</div>
	</form>
	<!-- /.search form -->
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul class="sidebar-menu"  ng-menu>
		<li ui-sref-active="active">
			<a ui-sref="app.dashboard">
				<i class="fa fa-dashboard"></i> <span>Dashboard</span>
			</a>
		</li>	

		<li>
			<a href class="auto">
				<span class="pull-right text-muted">
			        <i class="fa fa-fw fa-angle-right text"></i>
			        <i class="fa fa-fw fa-angle-down text-active"></i>
			    </span>
			    <i class="glyphicon glyphicon-tint icon text-success"></i>
				<span class="font-bold">collection</span>
			</a>
			<ul>
			
				<li ui-sref-active="active"><a ui-sref="app.divisionCollection.list" translate="menu.domain.DivisionCollection"><i class="fa fa-angle-double-right"></i></a></li>
			
				<li ui-sref-active="active"><a ui-sref="app.divisionCollectionless.list" translate="menu.domain.DivisionCollectionless"><i class="fa fa-angle-double-right"></i></a></li>
			
				<li ui-sref-active="active"><a ui-sref="app.personCollection.list" translate="menu.domain.PersonCollection"><i class="fa fa-angle-double-right"></i></a></li>
			
				<li ui-sref-active="active"><a ui-sref="app.personCollectionless.list" translate="menu.domain.PersonCollectionless"><i class="fa fa-angle-double-right"></i></a></li>
			
			</ul>
		</li>
	
		<li>
			<a href class="auto">
				<span class="pull-right text-muted">
			        <i class="fa fa-fw fa-angle-right text"></i>
			        <i class="fa fa-fw fa-angle-down text-active"></i>
			    </span>
			    <i class="glyphicon glyphicon-music icon text-success"></i>
				<span class="font-bold">constr</span>
			</a>
			<ul>
			
				<li ui-sref-active="active"><a ui-sref="app.testNumber.list" translate="menu.domain.TestNumber"><i class="fa fa-angle-double-right"></i></a></li>
			
				<li ui-sref-active="active"><a ui-sref="app.testOther.list" translate="menu.domain.TestOther"><i class="fa fa-angle-double-right"></i></a></li>
			
				<li ui-sref-active="active"><a ui-sref="app.testString.list" translate="menu.domain.TestString"><i class="fa fa-angle-double-right"></i></a></li>
			
			</ul>
		</li>
	
		<li>
			<a href class="auto">
				<span class="pull-right text-muted">
			        <i class="fa fa-fw fa-angle-right text"></i>
			        <i class="fa fa-fw fa-angle-down text-active"></i>
			    </span>
			    <i class="glyphicon glyphicon-th-large icon text-success"></i>
				<span class="font-bold">security</span>
			</a>
			<ul>
			
				<li ui-sref-active="active"><a ui-sref="app.role.list" translate="menu.domain.Role"><i class="fa fa-angle-double-right"></i></a></li>
			
				<li ui-sref-active="active"><a ui-sref="app.user.list" translate="menu.domain.User"><i class="fa fa-angle-double-right"></i></a></li>
			
				<li ui-sref-active="active"><a ui-sref="app.userRole.list" translate="menu.domain.UserRole"><i class="fa fa-angle-double-right"></i></a></li>
			
			</ul>
		</li>
	

	</ul>
</section>
