

<div id="personCollection_form"
     ng-init="pageTitle = (isEditForm)?'pages.personCollection.view.edit.title':'pages.personCollection.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="personCollectionForm" novalidate>
        <input name="version" type="hidden" ng-model="personCollection.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="age"
               translate="pages.personCollection.view.edit.form.field.age" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            <input
                           name="age"
                           aria-label="age"
                           ng-model="personCollection.age"  type="number"  required />
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="name"
               translate="pages.personCollection.view.edit.form.field.name" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
                    <input name="name"
                           aria-label="name"
                           type="text"
                           ng-model="personCollection.name"
                 required /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="division"
               translate="pages.personCollection.view.edit.form.field.division" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            <!-- ManyToOne-->
        <md-autocomplete
                input-name="division"
                md-cache="false"
                md-selected-item="personCollection.division"
                md-search-text="searchText_division"
                md-items="item in autocompleteService.divisionCollectionQuery(searchText_division)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
    
        >
            <md-item-template>
                <span md-highlight-text="searchText_division" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
         <item-selector update-model="personCollection.division"
               item-link="app.personCollection.view.edit.divisionCollectionSearchModal" >
         </item-selector>
     
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="personCollectionSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="personCollectionForm.$invalid"
                ng-click="submit(personCollectionForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
