


<div id="personCollection_view" ng-init="pageTitle = 'pages.personCollection.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
    <md-content layout-padding layout="column">

<div class="input-container" layout layout-sm="column">

            <label translate="pages.personCollection.view.field.age" flex="20"></label>
            <div class="read-field" ng-bind="personCollection.age" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.personCollection.view.field.name" flex="20"></label>
            <div class="read-field" ng-bind="personCollection.name" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">
<!--ManyToOne-->

            <label translate="pages.personCollection.view.field.division" flex="20"></label>
            <div class="read-field">
                <a  ui-sref="app.personCollection.view.divisionCollectionModal({modalId:personCollection.division.id})" flex="30">
                <span ng-bind="personCollection.division.id"></span> <span ng-bind="personCollection.division.name"></span> </a></div>
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.personCollection.view.edit({id:personCollection.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deletePersonCollection(personCollection)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
    </md-content>
</div>



