

<div id="divisionCollectionless_form"
     ng-init="pageTitle = (isEditForm)?'pages.divisionCollectionless.view.edit.title':'pages.divisionCollectionless.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="divisionCollectionlessForm" novalidate>
        <input name="version" type="hidden" ng-model="divisionCollectionless.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="name"
               translate="pages.divisionCollectionless.defaultFieldName.name" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="name"
                           aria-label="name"
                           type="text"
                           ng-model="divisionCollectionless.name"
                 required /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="headDivision"
               translate="pages.divisionCollectionless.defaultFieldName.headDivision" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            <!-- ManyToOne-->
        <md-autocomplete
                input-name="headDivision"
                md-cache="false"
                md-selected-item="divisionCollectionless.headDivision"
                md-search-text="searchText_headDivision"
                md-items="item in autocompleteService.divisionCollectionlessQuery(searchText_headDivision)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
    
        >
            <md-item-template>
                <span md-highlight-text="searchText_headDivision" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
         <item-selector update-model="divisionCollectionless.headDivision"
               item-link="app.divisionCollectionless.view.edit.divisionCollectionlessSearchModal" >
         </item-selector>
     
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="divisionCollectionlessSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="divisionCollectionlessForm.$invalid"
                ng-click="submit(divisionCollectionlessForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
