


<div ng-if="!isModal" id="divisionCollectionless_view" ng-init="pageTitle = 'pages.divisionCollectionless.view.title'"
     ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout="row" layout-align="start center">

            <label translate="pages.divisionCollectionless.defaultFieldName.name" flex="20"></label>
            <div class="read-field" ng-bind="divisionCollectionless.name" flex="80"></div>
    
</div>
<div class="input-container" layout="row" layout-align="start center">
<!--ManyToOne-->

            <label translate="pages.divisionCollectionless.defaultFieldName.headDivision" flex="20"></label>
            <div class="read-field">
                <a  ui-sref="app.divisionCollectionless.view.divisionCollectionlessModal({modalId:divisionCollectionless.headDivision.id})" flex="80">
                <span ng-bind="divisionCollectionless.headDivision.id"></span> <span ng-bind="divisionCollectionless.headDivision.name"></span> </a></div>
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.divisionCollectionless.view.edit({id:divisionCollectionless.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteDivisionCollectionless(divisionCollectionless)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>


<div ng-if="!isModal">

        <md-tabs md-dynamic-height md-border-bottom>

        <md-tab ui-sref="app.divisionCollectionless.view.divisionCollectionless({relationName:'headDivisions'})"
             ui-sref-active="active" label="asdsd">
            <md-tab-label>
                <span translate="pages.divisionCollectionless.view.lists"
                        translate-value-isval="{{::'pages.divisionCollectionless.defaultFieldName.headDivision' | translate }}"
                        translate-value-inval="{{::'pages.divisionCollectionless.name' | translate }}"></span>
            </md-tab-label>
        </md-tab>

        <md-tab ui-sref="app.divisionCollectionless.view.personCollectionless({relationName:'divisions'})"
             ui-sref-active="active" label="asdsd">
            <md-tab-label>
                <span translate="pages.personCollectionless.view.lists"
                        translate-value-isval="{{::'pages.personCollectionless.defaultFieldName.division' | translate }}"
                        translate-value-inval="{{::'pages.personCollectionless.name' | translate }}"></span>
            </md-tab-label>
        </md-tab>

    </md-tabs>

    <div ui-view="tabs" ><div class="md-padding">{{::'tabs.selecttab' | translate}}</div></div>
</div>

    

