
<div id="divisionCollectionless_list" ng-init="pageTitle = 'pages.divisionCollectionless.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
<div class="list-search">
<accordion close-others="false">
    <accordion-group  heading="{{::'pages.divisionCollectionless.list.table.search' | translate}}"  is-open="isSearchOpen">
         <form name="divisionCollectionlessForm" novalidate>
        <div class="row form-inline">
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="name"
                   		ng-model="search.name"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.divisionCollectionless.list.search.placeholder.name' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><!--ManyToOne-->
     <div class="input-group input-group-sm" style="width:100%">
     	<tags-input
            ng-model="search.headDivisions"
            custom-st-search="headDivisions"
            placeholder="{{::'pages.divisionCollectionless.list.search.placeholder.headDivision' | translate}}">
              <auto-complete
                      source="autocompleteService.divisionCollectionlessQuery($query, ['id','name'], true)" ></auto-complete>
            </tags-input></div></div>
            
        </div>
    
                </form>
            </accordion-group>
        </accordion>
        <div class="box-tools pull-right" ng-if="!isModal">
            <a class="btn btn-default btn-xs" ui-sref="app.divisionCollectionless.create">
                <i class="fa fa-plus" translate="pages.divisionCollectionless.list.new" mx-show-loading></i>
            </a>
        </div>

        <div class="clearfix"></div>
        <div class="list-search-table">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody ng-hide="tableParams.settings().$loading">
				<tr ng-repeat="divisionCollectionless in $data">
                    <td class="text-left" >
                        <a class="btn btn-default btn-xs" ui-sref="app.divisionCollectionless.view({id:divisionCollectionless.id})" ng-if="!isModal">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ui-sref="app.divisionCollectionless.view.edit({id:divisionCollectionless.id})" ng-if="!isModal">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" ng-click="deleteDivisionCollectionless(divisionCollectionless)" mx-show-loading ng-if="!isModal">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ng-click="selectItem(divisionCollectionless)" ng-if="isModal">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>

                    <td data-title="'pages.divisionCollectionless.list.table.header.id' | translate" sortable="'id'">{{::divisionCollectionless.id}}</td>					
			   		
        <td data-title="'pages.divisionCollectionless.list.table.header.name' | translate" sortable="'name'">
{{::divisionCollectionless.name}}</td>				 	
			   		
        <td data-title="'pages.divisionCollectionless.list.table.header.headDivision' | translate" sortable="'headDivision'">
{{::divisionCollectionless.headDivision.id}} {{::divisionCollectionless.headDivision.name}} </td>				 	

				</tr>
			</tbody>
              <tbody ng-show="tableParams.settings().$loading">
                  <tr>
                      <td class="text-center" translate="messages.loading"></td>
                  </tr>
              </tbody>
	      </table>
        </div>
    </div>
</div>