

<div id="divisionCollection_form"
     ng-init="pageTitle = (isEditForm)?'pages.divisionCollection.view.edit.title':'pages.divisionCollection.create.title'" data-ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content >
    <form name="divisionCollectionForm" novalidate layout-padding layout="column">
        <input name="version" type="hidden" ng-model="divisionCollection.version" />

        <md-input-container flex="100">
            <label for="name" translate="pages.divisionCollection.defaultFieldName.name"></label>
            
                    <input name="name"
                           aria-label="name"
                           type="text"
                           ng-model="divisionCollection.name"
                 required /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="persons" translate="pages.divisionCollection.defaultFieldName.persons"></label>
            <!--OneToMany-->
            <md-chips
                    ng-model="divisionCollection.persons"
                    readonly="false"
                    md-autocomplete-snap
                    md-require-match
                    flex
    ><md-autocomplete
                    md-selected-item="selectedItem_persons"
                    md-search-text="searchText_persons"
                    md-items="item in appCtrl.autocompleteService.personCollectionQuery(searchText_persons, ['id','name','age'], true)"
                    md-item-text="item.name"
                    md-min-length="0"
                    placeholder="{{ 'pages.divisionCollection.defaultFieldName.persons' | translate }}"
                >
                <span md-highlight-text="searchText_persons">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
                <span>{{$chip.name}}</span>
            </md-chip-template>
    </md-chips>
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="headDivision" translate="pages.divisionCollection.defaultFieldName.headDivision"></label>
            <!-- ManyToOne--><div layout="row" layout-align="start center"> 
        <md-autocomplete
                input-name="headDivision"
                md-cache="false"
                md-selected-item="divisionCollection.headDivision"
                md-search-text="searchText_headDivision"
                md-items="item in appCtrl.autocompleteService.divisionCollectionQuery(searchText_headDivision)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
    
        >
            <md-item-template>
                <span md-highlight-text="searchText_headDivision" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
         <item-selector update-model="divisionCollection.headDivision"
               item-link="app.divisionCollection.view.edit.divisionCollectionSearchModal" >
         </item-selector>
        </div>
     
        </md-input-container>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="divisionCollectionSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="divisionCollectionForm.$invalid"
                ng-click="submit(divisionCollectionForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
