


<div id="divisionCollection_view" ng-init="pageTitle = 'pages.divisionCollection.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
    <md-content layout-padding layout="column">

<div class="input-container" layout layout-sm="column">

            <label translate="pages.divisionCollection.view.field.name" flex="20"></label>
            <div class="read-field" ng-bind="divisionCollection.name" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">
<!--OneToMany-->
            <label translate="pages.divisionCollection.view.field.persons" flex="20"></label>
            <div class="read-field" ng-bind="divisionCollection.persons" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">
<!--ManyToOne-->

            <label translate="pages.divisionCollection.view.field.headDivision" flex="20"></label>
            <div class="read-field">
                <a  ui-sref="app.divisionCollection.view.divisionCollectionModal({modalId:divisionCollection.headDivision.id})" flex="30">
                <span ng-bind="divisionCollection.headDivision.id"></span> <span ng-bind="divisionCollection.headDivision.name"></span> </a></div>
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.divisionCollection.view.edit({id:divisionCollection.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteDivisionCollection(divisionCollection)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
    </md-content>
</div>


<div ng-if="!isModal">
    <tabset>


        <tab ui-sref="app.divisionCollection.view.divisionCollection({relationName:'headDivisions'})"
             ui-sref-active="active">
            <tab-heading
                   translate="pages.divisionCollection.view.lists"
                   translate-value-isval="{{::'pages.divisionCollection.view.field.headDivision' | translate }}"
                   translate-value-inval="{{::'pages.divisionCollection.name' | translate }}">
            </tab-heading>
        </tab>

        <tab ui-sref="app.divisionCollection.view.personCollection({relationName:'divisions'})"
             ui-sref-active="active">
            <tab-heading
                   translate="pages.personCollection.view.lists"
                   translate-value-isval="{{::'pages.personCollection.view.field.division' | translate }}"
                   translate-value-inval="{{::'pages.personCollection.name' | translate }}">
            </tab-heading>
        </tab>

    </tabset>

    <div ui-view="tabs" ><div class="content-body">{{::'pages.divisionCollection.view.selecttab' | translate}}</div></div>
</div>
    

