

<div id="divisionCollection_form"
     ng-init="pageTitle = (isEditForm)?'pages.divisionCollection.view.edit.title':'pages.divisionCollection.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="divisionCollectionForm" novalidate>
        <input name="version" type="hidden" ng-model="divisionCollection.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="name"
               translate="pages.divisionCollection.view.edit.form.field.name" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
                    <input name="name"
                           aria-label="name"
                           type="text"
                           ng-model="divisionCollection.name"
                 required /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="persons"
               translate="pages.divisionCollection.view.edit.form.field.persons" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            <!--OneToMany-->
            <md-chips
                    ng-model="divisionCollection.persons"
                    readonly="false"
                    md-autocomplete-snap
                    md-require-match
    ><md-autocomplete
                    md-selected-item="selectedItem_persons"
                    md-search-text="searchText_persons"
                    md-items="item in autocompleteService.personCollectionQuery(searchText_persons, ['id','name','age'], true)"
                    md-item-text="item.name">
                <span md-highlight-text="searchText_persons">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
                <span>{{$chip.name}}</span>
            </md-chip-template>
    </md-chips>
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="headDivision"
               translate="pages.divisionCollection.view.edit.form.field.headDivision" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            <!-- ManyToOne-->
        <md-autocomplete
                input-name="headDivision"
                md-cache="false"
                md-selected-item="divisionCollection.headDivision"
                md-search-text="searchText_headDivision"
                md-items="item in autocompleteService.divisionCollectionQuery(searchText_headDivision)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
    
        >
            <md-item-template>
                <span md-highlight-text="searchText_headDivision" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
         <item-selector update-model="divisionCollection.headDivision"
               item-link="app.divisionCollection.view.edit.divisionCollectionSearchModal" >
         </item-selector>
     
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="divisionCollectionSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="divisionCollectionForm.$invalid"
                ng-click="submit(divisionCollectionForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
