



<div ng-init="pageTitle = 'pages.Task.view.title'" ng-include=" 'components/blocks/page_heading.html' "></div>
<div class="wrapper-md ng-scope">
    <div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
			      <span class="h4" translate="pages.Task.view.title"></span>
			    </div>
			    <div class="panel-body">
			    	<div class=" form-horizontal">		
				
				
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.Task.view.field.deadline"></label>
            <div class="col-sm-10 form-control-static" ng-bind="task.deadline"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    					
				
				
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.Task.view.field.details"></label>
            <div class="col-sm-10 form-control-static" ng-bind="task.details"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    					
				
				
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.Task.view.field.status"></label>
            <div class="col-sm-10 form-control-static" ng-bind="task.status"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    					
				
				
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.Task.view.field.summary"></label>
            <div class="col-sm-10 form-control-static" ng-bind="task.summary"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    					
				
				
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.Task.view.field.timeSpent"></label>
            <div class="col-sm-10 form-control-static" ng-bind="task.timeSpent"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    					
				
				
					</div>
			    </div>
			    <footer class="panel-footer text-right bg-light lter">
			      	<a class="btn btn-default" ui-sref="app.task.edit({id:task.id})">
				    	<i class="fa fa-edit" translate="pages.Task.view.edit"></i>
			       	</a>
					<a class="btn btn-danger" ng-click="deleteTask(task)" mx-show-loading>
						<i class="fa fa-trash-o" translate="pages.Task.view.delete"></i>
			        </a>
					
					<a class="btn btn-default" ng-click="back()">
						<i class="fa fa-chevron-left" translate="pages.Task.view.back"></i>
					</a>
					
			    </footer>
			 </div>
		</div>
        <div>
		      
        </div>       
		
		
	</div>
</div>			