

<div id="userRole_form"
     ng-init="pageTitle = (isEditForm)?'pages.UserRole.edit.title':'pages.UserRole.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="wrapper-md bg-white-only ng-scope">
    <form name="userRoleForm" class="form-validation form-horizontal" novalidate>
        <input name="version" type="hidden" ng-model="userRole.version" />

	<div class="form-group">
		<label class="col-sm-2 control-label" for="role"
               translate="pages.UserRole.edit.form.field.role"></label>
		<div class="col-sm-10">
            <!--ManyToOne-->
     <div class="input-group input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>  
          <input id="role" name="role" type="text" class="form-control"
          ng-model="userRole.role"
          typeahead-template-url="roleAutocompleteTemplate.html"
          typeahead-editable="false" 
          typeahead="b for b in autocompleteService.roleQuery($viewValue, ['id','authority'])" 
         
          typeahead-input-formatter="autocompleteService.roleFormatLabel($model, ['id','authority'])"
       required />
         <span class="input-group-btn" item-selector update-model="userRole.role"
               ui-link="app.userRole.edit.roleSearchModal" >
         </span>
     </div> 
     <script type="text/ng-template" id="roleAutocompleteTemplate.html"><a><span bind-html-unsafe="match.model.id | typeaheadHighlight:query"></span> <span bind-html-unsafe="match.model.authority | typeaheadHighlight:query"></span> </a></script>
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="user"
               translate="pages.UserRole.edit.form.field.user"></label>
		<div class="col-sm-10">
            <!--ManyToOne-->
     <div class="input-group input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>  
          <input id="user" name="user" type="text" class="form-control"
          ng-model="userRole.user"
          typeahead-template-url="userAutocompleteTemplate.html"
          typeahead-editable="false" 
          typeahead="b for b in autocompleteService.userQuery($viewValue, ['id','username','passwordExpired','enabled'])" 
         
          typeahead-input-formatter="autocompleteService.userFormatLabel($model, ['id','username','passwordExpired','enabled'])"
       required />
         <span class="input-group-btn" item-selector update-model="userRole.user"
               ui-link="app.userRole.edit.userSearchModal" >
         </span>
     </div> 
     <script type="text/ng-template" id="userAutocompleteTemplate.html"><a><span bind-html-unsafe="match.model.id | typeaheadHighlight:query"></span> <span bind-html-unsafe="match.model.username | typeaheadHighlight:query"></span> <span bind-html-unsafe="match.model.passwordExpired | typeaheadHighlight:query"></span> <span bind-html-unsafe="match.model.enabled | typeaheadHighlight:query"></span> </a></script>
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	


        <div class="form-group">
            <div class="form-action pull-right">
                <button id="userRoleSubmitBtn"
                    class="btn btn-success"
                    type='submit'
                    ng-disabled="userRoleForm.$invalid"
                    translate="pages.UserRole.edit.form.submit"
                    mx-show-loading ng-click="submit(userRoleForm)"></button>
                <a class="btn btn-default" ng-click="back()" translate="pages.UserRole.edit.form.cancel" mx-show-loading></a>
            </div>
            <div class="clearfix"/>
        </div>
    </form>
</div>