
<div id="userRole_list" ng-init="pageTitle = 'pages.userRole.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
<div class="list-search">
<accordion close-others="false">
    <accordion-group  heading="{{::'pages.userRole.list.table.search' | translate}}"  is-open="isSearchOpen">
         <form name="userRoleForm" novalidate>
        <div class="row form-inline">
            
                  <div class="col-lg-2 form-group"><!--ManyToOne-->
     <div class="input-group input-group-sm" style="width:100%">
     	<tags-input
            ng-model="search.roles"
            custom-st-search="roles"
            placeholder="{{::'pages.userRole.list.search.placeholder.role' | translate}}">
              <auto-complete
                      source="autocompleteService.roleQuery($query, ['id','authority'], true)" ></auto-complete>
            </tags-input></div></div>
            
                  <div class="col-lg-2 form-group"><!--ManyToOne-->
     <div class="input-group input-group-sm" style="width:100%">
     	<tags-input
            ng-model="search.users"
            custom-st-search="users"
            placeholder="{{::'pages.userRole.list.search.placeholder.user' | translate}}">
              <auto-complete
                      source="autocompleteService.userQuery($query, ['id','username','passwordExpired','enabled'], true)" ></auto-complete>
            </tags-input></div></div>
            
        </div>
    
                </form>
            </accordion-group>
        </accordion>
        <div class="box-tools pull-right" ng-if="!isModal">
            <a class="btn btn-default btn-xs" ui-sref="app.userRole.create">
                <i class="fa fa-plus" translate="pages.userRole.list.new" mx-show-loading></i>
            </a>
        </div>

        <div class="clearfix"></div>
        <div class="list-search-table">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody ng-hide="tableParams.settings().$loading">
				<tr ng-repeat="userRole in $data">
                    <td class="text-left" >
                        <a class="btn btn-default btn-xs" ui-sref="app.userRole.view({id:userRole.id})" ng-if="!isModal">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ui-sref="app.userRole.view.edit({id:userRole.id})" ng-if="!isModal">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" ng-click="deleteUserRole(userRole)" mx-show-loading ng-if="!isModal">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ng-click="selectItem(userRole)" ng-if="isModal">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>

                    <td data-title="'pages.userRole.list.table.header.id' | translate" sortable="'id'">{{::userRole.id}}</td>					
			   		
        <td data-title="'pages.userRole.list.table.header.role' | translate" sortable="'role'">
{{::userRole.role.id}} {{::userRole.role.authority}} </td>				 	
			   		
        <td data-title="'pages.userRole.list.table.header.user' | translate" sortable="'user'">
{{::userRole.user.id}} {{::userRole.user.username}} {{::userRole.user.passwordExpired}} {{::userRole.user.enabled}} </td>				 	

				</tr>
			</tbody>
              <tbody ng-show="tableParams.settings().$loading">
                  <tr>
                      <td class="text-center" translate="messages.loading"></td>
                  </tr>
              </tbody>
	      </table>
        </div>
    </div>
</div>