
<div ng-if="!isModal" id="userRole_list" ng-init="pageTitle = 'pages.userRole.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div>


<md-content>
    <md-toolbar class="md-gray" ng-click="isSearchOpen = !isSearchOpen">
        <div class="md-toolbar-tools">
            <md-button class="md-raised">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <span translate="button.search"></span>
            </md-button>
            <span flex></span>
            <md-button class="md-raised" ng-if="!isModal" ui-sref="app.userRole.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <span translate="pages.userRole.list.new"></span>
            </md-button>
        </div>
    </md-toolbar>
    <md-content ng-if="isSearchOpen" layout-padding>
         <form name="userRoleForm" novalidate>
             <md-grid-list
                     md-row-height="50px"
                     md-cols="6"
                     md-cols-sm="1" md-cols-md="4"
                     md-gutter="6px"
                   >
            <md-grid-tile class="gray" md-rowspan="1" md-colspan="3" md-colspan-sm="1"><md-input-container flex class="chips-autocomplete" md-no-float><!--ManyToMany-->
    <md-chips
            ng-init="search.role = []"
            ng-model="search.role"
            readonly="false"
            md-autocomplete-snap
            md-require-match
    ><md-autocomplete
            md-selected-item="selectedItem_role"
            md-search-text="searchText_role"
            md-items="item in autocompleteService.roleQuery(searchText_role, ['id','authority'], true)"
            md-item-text="item.name || item.label"
            placeholder="{{'pages.userRole.defaultFieldName.role' | translate}}"
        >
        <span md-highlight-text="searchText_role">{{item.name || item.label}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>{{$chip.name || $chip.label}}</span>
    </md-chip-template>
    </md-chips></md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="3" md-colspan-sm="1"><md-input-container flex class="chips-autocomplete" md-no-float><!--ManyToMany-->
    <md-chips
            ng-init="search.user = []"
            ng-model="search.user"
            readonly="false"
            md-autocomplete-snap
            md-require-match
    ><md-autocomplete
            md-selected-item="selectedItem_user"
            md-search-text="searchText_user"
            md-items="item in autocompleteService.userQuery(searchText_user, ['id','username','passwordExpired','enabled'], true)"
            md-item-text="item.name || item.label"
            placeholder="{{'pages.userRole.defaultFieldName.user' | translate}}"
        >
        <span md-highlight-text="searchText_user">{{item.name || item.label}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>{{$chip.name || $chip.label}}</span>
    </md-chip-template>
    </md-chips></md-input-container></md-grid-tile>

            </md-grid-list>

        </form>
    </md-content>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="userRole in $data">
                    <td class="text-left" >
                        <a ui-sref="app.userRole.view({id:userRole.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.userRole.view.edit({id:userRole.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deleteUserRole(userRole)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(userRole)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.userRole.defaultFieldName.id' | translate" sortable="'id'">{{::userRole.id}}</td>					
			   		
        <td data-title="'pages.userRole.defaultFieldName.role' | translate" sortable="'role'">
{{::userRole.role.id}} {{::userRole.role.authority}} </td>				 	
			   		
        <td data-title="'pages.userRole.defaultFieldName.user' | translate" sortable="'user'">
{{::userRole.user.id}} {{::userRole.user.username}} {{::userRole.user.passwordExpired}} {{::userRole.user.enabled}} </td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>