
<div id="userRole_list" ng-init="pageTitle = 'pages.UserRole.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="wrapper-md bg-white-only ">
<div class="list-search"  st-table="rowCollection" st-pipe="callServer" >
<accordion close-others="false">
    <accordion-group  heading="{{::'pages.UserRole.list.table.search' | translate}}"  is-open="isSearchOpen">
        <div class="row form-inline">
            
                  <div class="col-lg-2 form-group"><!--ManyToOne-->
     <div class="input-group input-group-sm" style="width:100%">
     	<tags-input
            ng-model="search.roles"
            custom-st-search="roles"
            placeholder="{{::'pages.UserRole.list.search.placeholder.role' | translate}}">
              <auto-complete
                      source="autocompleteService.roleQuery($query, ['id','authority'], true)" ></auto-complete>
            </tags-input></div></div>
            
                  <div class="col-lg-2 form-group"><!--ManyToOne-->
     <div class="input-group input-group-sm" style="width:100%">
     	<tags-input
            ng-model="search.users"
            custom-st-search="users"
            placeholder="{{::'pages.UserRole.list.search.placeholder.user' | translate}}">
              <auto-complete
                      source="autocompleteService.userQuery($query, ['id','username','passwordExpired','enabled'], true)" ></auto-complete>
            </tags-input></div></div>
            
        </div>
    
            </accordion-group>
        </accordion>
        <div class="box-tools pull-right" ng-if="!isModal">
            <a class="btn btn-default btn-xs" ui-sref="app.userRole.create">
                <i class="fa fa-plus" translate="pages.UserRole.list.new" mx-show-loading></i>
            </a>
        </div>

        <div class="clearfix"></div>
        <div class="list-search-table">
	      <table class="table table-responsive">
	      	<thead>
	      		<tr>
                    <th></th>
	      			<th width='20' st-sort="id" translate="pages.UserRole.list.table.header.id"></th>	      		
			   		<th st-sort="role" translate="pages.UserRole.list.table.header.role" ></th>				 
			   		<th st-sort="user" translate="pages.UserRole.list.table.header.user" ></th>				 

				</tr>
	      	</thead>
	      	<tbody ng-hide="isLoading">
				<tr ng-repeat="userRole in rowCollection">
                    <td class="text-left" >
                        <a class="btn btn-default btn-xs" ui-sref="app.userRole.view({id:userRole.id})" ng-if="!isModal">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ui-sref="app.userRole.edit({id:userRole.id})" ng-if="!isModal">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" ng-click="deleteUserRole(userRole)" mx-show-loading ng-if="!isModal">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ng-click="selectItem(userRole)" ng-if="isModal">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
					 <td>{{::userRole.id}}</td>					
			   		<td>{{::userRole.role.id}} {{::userRole.role.authority}} </td>				 	
			   		<td>{{::userRole.user.id}} {{::userRole.user.username}} {{::userRole.user.passwordExpired}} {{::userRole.user.enabled}} </td>				 	

				</tr>
			</tbody>
              <tbody ng-show="isLoading">
                  <tr>
                      <td class="text-center" translate="messages.loading"></td>
                  </tr>
              </tbody>
			<tfoot ng-hide="isLoading">
	          <tr>
	            <td colspan="10" class="text-center" >
	              <div st-pagination="" st-items-by-page="stTable.itemsByPage" st-displayed-pages="15" ></div>
	            </td>
	          </tr>
	        </tfoot>
	      </table>
        </div>
    </div>
</div>