

<div id="userRole_form"
     ng-init="pageTitle = (isEditForm)?'pages.userRole.view.edit.title':'pages.userRole.create.title'" data-ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content >
    <form name="userRoleForm" novalidate layout-padding layout="column">
        <input name="version" type="hidden" ng-model="userRole.version" />

        <md-input-container flex="100">
            <label for="role" translate="pages.userRole.defaultFieldName.role"></label>
            <!-- ManyToOne--><div layout="row" layout-align="start center"> 
        <md-autocomplete
                input-name="role"
                md-cache="false"
                md-selected-item="userRole.role"
                md-search-text="searchText_role"
                md-items="item in appCtrl.autocompleteService.roleQuery(searchText_role)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
     required
        >
            <md-item-template>
                <span md-highlight-text="searchText_role" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
         <item-selector update-model="userRole.role"
               item-link="app.userRole.view.edit.roleSearchModal" >
         </item-selector>
        </div>
     
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="user" translate="pages.userRole.defaultFieldName.user"></label>
            <!-- ManyToOne--><div layout="row" layout-align="start center"> 
        <md-autocomplete
                input-name="user"
                md-cache="false"
                md-selected-item="userRole.user"
                md-search-text="searchText_user"
                md-items="item in appCtrl.autocompleteService.userQuery(searchText_user)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
     required
        >
            <md-item-template>
                <span md-highlight-text="searchText_user" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
         <item-selector update-model="userRole.user"
               item-link="app.userRole.view.edit.userSearchModal" >
         </item-selector>
        </div>
     
        </md-input-container>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="userRoleSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="userRoleForm.$invalid"
                ng-click="submit(userRoleForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
