

<div id="owner_form"
     ng-init="pageTitle = (isEditForm)?'pages.owner.view.edit.title':'pages.owner.create.title'" data-ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content >
    <form name="ownerForm" novalidate layout-padding layout="column">
        <input name="version" type="hidden" ng-model="owner.version" />

        <md-input-container flex="100">
            <label for="address" translate="pages.owner.defaultFieldName.address"></label>
            
                    <input name="address"
                           aria-label="address"
                           type="text"
                           ng-model="owner.address"
                 required /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="city" translate="pages.owner.defaultFieldName.city"></label>
            
                    <input name="city"
                           aria-label="city"
                           type="text"
                           ng-model="owner.city"
                 required /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="firstName" translate="pages.owner.defaultFieldName.firstName"></label>
            
                    <input name="firstName"
                           aria-label="firstName"
                           type="text"
                           ng-model="owner.firstName"
                 required /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="lastName" translate="pages.owner.defaultFieldName.lastName"></label>
            
                    <input name="lastName"
                           aria-label="lastName"
                           type="text"
                           ng-model="owner.lastName"
                 required /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="telephone" translate="pages.owner.defaultFieldName.telephone"></label>
            
                    <input name="telephone"
                           aria-label="telephone"
                           type="text"
                           ng-model="owner.telephone"
                 ng-pattern="/\d+/"  required /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="pets" translate="pages.owner.defaultFieldName.pets"></label>
            <!--OneToMany-->
            <md-chips
                    ng-model="owner.pets"
                    readonly="false"
                    md-autocomplete-snap
                    md-require-match
                    flex
    ><md-autocomplete
                    md-selected-item="selectedItem_pets"
                    md-search-text="searchText_pets"
                    md-items="item in appCtrl.autocompleteService.petQuery(searchText_pets, ['id','name','birthDate'], true)"
                    md-item-text="item.name"
                    md-min-length="0"
                    placeholder="{{ 'pages.owner.defaultFieldName.pets' | translate }}"
                >
                <span md-highlight-text="searchText_pets">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
                <span>{{$chip.name}}</span>
            </md-chip-template>
    </md-chips>
        </md-input-container>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="ownerSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="ownerForm.$invalid"
                ng-click="submit(ownerForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
