


<div ng-if="!isModal" id="owner_view" ng-init="pageTitle = 'pages.owner.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout layout-sm="column">

            <label translate="pages.owner.defaultFieldName.address" flex="30"></label>
            <div class="read-field" ng-bind="owner.address" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.owner.defaultFieldName.city" flex="30"></label>
            <div class="read-field" ng-bind="owner.city" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.owner.defaultFieldName.firstName" flex="30"></label>
            <div class="read-field" ng-bind="owner.firstName" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.owner.defaultFieldName.lastName" flex="30"></label>
            <div class="read-field" ng-bind="owner.lastName" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.owner.defaultFieldName.telephone" flex="30"></label>
            <div class="read-field" ng-bind="owner.telephone" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">
<!--OneToMany-->
            <label translate="pages.owner.defaultFieldName.pets" flex="30"></label>
            <div class="read-field" ng-bind="owner.pets" flex="70"></div>
    
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.owner.view.edit({id:owner.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteOwner(owner)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>


<div ng-if="!isModal">
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>

        <md-tab ui-sref="app.owner.view.pet({relationName:'owners'})"
             ui-sref-active="active" label="asdsd">
            <md-tab-label>
                <span translate="pages.pet.view.lists"
                        translate-value-isval="{{::'pages.pet.defaultFieldName.owner' | translate }}"
                        translate-value-inval="{{::'pages.pet.name' | translate }}"></span>
            </md-tab-label>
        </md-tab>

    </md-tabs>

    <div ui-view="tabs" ><div class="content-body">{{::'tabs.selecttab' | translate}}</div></div>
    </md-content>
</div>

    

