


<div id="owner_view" ng-init="pageTitle = 'pages.owner.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
    <md-content layout-padding layout="column">

<div class="input-container" layout layout-sm="column">

            <label translate="pages.owner.view.field.address" flex="20"></label>
            <div class="read-field" ng-bind="owner.address" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.owner.view.field.city" flex="20"></label>
            <div class="read-field" ng-bind="owner.city" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.owner.view.field.firstName" flex="20"></label>
            <div class="read-field" ng-bind="owner.firstName" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.owner.view.field.lastName" flex="20"></label>
            <div class="read-field" ng-bind="owner.lastName" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.owner.view.field.telephone" flex="20"></label>
            <div class="read-field" ng-bind="owner.telephone" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">
<!--OneToMany-->
            <label translate="pages.owner.view.field.pets" flex="20"></label>
            <div class="read-field" ng-bind="owner.pets" flex="30"></div>
    
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.owner.view.edit({id:owner.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteOwner(owner)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
    </md-content>
</div>


<div ng-if="!isModal">
    <tabset>


        <tab ui-sref="app.owner.view.pet({relationName:'owners'})"
             ui-sref-active="active">
            <tab-heading
                   translate="pages.pet.view.lists"
                   translate-value-isval="{{::'pages.pet.view.field.owner' | translate }}"
                   translate-value-inval="{{::'pages.pet.name' | translate }}">
            </tab-heading>
        </tab>

    </tabset>

    <div ui-view="tabs" ><div class="content-body">{{::'pages.owner.view.selecttab' | translate}}</div></div>
</div>
    

