

<div id="speciality_form"
     ng-init="pageTitle = (isEditForm)?'pages.speciality.view.edit.title':'pages.speciality.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="specialityForm" novalidate>
        <input name="version" type="hidden" ng-model="speciality.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="name"
               translate="pages.speciality.defaultFieldName.name" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="name"
                           aria-label="name"
                           type="text"
                           ng-model="speciality.name"
                 md-minlength="3"  md-maxlength="20"  required /> 
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="specialitySubmitBtn"
                class="md-raised md-primary"
                ng-disabled="specialityForm.$invalid"
                ng-click="submit(specialityForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
