


<div ng-if="!isModal" id="speciality_view" ng-init="pageTitle = 'pages.speciality.view.title'"
     ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout="row" layout-align="start center">

            <label translate="pages.speciality.defaultFieldName.name" flex="20"></label>
            <div class="read-field" ng-bind="speciality.name" flex="80"></div>
    
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.speciality.view.edit({id:speciality.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteSpeciality(speciality)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>



