


<div ng-if="!isModal" id="embed_view" ng-init="pageTitle = 'pages.embed.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout layout-sm="column">
<!--Autocomplete-->

        <label translate="pages.embed.defaultFieldName.acCustomMap" flex="30"></label>
        <div class="read-field" ng-bind="embed.acCustomMap && autocompleteService.testStringSimpleFormatLabel(embed.acCustomMap)"
             flex="70"
                ></div>

</div>
<div class="input-container" layout layout-sm="column">
<!--Autocomplete-->

        <label translate="pages.embed.defaultFieldName.acMap" flex="30"></label>
        <div class="read-field" ng-bind="embed.acMap && autocompleteService.testStringSimpleFormatLabel(embed.acMap)"
             flex="70"
                ></div>

</div>
<div class="input-container" layout layout-sm="column">
<!--Autocomplete-->

        <label translate="pages.embed.defaultFieldName.acStr" flex="30"></label>
        <div class="read-field" ng-bind="embed.acStr && autocompleteService.testStringSimpleFormatLabel(embed.acStr)"
             flex="70"
                ></div>

</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.embed.defaultFieldName.muFileLocation" flex="30"></label>
            <div class="read-field" ng-bind="embed.muFileLocation" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.embed.defaultFieldName.myFile" flex="30"></label>
            <div class="read-field" ng-model="embed.myFile" byte-downloader flex="70"></div>
    
</div>


                    <div class="looks-like-toolbar" ng-init="myEmbeddedFieldOpen = true" ng-click="myEmbeddedFieldOpen = !myEmbeddedFieldOpen" id="myEmbeddedFieldEmbedded">
                        <div class="md-toolbar-tools">
                           <h2 translate='pages.embed.defaultFieldName.myEmbeddedField.title'></h2>
                            <span flex></span>
                            <md-icon md-font-set="material-icons" class="md-primary" ng-if="!embedOpen">expand_more</md-icon>
                            <md-icon md-font-set="material-icons" class="md-primary" ng-if="embedOpen">expand_less</md-icon>
                        </div>
                    </div>
                    <md-content ng-if="embedOpen" layout-padding class="embedded-content">
                    <div class="input-container" layout layout-sm="column">
<!--Map-->

        <label translate="pages.embed.defaultFieldName.myEmbeddedField.jsonMap" flex="30"></label>
        <div class="read-field" class="jsonView jsonRead" flex="70">
            <json child="embed.myEmbeddedField.jsonMap" default-collapsed="false" type="object"></json>
        </div>
    
</div>
<div class="input-container" layout layout-sm="column">
<!--Autocomplete-->

        <label translate="pages.embed.defaultFieldName.myEmbeddedField.myAc" flex="30"></label>
        <div class="read-field" ng-bind="embed.myEmbeddedField.myAc && autocompleteService.testStringSimpleFormatLabel(embed.myEmbeddedField.myAc)"
             flex="70"
                ></div>

</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.embed.defaultFieldName.myEmbeddedField.str" flex="30"></label>
            <div class="read-field" ng-bind="embed.myEmbeddedField.str" flex="70"></div>
    
</div>

                    </md-content>

                    

    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.embed.view.edit({id:embed.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteEmbed(embed)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>



