
    <!-- Content Header (Page header) -->
    <md-toolbar md-scroll-shrink id="embed_list" class="md-hue-1" ng-init="pageTitle = 'pages.embed.list.title'">
        <div class="md-toolbar-tools">
            <h3>
                <span translate-once="{{::pageTitle}}"></span>
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="isSearchOpen = !isSearchOpen">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <md-tooltip ><span translate="button.search"></span></md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-if="!isModal" ui-sref="app.embed.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <md-tooltip ><span translate="pages.embed.list.new"></span></md-tooltip>
            </md-button>
            <div class="breadcrumb" ng-if="!isModal && !isTab" ncy-breadcrumb>
            </div>
        </div>
    </md-toolbar>

    <md-content>

    <div ng-if="isSearchOpen" layout-padding>
         <form name="embedForm" novalidate>
             <div layout="row" layout-align="start start">
             
                        <md-input-container flex>
                    <!--ManyToOne-->
    <md-chips
            ng-init="search.acCustomMaps = []"
            ng-model="search.acCustomMaps"
            readonly="false"
            md-autocomplete-snap
            md-require-match
    ><md-autocomplete
            md-selected-item="selectedItem_acCustomMap"
            md-search-text="searchText_acCustomMap"
            md-items="item in appCtrl.autocompleteService.testStringSimpleQuery(searchText_acCustomMap)"
            md-item-text="item.name || item.label"
            md-min-length="0"
            placeholder="{{'pages.embed.defaultFieldName.acCustomMap' | translate}}"
        >
        <span md-highlight-text="searchText_acCustomMap">{{item.name || item.label}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>{{$chip.name || $chip.label}}</span>
    </md-chip-template>
    </md-chips></md-input-container>

                        <md-input-container flex>
                    <!--ManyToOne-->
    <md-chips
            ng-init="search.acMaps = []"
            ng-model="search.acMaps"
            readonly="false"
            md-autocomplete-snap
            md-require-match
    ><md-autocomplete
            md-selected-item="selectedItem_acMap"
            md-search-text="searchText_acMap"
            md-items="item in appCtrl.autocompleteService.testStringSimpleQuery(searchText_acMap)"
            md-item-text="item.name || item.label"
            md-min-length="0"
            placeholder="{{'pages.embed.defaultFieldName.acMap' | translate}}"
        >
        <span md-highlight-text="searchText_acMap">{{item.name || item.label}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>{{$chip.name || $chip.label}}</span>
    </md-chip-template>
    </md-chips></md-input-container>

                        <md-input-container flex>
                    <!--ManyToOne-->
    <md-chips
            ng-init="search.acStrs = []"
            ng-model="search.acStrs"
            readonly="false"
            md-autocomplete-snap
            md-require-match
    ><md-autocomplete
            md-selected-item="selectedItem_acStr"
            md-search-text="searchText_acStr"
            md-items="item in appCtrl.autocompleteService.testStringSimpleQuery(searchText_acStr)"
            md-item-text="item.name || item.label"
            md-min-length="0"
            placeholder="{{'pages.embed.defaultFieldName.acStr' | translate}}"
        >
        <span md-highlight-text="searchText_acStr">{{item.name || item.label}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>{{$chip.name || $chip.label}}</span>
    </md-chip-template>
    </md-chips></md-input-container>

                        <md-input-container flex>
                    <label translate="pages.embed.defaultFieldName.muFileLocation"></label>
                    <input
                    	name="muFileLocation"
                    	aria-label="muFileLocation"
                   		ng-model="search.muFileLocation"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.embed.defaultFieldName.myFile"></label>
                    <input 
                    	name="myFile"
                    	aria-label="myFile"
                    	ng-model="search.myFile"
                    	>
              </md-input-container>
<!-- No type for jsonMap -->

                        <md-input-container flex>
                    <!--ManyToOne-->
    <md-chips
            ng-init="search.myEmbeddedFieldMyAcs = []"
            ng-model="search.myEmbeddedFieldMyAcs"
            readonly="false"
            md-autocomplete-snap
            md-require-match
    ><md-autocomplete
            md-selected-item="selectedItem_myEmbeddedField_myAc"
            md-search-text="searchText_myEmbeddedField_myAc"
            md-items="item in appCtrl.autocompleteService.testStringSimpleQuery(searchText_myEmbeddedField_myAc)"
            md-item-text="item.name || item.label"
            md-min-length="0"
            placeholder="{{'pages.embed.defaultFieldName.myEmbeddedField.myAc' | translate}}"
        >
        <span md-highlight-text="searchText_myEmbeddedField_myAc">{{item.name || item.label}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>{{$chip.name || $chip.label}}</span>
    </md-chip-template>
    </md-chips></md-input-container>

                        <md-input-container flex>
                    <label translate="pages.embed.defaultFieldName.myEmbeddedField.str"></label>
                    <input
                    	name="myEmbeddedField.str"
                    	aria-label="myEmbeddedField.str"
                   		ng-model="search.myEmbeddedField.str"
                   		type="text"
                 /> </md-input-container>

             </div>

        </form>
    </div>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="embed in $data">
                    <td class="text-left action-buttons">
                        <a ui-sref="app.embed.view({id:embed.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.embed.view.edit({id:embed.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deleteEmbed(embed)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(embed)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.embed.defaultFieldName.id' | translate" sortable="'id'">{{::embed.id}}</td>					
			   		
        <td data-title="'pages.embed.defaultFieldName.acCustomMap' | translate" sortable="'acCustomMap'">
{{::embed.acCustomMap}}</td>				 	
			   		
        <td data-title="'pages.embed.defaultFieldName.acMap' | translate" sortable="'acMap'">
{{::embed.acMap}}</td>				 	
			   		
        <td data-title="'pages.embed.defaultFieldName.acStr' | translate" sortable="'acStr'">
{{::embed.acStr}}</td>				 	
			   		
        <td data-title="'pages.embed.defaultFieldName.muFileLocation' | translate" sortable="'muFileLocation'">
{{::embed.muFileLocation}}</td>				 	
			   		
        <td data-title="'pages.embed.defaultFieldName.myFile' | translate" sortable="'myFile'">
{{::embed.myFile}}</td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>