

<div id="embed_form"
     ng-init="pageTitle = (isEditForm)?'pages.embed.view.edit.title':'pages.embed.create.title'" data-ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content >
    <form name="embedForm" novalidate layout-padding layout="column">
        <input name="version" type="hidden" ng-model="embed.version" />

        <md-input-container flex="100">
            <label for="acCustomMap" translate="pages.embed.defaultFieldName.acCustomMap"></label>
            <!--Autocomplete-->
        <md-autocomplete
                input-name="acCustomMap"
                md-cache="false"
                md-selected-item="embed.acCustomMap"
                md-search-text="searchText_acCustomMap"
                md-items="item in appCtrl.autocompleteService.testStringSimpleQuery(searchText_acCustomMap)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
    
        >
            <md-item-template>
                <span md-highlight-text="searchText_acCustomMap" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="acMap" translate="pages.embed.defaultFieldName.acMap"></label>
            <!--Autocomplete-->
        <md-autocomplete
                input-name="acMap"
                md-cache="false"
                md-selected-item="embed.acMap"
                md-search-text="searchText_acMap"
                md-items="item in appCtrl.autocompleteService.testStringSimpleQuery(searchText_acMap)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
    
        >
            <md-item-template>
                <span md-highlight-text="searchText_acMap" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="acStr" translate="pages.embed.defaultFieldName.acStr"></label>
            <!--Autocomplete-->
        <md-autocomplete
                input-name="acStr"
                md-cache="false"
                md-selected-item="embed.acStr"
                md-search-text="searchText_acStr"
                md-items="item in appCtrl.autocompleteService.testStringSimpleQuery(searchText_acStr)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
    
        >
            <md-item-template>
                <span md-highlight-text="searchText_acStr" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="muFileLocation" translate="pages.embed.defaultFieldName.muFileLocation"></label>
            <div class="input-group input-group">
    <div
         name="muFileLocation"
         uploader-widget
         uploaded-items-to-model="embed.muFileLocation" upload-only-one="false"
            ></div>
</div>
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="myFile" translate="pages.embed.defaultFieldName.myFile"></label>
            <div class="input-group input-group">
    <div
         name="myFile"
         uploader-widget
         bytes-model="embed.myFile"
         ></div>
    </div>
        </md-input-container>
	

        <div class="looks-like-toolbar" ng-init="myEmbeddedFieldOpen = true" ng-click="myEmbeddedFieldOpen = !myEmbeddedFieldOpen" id="myEmbeddedFieldEmbedded">
            <div class="md-toolbar-tools">
                <h2 translate='pages.embed.defaultFieldName.myEmbeddedField.title'></h2>
                <span flex></span>
                <md-icon md-font-set="material-icons" class="md-primary" ng-if="!myEmbeddedFieldOpen">expand_more</md-icon>
                <md-icon md-font-set="material-icons" class="md-primary" ng-if="myEmbeddedFieldOpen">expand_less</md-icon>
            </div>
        </div>
        <md-content ng-show="myEmbeddedFieldOpen" layout-padding class="embedded-content">
                    
        <md-input-container flex="100">
            <label for="myEmbeddedField.jsonMap" translate="pages.embed.defaultFieldName.myEmbeddedField.jsonMap"></label>
            
        <div class="jsonView">
            <json child="embed.myEmbeddedField.jsonMap" default-collapsed="false" type="object"></json>
        </div> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="myEmbeddedField" translate="pages.embed.defaultFieldName.myEmbeddedField.myAc"></label>
            <!--Autocomplete-->
        <md-autocomplete
                input-name="myEmbeddedField"
                md-cache="false"
                md-selected-item="embed.myEmbeddedField.myAc"
                md-search-text="searchText_myEmbeddedField_myAc"
                md-items="item in appCtrl.autocompleteService.testStringSimpleQuery(searchText_myEmbeddedField_myAc)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
    
        >
            <md-item-template>
                <span md-highlight-text="searchText_myEmbeddedField_myAc" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="myEmbeddedField.str" translate="pages.embed.defaultFieldName.myEmbeddedField.str"></label>
            
                    <input name="myEmbeddedField.str"
                           aria-label="myEmbeddedField.str"
                           type="text"
                           ng-model="embed.myEmbeddedField.str"
                 /> 
        </md-input-container>
	

        </md-content>


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="embedSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="embedForm.$invalid"
                ng-click="submit(embedForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
