

<div id="vet_form"
     ng-init="pageTitle = (isEditForm)?'pages.vet.view.edit.title':'pages.vet.create.title'" data-ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content >
    <form name="vetForm" novalidate layout-padding layout="column">
        <input name="version" type="hidden" ng-model="vet.version" />

        <md-input-container flex="100">
            <label for="firstName" translate="pages.vet.defaultFieldName.firstName"></label>
            
                    <input name="firstName"
                           aria-label="firstName"
                           type="text"
                           ng-model="vet.firstName"
                 required /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="lastName" translate="pages.vet.defaultFieldName.lastName"></label>
            
                    <input name="lastName"
                           aria-label="lastName"
                           type="text"
                           ng-model="vet.lastName"
                 required /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="specialities" translate="pages.vet.defaultFieldName.specialities"></label>
            <!--ManyToMany-->
            <md-chips
                    ng-model="vet.specialities"
                    readonly="false"
                    md-autocomplete-snap
                    md-require-match
                    flex
    ><md-autocomplete
                    md-selected-item="selectedItem_specialities"
                    md-search-text="searchText_specialities"
                    md-items="item in appCtrl.autocompleteService.specialityQuery(searchText_specialities, ['id','name'], true)"
                    md-item-text="item.name"
                    md-min-length="0"
                    placeholder="{{ 'pages.vet.defaultFieldName.specialities' | translate }}"
                >
                <span md-highlight-text="searchText_specialities">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
                <span>{{$chip.name}}</span>
            </md-chip-template>
    </md-chips>
        </md-input-container>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="vetSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="vetForm.$invalid"
                ng-click="submit(vetForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
