
<div id="vet_list" ng-init="pageTitle = 'pages.vet.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
<div class="list-search">
<accordion close-others="false">
    <accordion-group  heading="{{::'pages.vet.list.table.search' | translate}}"  is-open="isSearchOpen">
         <form name="vetForm" novalidate>
        <div class="row form-inline">
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="firstName"
                   		ng-model="search.firstName"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.vet.list.search.placeholder.firstName' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="lastName"
                   		ng-model="search.lastName"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.vet.list.search.placeholder.lastName' | translate}}"  ></div> </div>
            
        </div>
    
                </form>
            </accordion-group>
        </accordion>
        <div class="box-tools pull-right" ng-if="!isModal">
            <a class="btn btn-default btn-xs" ui-sref="app.vet.create">
                <i class="fa fa-plus" translate="pages.vet.list.new" mx-show-loading></i>
            </a>
        </div>

        <div class="clearfix"></div>
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="vet in $data">
                    <td class="text-left" >
                        <a class="btn btn-default btn-xs" ui-sref="app.vet.view({id:vet.id})" ng-if="!isModal">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ui-sref="app.vet.view.edit({id:vet.id})" ng-if="!isModal">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" ng-click="deleteVet(vet)" mx-show-loading ng-if="!isModal">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ng-click="selectItem(vet)" ng-if="isModal">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>

                    <td data-title="'pages.vet.list.table.header.id' | translate" sortable="'id'">{{::vet.id}}</td>					
			   		
        <td data-title="'pages.vet.list.table.header.firstName' | translate" sortable="'firstName'">
{{::vet.firstName}}</td>				 	
			   		
        <td data-title="'pages.vet.list.table.header.lastName' | translate" sortable="'lastName'">
{{::vet.lastName}}</td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </div>
</div>