

<div id="vet_view" ng-init="pageTitle = 'pages.Vet.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="wrapper-md bg-white-only ng-scope">
    <div class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label"
                   translate="pages.Vet.view.field.firstName"></label>
            <div class="col-sm-10 form-control-static"
                 ng-bind="vet.firstName"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    

        <div class="form-group">
            <label class="col-sm-2 control-label"
                   translate="pages.Vet.view.field.lastName"></label>
            <div class="col-sm-10 form-control-static"
                 ng-bind="vet.lastName"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    
<!--ManyToMany-->
    <div class="form-group">
        <label class="col-sm-2 control-label" translate="pages.Vet.view.field.specialities"></label>
        <div class="col-sm-10 form-control-static">
            <div ng-repeat="item in vet.specialities">
<span ng-bind="item.id"></span> <span ng-bind="item.name"></span> </div></div></div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    

    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group" ng-if="!isModal">

        <div class="form-action pull-right">
            <a id="editBtn" class="btn btn-default"
               ui-sref="app.vet.edit({id:vet.id})">
                <i class="fa fa-edit" translate="pages.Vet.view.edit"></i>
            </a>
            <a id="deleteBtn" class="btn btn-danger"
               ng-click="deleteVet(vet)" mx-show-loading>
                <i class="fa fa-trash-o" translate="pages.Vet.view.delete"></i>
            </a>

            <a id="backBtn" class="btn btn-default" ng-click="back()">
                <i class="fa fa-chevron-left" translate="pages.Vet.view.back"></i>
            </a>
        </div>
        <div class="clearfix"/>
    </div>
</div>



