

<div id="classifier_form"
     ng-init="pageTitle = (isEditForm)?'pages.classifier.view.edit.title':'pages.classifier.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="classifierForm" novalidate>
        <input name="version" type="hidden" ng-model="classifier.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="classname"
               translate="pages.classifier.view.edit.form.field.classname" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
                    <input name="classname"
                           aria-label="classname"
                           type="text"
                           ng-model="classifier.classname"
                 /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="constant"
               translate="pages.classifier.view.edit.form.field.constant" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
                    <input name="constant"
                           aria-label="constant"
                           type="text"
                           ng-model="classifier.constant"
                 md-minlength="1"  md-maxlength="100"  required /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="description"
               translate="pages.classifier.view.edit.form.field.description" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
            <textarea rows="5"
                      name="description"
                      aria-label="description"
                      type="text"
                      ng-model="classifier.description"
                 md-minlength="1"  md-maxlength="500"  required > </textarea>
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="propertyname"
               translate="pages.classifier.view.edit.form.field.propertyname" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
                    <input name="propertyname"
                           aria-label="propertyname"
                           type="text"
                           ng-model="classifier.propertyname"
                 /> 
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="classifierSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="classifierForm.$invalid"
                ng-click="submit(classifierForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
