

<div id="classifier_form"
     ng-init="pageTitle = (isEditForm)?'pages.classifier.view.edit.title':'pages.classifier.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
    <form name="classifierForm" class="form-validation form-horizontal" novalidate>
        <input name="version" type="hidden" ng-model="classifier.version" />

	<div class="form-group">
		<label class="col-sm-2 control-label" for="classname"
               translate="pages.classifier.view.edit.form.field.classname"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
                    <input id="classname" name="classname" class="form-control"
                           type="text"
                           ng-model="classifier.classname"
                 /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="constant"
               translate="pages.classifier.view.edit.form.field.constant"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
                    <input id="constant" name="constant" class="form-control"
                           type="text"
                           ng-model="classifier.constant"
                 ng-minlength="1"  ng-maxlength="100"  required /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="description"
               translate="pages.classifier.view.edit.form.field.description"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
            <textarea rows="5"
                      id="description" name="description" class="form-control"
                      type="text"
                      ng-model="classifier.description"
                 ng-minlength="1"  ng-maxlength="500"  required > </textarea></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="propertyname"
               translate="pages.classifier.view.edit.form.field.propertyname"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
                    <input id="propertyname" name="propertyname" class="form-control"
                           type="text"
                           ng-model="classifier.propertyname"
                 /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	


        <div class="form-group">
            <div class="form-action pull-right">
                <button id="classifierSubmitBtn"
                    class="btn btn-success"
                    type='submit'
                    ng-disabled="classifierForm.$invalid"
                    translate="pages.classifier.view.edit.form.submit"
                    mx-show-loading ng-click="submit(classifierForm)"></button>
                <a class="btn btn-default" ng-click="back()" translate="pages.classifier.view.edit.form.cancel" mx-show-loading></a>
            </div>
            <div class="clearfix"/>
        </div>
    </form>
</div>