
    <!-- Content Header (Page header) -->
    <md-toolbar md-scroll-shrink id="classifier_list" class="md-hue-1" ng-init="pageTitle = 'pages.classifier.list.title'">
        <div class="md-toolbar-tools">
            <h3>
                <span translate-once="{{::pageTitle}}"></span>
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="isSearchOpen = !isSearchOpen">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <md-tooltip ><span translate="button.search"></span></md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-if="!isModal" ui-sref="app.classifier.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <md-tooltip ><span translate="pages.classifier.list.new"></span></md-tooltip>
            </md-button>
            <div class="breadcrumb" ng-if="!isModal && !isTab" ncy-breadcrumb>
            </div>
        </div>
    </md-toolbar>

    <md-content>

    <div ng-if="isSearchOpen">
         <form name="classifierForm" novalidate>
             <div layout="row" layout-align="start start">
             
                        <md-input-container flex>
                    <label translate="pages.classifier.defaultFieldName.classname"></label>
                    <input
                    	name="classname"
                    	aria-label="classname"
                   		ng-model="search.classname"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.classifier.defaultFieldName.constant"></label>
                    <input
                    	name="constant"
                    	aria-label="constant"
                   		ng-model="search.constant"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.classifier.defaultFieldName.description"></label>
                    <input
                    	name="description"
                    	aria-label="description"
                   		ng-model="search.description"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.classifier.defaultFieldName.propertyname"></label>
                    <input
                    	name="propertyname"
                    	aria-label="propertyname"
                   		ng-model="search.propertyname"
                   		type="text"
                 /> </md-input-container>

             </div>

        </form>
    </div>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" >
	      	<tbody>
				<tr ng-repeat="classifier in $data">
                    <td class="text-left action-buttons">
                        <a ui-sref="app.classifier.view({id:classifier.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.classifier.view.edit({id:classifier.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deleteClassifier(classifier)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(classifier)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.classifier.defaultFieldName.id' | translate" sortable="'id'">{{::classifier.id}}</td>					
			   		
        <td data-title="'pages.classifier.defaultFieldName.classname' | translate" sortable="'classname'">
{{::classifier.classname}}</td>				 	
			   		
        <td data-title="'pages.classifier.defaultFieldName.constant' | translate" sortable="'constant'">
{{::classifier.constant}}</td>				 	
			   		
        <td data-title="'pages.classifier.defaultFieldName.description' | translate" sortable="'description'">
{{::classifier.description}}</td>				 	
			   		
        <td data-title="'pages.classifier.defaultFieldName.propertyname' | translate" sortable="'propertyname'">
{{::classifier.propertyname}}</td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>