
<div ng-if="!isModal" id="classifier_list" ng-init="pageTitle = 'pages.classifier.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div>


<md-content>
    <md-toolbar class="md-gray" ng-click="isSearchOpen = !isSearchOpen">
        <div class="md-toolbar-tools">
            <md-button class="md-raised">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <span translate="button.search"></span>
            </md-button>
            <span flex></span>
            <md-button class="md-raised" ng-if="!isModal" ui-sref="app.classifier.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <span translate="pages.classifier.list.new"></span>
            </md-button>
        </div>
    </md-toolbar>
    <md-content ng-if="isSearchOpen" layout-padding>
         <form name="classifierForm" novalidate>
             <md-grid-list
                     md-row-height="50px"
                     md-cols="6"
                     md-cols-sm="1" md-cols-md="4"
                     md-gutter="6px"
                   >
            <md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    <label translate="pages.classifier.defaultFieldName.classname"></label>
                    <input
                    	name="classname"
                    	aria-label="classname"
                   		ng-model="search.classname"
                   		type="text"
                 /> </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    <label translate="pages.classifier.defaultFieldName.constant"></label>
                    <input
                    	name="constant"
                    	aria-label="constant"
                   		ng-model="search.constant"
                   		type="text"
                 /> </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    <label translate="pages.classifier.defaultFieldName.description"></label>
                    <input
                    	name="description"
                    	aria-label="description"
                   		ng-model="search.description"
                   		type="text"
                 /> </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    <label translate="pages.classifier.defaultFieldName.propertyname"></label>
                    <input
                    	name="propertyname"
                    	aria-label="propertyname"
                   		ng-model="search.propertyname"
                   		type="text"
                 /> </md-input-container></md-grid-tile>

            </md-grid-list>

        </form>
    </md-content>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="classifier in $data">
                    <td class="text-left" >
                        <a ui-sref="app.classifier.view({id:classifier.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.classifier.view.edit({id:classifier.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deleteClassifier(classifier)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(classifier)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.classifier.defaultFieldName.id' | translate" sortable="'id'">{{::classifier.id}}</td>					
			   		
        <td data-title="'pages.classifier.defaultFieldName.classname' | translate" sortable="'classname'">
{{::classifier.classname}}</td>				 	
			   		
        <td data-title="'pages.classifier.defaultFieldName.constant' | translate" sortable="'constant'">
{{::classifier.constant}}</td>				 	
			   		
        <td data-title="'pages.classifier.defaultFieldName.description' | translate" sortable="'description'">
{{::classifier.description}}</td>				 	
			   		
        <td data-title="'pages.classifier.defaultFieldName.propertyname' | translate" sortable="'propertyname'">
{{::classifier.propertyname}}</td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>