


<div id="classifier_view" ng-init="pageTitle = 'pages.classifier.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
    <md-content layout-padding layout="column">

<div class="input-container" layout layout-sm="column">

            <label translate="pages.classifier.view.field.classname" flex="20"></label>
            <div class="read-field" ng-bind="classifier.classname" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.classifier.view.field.constant" flex="20"></label>
            <div class="read-field" ng-bind="classifier.constant" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.classifier.view.field.description" flex="20"></label>
            <div class="read-field" ng-bind="classifier.description" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.classifier.view.field.propertyname" flex="20"></label>
            <div class="read-field" ng-bind="classifier.propertyname" flex="30"></div>
    
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.classifier.view.edit({id:classifier.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteClassifier(classifier)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
    </md-content>
</div>



