

<div id="classifier_form"
     ng-init="pageTitle = (isEditForm)?'pages.classifier.view.edit.title':'pages.classifier.create.title'" data-ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content >
    <form name="classifierForm" novalidate layout-padding layout="column">
        <input name="version" type="hidden" ng-model="classifier.version" />

        <md-input-container flex="100">
            <label for="classname" translate="pages.classifier.defaultFieldName.classname"></label>
            
                    <input name="classname"
                           aria-label="classname"
                           type="text"
                           ng-model="classifier.classname"
                 /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="constant" translate="pages.classifier.defaultFieldName.constant"></label>
            
                    <input name="constant"
                           aria-label="constant"
                           type="text"
                           ng-model="classifier.constant"
                 md-minlength="1"  md-maxlength="100"  required /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="description" translate="pages.classifier.defaultFieldName.description"></label>
            
            <textarea rows="5"
                      name="description"
                      aria-label="description"
                      type="text"
                      ng-model="classifier.description"
                 md-minlength="1"  md-maxlength="500"  required > </textarea>
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="propertyname" translate="pages.classifier.defaultFieldName.propertyname"></label>
            
                    <input name="propertyname"
                           aria-label="propertyname"
                           type="text"
                           ng-model="classifier.propertyname"
                 /> 
        </md-input-container>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="classifierSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="classifierForm.$invalid"
                ng-click="submit(classifierForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
