







<div ng-init="pageTitle = 'pages.Tag.list.title'" data-ng-include=" 'components/blocks/page_heading.html' " ng-hide="isEmbeddedView" ></div>

<div class="wrapper-md ng-scope"  st-table="rowCollection" st-pipe="callServer" >
<accordion close-others="false">
    <accordion-group  heading="{{'pages.Tag.list.table.search' | translate}}"  is-open="isSearchOpen">
      <div class="row">
		 
	   		<div class="col-lg-2 form-inline"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="name" class="form-control" type="text" st-search="'name'" placeholder="{{'pages.Tag.list.search.placeholder.name' | translate}}"  ></div> </div>		 
		</div>
    </accordion-group>
</accordion>
  <div class="panel panel-default">
    <div class="panel-heading">
      	<span translate="pages.Tag.list.table.title"></span>
      	<div class="box-tools pull-right">
			<a class="btn btn-default btn-xs" ui-sref="app.tag.create">
				<i class="fa fa-plus" translate="pages.Tag.list.new" mx-show-loading></i>
	       	</a>
		</div>
    </div>
    <div class="panel-body">
		
		 <div>
	      <table class="table table-responsive">
	      	<thead>
	      		<tr>
	      			<th width='20' st-sort="id" translate="pages.Tag.list.table.header.id"></th>	      		
			   		<th st-sort="name" translate="pages.Tag.list.table.header.name" ></th>				 
				 	<th></th>
				</tr>
	      	</thead>
	      
	      	<tbody ng-hide="isLoading">
	      		
				<tr ng-repeat="tag in rowCollection">
					 <td>{{tag.id}}</td>					
			   		<td>{{tag.name}}</td>				 	
				 	
		            <td class="text-right">
		            	<a class="btn btn-default btn-xs" ui-sref="app.tag.view({id:tag.id})">
		            		<i class="fa fa-eye" translate="pages.Tag.list.view"></i>
		            	</a>
		            	<a class="btn btn-default btn-xs" ui-sref="app.tag.edit({id:tag.id})">
		            		<i class="fa fa-edit" translate="pages.Tag.list.edit"></i>
		            	</a>
		            	<a class="btn btn-danger btn-xs" ng-click="deleteTag(tag)" mx-show-loading>
		            		<i class="fa fa-trash-o" translate="pages.Tag.list.delete" ></i>
		            	</a>
		            </td>
				</tr>
			</tbody>
			<tfoot ng-hide="isLoading">
	          <tr>
	            <td colspan="10" class="text-center">
	              <div st-pagination="" st-items-by-page="stTable.itemsByPage" st-displayed-pages="15" ></div>
	            </td>
	          </tr>
	        </tfoot>
	      </table>
	    </div>
	</div>
  </div>
</div>