
    <!-- Content Header (Page header) -->
    <md-toolbar md-scroll-shrink id="person_list" class="md-hue-1" ng-init="pageTitle = 'pages.person.list.title'">
        <div class="md-toolbar-tools">
            <h3>
                <span translate-once="{{::pageTitle}}"></span>
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="isSearchOpen = !isSearchOpen">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <md-tooltip ><span translate="button.search"></span></md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-if="!isModal" ui-sref="app.person.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <md-tooltip ><span translate="pages.person.list.new"></span></md-tooltip>
            </md-button>
            <div class="breadcrumb" ng-if="!isModal && !isTab" ncy-breadcrumb>
            </div>
        </div>
    </md-toolbar>

    <md-content>

    <div ng-if="isSearchOpen" layout-padding>
         <form name="personForm" novalidate>
             <div layout="row" layout-align="start start">
             
                        <md-input-container flex>
                    <label translate="pages.person.defaultFieldName.firstName"></label>
                    <input
                    	name="firstName"
                    	aria-label="firstName"
                   		ng-model="search.firstName"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.person.defaultFieldName.lastName"></label>
                    <input
                    	name="lastName"
                    	aria-label="lastName"
                   		ng-model="search.lastName"
                   		type="text"
                 /> </md-input-container>

             </div>

        </form>
    </div>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="person in $data">
                    <td class="text-left action-buttons">
                        <a ui-sref="app.person.view({id:person.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.person.view.edit({id:person.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deletePerson(person)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(person)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.person.defaultFieldName.id' | translate" sortable="'id'">{{::person.id}}</td>					
			   		
        <td data-title="'pages.person.defaultFieldName.firstName' | translate" sortable="'firstName'">
{{::person.firstName}}</td>				 	
			   		
        <td data-title="'pages.person.defaultFieldName.lastName' | translate" sortable="'lastName'">
{{::person.lastName}}</td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>