


<div ng-if="!isModal" id="person_view" ng-init="pageTitle = 'pages.person.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout layout-sm="column">

            <label translate="pages.person.defaultFieldName.firstName" flex="30"></label>
            <div class="read-field" ng-bind="person.firstName" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.person.defaultFieldName.lastName" flex="30"></label>
            <div class="read-field" ng-bind="person.lastName" flex="70"></div>
    
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.person.view.edit({id:person.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deletePerson(person)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>



