

<div id="person_form"
     ng-init="pageTitle = (isEditForm)?'pages.person.view.edit.title':'pages.person.create.title'" data-ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content >
    <form name="personForm" novalidate layout-padding layout="column">
        <input name="version" type="hidden" ng-model="person.version" />

        <md-input-container flex="100">
            <label for="firstName" translate="pages.person.defaultFieldName.firstName"></label>
            
                    <input name="firstName"
                           aria-label="firstName"
                           type="text"
                           ng-model="person.firstName"
                 required /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="lastName" translate="pages.person.defaultFieldName.lastName"></label>
            
                    <input name="lastName"
                           aria-label="lastName"
                           type="text"
                           ng-model="person.lastName"
                 required /> 
        </md-input-container>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="personSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="personForm.$invalid"
                ng-click="submit(personForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
