
<div id="person_list" ng-init="pageTitle = 'pages.person.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
<div class="list-search">
<accordion close-others="false">
    <accordion-group  heading="{{::'pages.person.list.table.search' | translate}}"  is-open="isSearchOpen">
         <form name="personForm" novalidate>
        <div class="row form-inline">
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="firstName"
                   		ng-model="search.firstName"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.person.list.search.placeholder.firstName' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="lastName"
                   		ng-model="search.lastName"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.person.list.search.placeholder.lastName' | translate}}"  ></div> </div>
            
        </div>
    
                </form>
            </accordion-group>
        </accordion>
        <div class="box-tools pull-right" ng-if="!isModal">
            <a class="btn btn-default btn-xs" ui-sref="app.person.create">
                <i class="fa fa-plus" translate="pages.person.list.new" mx-show-loading></i>
            </a>
        </div>

        <div class="clearfix"></div>
        <div class="list-search-table">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody ng-hide="tableParams.settings().$loading">
				<tr ng-repeat="person in $data">
                    <td class="text-left" >
                        <a class="btn btn-default btn-xs" ui-sref="app.person.view({id:person.id})" ng-if="!isModal">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ui-sref="app.person.view.edit({id:person.id})" ng-if="!isModal">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" ng-click="deletePerson(person)" mx-show-loading ng-if="!isModal">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ng-click="selectItem(person)" ng-if="isModal">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>

                    <td data-title="'pages.person.list.table.header.id' | translate" sortable="'id'">{{::person.id}}</td>					
			   		
        <td data-title="'pages.person.list.table.header.firstName' | translate" sortable="'firstName'">
{{::person.firstName}}</td>				 	
			   		
        <td data-title="'pages.person.list.table.header.lastName' | translate" sortable="'lastName'">
{{::person.lastName}}</td>				 	

				</tr>
			</tbody>
              <tbody ng-show="tableParams.settings().$loading">
                  <tr>
                      <td class="text-center" translate="messages.loading"></td>
                  </tr>
              </tbody>
	      </table>
        </div>
    </div>
</div>