

<div id="person_form"
     ng-init="pageTitle = (isEditForm)?'pages.person.view.edit.title':'pages.person.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="personForm" novalidate>
        <input name="version" type="hidden" ng-model="person.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="firstName"
               translate="pages.person.defaultFieldName.firstName" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="firstName"
                           aria-label="firstName"
                           type="text"
                           ng-model="person.firstName"
                 required /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="lastName"
               translate="pages.person.defaultFieldName.lastName" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="lastName"
                           aria-label="lastName"
                           type="text"
                           ng-model="person.lastName"
                 required /> 
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="personSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="personForm.$invalid"
                ng-click="submit(personForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
