


<div ng-if="!isModal" id="tag_view" ng-init="pageTitle = 'pages.tag.view.title'"
     ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout="row" layout-align="start center">

            <label translate="pages.tag.defaultFieldName.name" flex="20"></label>
            <div class="read-field" ng-bind="tag.name" flex="80"></div>
    
</div>
<div class="input-container" layout="row" layout-align="start center">
<!--ManyToMany-->
        <label translate="pages.tag.defaultFieldName.tasks" flex="20"></label>
        <div class="read-field" flex="80">
            <div ng-repeat="item in tag.tasks">
<span ng-bind="item.id"></span> <span ng-bind="item.timeSpent"></span> <span ng-bind="item.summary"></span> <span ng-bind="item.status"></span> </div></div>
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.tag.view.edit({id:tag.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteTag(tag)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>



