

<div id="tag_form"
     ng-init="pageTitle = (isEditForm)?'pages.tag.view.edit.title':'pages.tag.create.title'" data-ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content >
    <form name="tagForm" novalidate layout-padding layout="column">
        <input name="version" type="hidden" ng-model="tag.version" />

        <md-input-container flex="100">
            <label for="name" translate="pages.tag.defaultFieldName.name"></label>
            
                    <input name="name"
                           aria-label="name"
                           type="text"
                           ng-model="tag.name"
                 required /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="tasks" translate="pages.tag.defaultFieldName.tasks"></label>
            <!--ManyToMany-->
            <md-chips
                    ng-model="tag.tasks"
                    readonly="false"
                    md-autocomplete-snap
                    md-require-match
                    flex
    ><md-autocomplete
                    md-selected-item="selectedItem_tasks"
                    md-search-text="searchText_tasks"
                    md-items="item in appCtrl.autocompleteService.taskQuery(searchText_tasks, ['id','timeSpent','summary','status'], true)"
                    md-item-text="item.name"
                    md-min-length="0"
                    placeholder="{{ 'pages.tag.defaultFieldName.tasks' | translate }}"
                >
                <span md-highlight-text="searchText_tasks">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
                <span>{{$chip.name}}</span>
            </md-chip-template>
    </md-chips>
        </md-input-container>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="tagSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="tagForm.$invalid"
                ng-click="submit(tagForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
