

<div id="tag_view" ng-init="pageTitle = 'pages.Tag.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="wrapper-md bg-white-only ng-scope">
    <div class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label"
                   translate="pages.Tag.view.field.name"></label>
            <div class="col-sm-10 form-control-static"
                 ng-bind="tag.name"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    
<!--ManyToMany-->
    <div class="form-group">
        <label class="col-sm-2 control-label" translate="pages.Tag.view.field.tasks"></label>
        <div class="col-sm-10 form-control-static">
            <div ng-repeat="item in tag.tasks">
<span ng-bind="item.id"></span> <span ng-bind="item.timeSpent"></span> <span ng-bind="item.summary"></span> <span ng-bind="item.status"></span> </div></div></div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    

    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group" ng-if="!isModal">

        <div class="form-action pull-right">
            <a id="editBtn" class="btn btn-default"
               ui-sref="app.tag.edit({id:tag.id})">
                <i class="fa fa-edit" translate="pages.Tag.view.edit"></i>
            </a>
            <a id="deleteBtn" class="btn btn-danger"
               ng-click="deleteTag(tag)" mx-show-loading>
                <i class="fa fa-trash-o" translate="pages.Tag.view.delete"></i>
            </a>

            <a id="backBtn" class="btn btn-default" ng-click="back()">
                <i class="fa fa-chevron-left" translate="pages.Tag.view.back"></i>
            </a>
        </div>
        <div class="clearfix"/>
    </div>
</div>



