







<div ng-init="pageTitle = 'pages.PersonCollection.list.title'" data-ng-include=" 'components/blocks/page_heading.html' " ng-hide="isEmbeddedView" ></div>

<div class="wrapper-md ng-scope"  st-table="rowCollection" st-pipe="callServer" >
<accordion close-others="false">
    <accordion-group  heading="{{'pages.PersonCollection.list.table.search' | translate}}"  is-open="isSearchOpen">
      <div class="row">
		 
	   		<div class="col-lg-2 form-inline"><div class="input-group input-group-sm">
                        <span class="input-group-addon">nr</span>
                        <input name="age" ng-model="search.age" class="form-control" placeholder="{{'pages.PersonCollection.list.search.placeholder.age' | translate}}" st-search="'age'"  type="number"  ></div> </div>		 
	   		<div class="col-lg-2 form-inline"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="name" class="form-control" type="text" st-search="'name'" placeholder="{{'pages.PersonCollection.list.search.placeholder.name' | translate}}"  ></div> </div>		 
	   		<div class="col-lg-2 form-inline"><!--ManyToOne-->
     <div class="input-group input-group-sm" style="width:100%">
           <tags-input custom-st-search="division" 
              ng-model="search.division" placeholder="{{'pages.PersonCollection.list.search.placeholder.division' | translate}}">
              <auto-complete source="autocompleteService.divisionCollectionQuery($query, ['name'], true)" ></auto-complete>
            </tags-input></div></div>		 
		</div>
    </accordion-group>
</accordion>
  <div class="panel panel-default">
    <div class="panel-heading">
      	<span translate="pages.PersonCollection.list.table.title"></span>
      	<div class="box-tools pull-right">
			<a class="btn btn-default btn-xs" ui-sref="app.personCollection.create">
				<i class="fa fa-plus" translate="pages.PersonCollection.list.new" mx-show-loading></i>
	       	</a>
		</div>
    </div>
    <div class="panel-body">
		
		 <div>
	      <table class="table table-responsive">
	      	<thead>
	      		<tr>
	      			<th width='20' st-sort="id" translate="pages.PersonCollection.list.table.header.id"></th>	      		
			   		<th st-sort="age" translate="pages.PersonCollection.list.table.header.age" ></th>				 
			   		<th st-sort="name" translate="pages.PersonCollection.list.table.header.name" ></th>				 
			   		<th st-sort="division" translate="pages.PersonCollection.list.table.header.division" ></th>				 
				 	<th></th>
				</tr>
	      	</thead>
	      
	      	<tbody ng-hide="isLoading">
	      		
				<tr ng-repeat="personCollection in rowCollection">
					 <td>{{personCollection.id}}</td>					
			   		<td>{{personCollection.age}}</td>				 	
			   		<td>{{personCollection.name}}</td>				 	
			   		<td>{{personCollection.division.name}} </td>				 	
				 	
		            <td class="text-right">
		            	<a class="btn btn-default btn-xs" ui-sref="app.personCollection.view({id:personCollection.id})">
		            		<i class="fa fa-eye" translate="pages.PersonCollection.list.view"></i>
		            	</a>
		            	<a class="btn btn-default btn-xs" ui-sref="app.personCollection.edit({id:personCollection.id})">
		            		<i class="fa fa-edit" translate="pages.PersonCollection.list.edit"></i>
		            	</a>
		            	<a class="btn btn-danger btn-xs" ng-click="deletePersonCollection(personCollection)" mx-show-loading>
		            		<i class="fa fa-trash-o" translate="pages.PersonCollection.list.delete" ></i>
		            	</a>
		            </td>
				</tr>
			</tbody>
			<tfoot ng-hide="isLoading">
	          <tr>
	            <td colspan="10" class="text-center">
	              <div st-pagination="" st-items-by-page="stTable.itemsByPage" st-displayed-pages="15" ></div>
	            </td>
	          </tr>
	        </tfoot>
	      </table>
	    </div>
	</div>
  </div>
</div>