

<div id="user_view" ng-init="pageTitle = 'pages.User.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
    <div class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.User.view.field.accountExpired"></label>
            <div class="col-sm-10 form-control-static" ng-bind="user.accountExpired"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.User.view.field.accountLocked"></label>
            <div class="col-sm-10 form-control-static" ng-bind="user.accountLocked"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.User.view.field.enabled"></label>
            <div class="col-sm-10 form-control-static" ng-bind="user.enabled"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.User.view.field.passwordExpired"></label>
            <div class="col-sm-10 form-control-static" ng-bind="user.passwordExpired"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    

        <div class="form-group">
            <label class="col-sm-2 control-label"
                   translate="pages.User.view.field.username"></label>
            <div class="col-sm-10 form-control-static"
                 ng-bind="user.username"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    

    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group" ng-if="!isModal">

        <div class="form-action pull-right">
            <a id="editBtn" class="btn btn-default"
               ui-sref="app.user.edit({id:user.id})">
                <i class="fa fa-edit" translate="pages.User.view.edit"></i>
            </a>
            <a id="deleteBtn" class="btn btn-danger"
               ng-click="deleteUser(user)" mx-show-loading>
                <i class="fa fa-trash-o" translate="pages.User.view.delete"></i>
            </a>

            <a id="backBtn" class="btn btn-default" ng-click="back()">
                <i class="fa fa-chevron-left" translate="pages.User.view.back"></i>
            </a>
        </div>
        <div class="clearfix"/>
    </div>
</div>


<div ng-if="!isModal">
    <tabset>


        <tab ui-sref="app.user.view.userRole({relationName:'users'})"
             ui-sref-active="active">
            <tab-heading
                   translate="pages.UserRole.view.lists"
                   translate-value-isval="{{::'pages.UserRole.view.field.user' | translate }}"
                   translate-value-inval="{{::'pages.UserRole.name' | translate }}">
            </tab-heading>
        </tab>

    </tabset>
    <div ui-view ><div class="content-body">{{::'pages.User.view.selecttab' | translate}}</div></div>
</div>
    

