


<div id="user_view" ng-init="pageTitle = 'pages.user.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
    <md-content layout-padding layout="column">

<div class="input-container" layout layout-sm="column">

            <label translate="pages.user.view.field.accountExpired" flex="20"></label>
            <div class="read-field" ng-bind="user.accountExpired" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.user.view.field.accountLocked" flex="20"></label>
            <div class="read-field" ng-bind="user.accountLocked" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.user.view.field.enabled" flex="20"></label>
            <div class="read-field" ng-bind="user.enabled" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.user.view.field.passwordExpired" flex="20"></label>
            <div class="read-field" ng-bind="user.passwordExpired" flex="30"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.user.view.field.username" flex="20"></label>
            <div class="read-field" ng-bind="user.username" flex="30"></div>
    
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.user.view.edit({id:user.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteUser(user)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
    </md-content>
</div>


<div ng-if="!isModal">
    <tabset>


        <tab ui-sref="app.user.view.userRole({relationName:'users'})"
             ui-sref-active="active">
            <tab-heading
                   translate="pages.userRole.view.lists"
                   translate-value-isval="{{::'pages.userRole.view.field.user' | translate }}"
                   translate-value-inval="{{::'pages.userRole.name' | translate }}">
            </tab-heading>
        </tab>

    </tabset>

    <div ui-view="tabs" ><div class="content-body">{{::'pages.user.view.selecttab' | translate}}</div></div>
</div>
    

