
    <!-- Content Header (Page header) -->
    <md-toolbar md-scroll-shrink id="user_list" class="md-hue-1" ng-init="pageTitle = 'pages.user.list.title'">
        <div class="md-toolbar-tools">
            <h3>
                <span translate-once="{{::pageTitle}}"></span>
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="isSearchOpen = !isSearchOpen">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <md-tooltip ><span translate="button.search"></span></md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-if="!isModal" ui-sref="app.user.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <md-tooltip ><span translate="pages.user.list.new"></span></md-tooltip>
            </md-button>
            <div class="breadcrumb" ng-if="!isModal && !isTab" ncy-breadcrumb>
            </div>
        </div>
    </md-toolbar>

    <md-content>

    <div ng-if="isSearchOpen">
         <form name="userForm" novalidate>
             <div layout="row" layout-align="start start">
             
                        <md-input-container flex>
                    
	    <label translate="pages.user.defaultFieldName.accountExpired"></label>
        <md-select
                aria-label="accountExpired"
                ng-model="search.accountExpired"
                >
            <md-option ng-repeat="(key, value) in {'true':'true', 'false':'false', 'none':''}" value="{{value}}">{{'searchSelect.' + key | translate}}</md-option>
        </md-select>
        </md-input-container>

                        <md-input-container flex>
                    
	    <label translate="pages.user.defaultFieldName.accountLocked"></label>
        <md-select
                aria-label="accountLocked"
                ng-model="search.accountLocked"
                >
            <md-option ng-repeat="(key, value) in {'true':'true', 'false':'false', 'none':''}" value="{{value}}">{{'searchSelect.' + key | translate}}</md-option>
        </md-select>
        </md-input-container>

                        <md-input-container flex>
                    
	    <label translate="pages.user.defaultFieldName.enabled"></label>
        <md-select
                aria-label="enabled"
                ng-model="search.enabled"
                >
            <md-option ng-repeat="(key, value) in {'true':'true', 'false':'false', 'none':''}" value="{{value}}">{{'searchSelect.' + key | translate}}</md-option>
        </md-select>
        </md-input-container>

                        <md-input-container flex>
                    
	    <label translate="pages.user.defaultFieldName.passwordExpired"></label>
        <md-select
                aria-label="passwordExpired"
                ng-model="search.passwordExpired"
                >
            <md-option ng-repeat="(key, value) in {'true':'true', 'false':'false', 'none':''}" value="{{value}}">{{'searchSelect.' + key | translate}}</md-option>
        </md-select>
        </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.user.defaultFieldName.username"></label>
                    <input
                    	name="username"
                    	aria-label="username"
                   		ng-model="search.username"
                   		type="text"
                 /> </md-input-container>

             </div>

        </form>
    </div>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" >
	      	<tbody>
				<tr ng-repeat="user in $data">
                    <td class="text-left action-buttons">
                        <a ui-sref="app.user.view({id:user.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.user.view.edit({id:user.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deleteUser(user)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(user)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.user.defaultFieldName.id' | translate" sortable="'id'">{{::user.id}}</td>					
			   		
        <td data-title="'pages.user.defaultFieldName.accountExpired' | translate" sortable="'accountExpired'">
{{::user.accountExpired}}</td>				 	
			   		
        <td data-title="'pages.user.defaultFieldName.accountLocked' | translate" sortable="'accountLocked'">
{{::user.accountLocked}}</td>				 	
			   		
        <td data-title="'pages.user.defaultFieldName.enabled' | translate" sortable="'enabled'">
{{::user.enabled}}</td>				 	
			   		
        <td data-title="'pages.user.defaultFieldName.passwordExpired' | translate" sortable="'passwordExpired'">
{{::user.passwordExpired}}</td>				 	
			   		
        <td data-title="'pages.user.defaultFieldName.username' | translate" sortable="'username'">
{{::user.username}}</td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>