

<div id="user_form"
     ng-init="pageTitle = (isEditForm)?'pages.user.view.edit.title':'pages.user.create.title'" data-ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content >
    <form name="userForm" novalidate layout-padding layout="column">
        <input name="version" type="hidden" ng-model="user.version" />

        <md-input-container flex="100">
            <label for="accountExpired" translate="pages.user.defaultFieldName.accountExpired"></label>
            
<md-switch name="accountExpired"
           ng-model="user.accountExpired"
           aria-label="accountExpired Switch">
</md-switch>
		
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="accountLocked" translate="pages.user.defaultFieldName.accountLocked"></label>
            
<md-switch name="accountLocked"
           ng-model="user.accountLocked"
           aria-label="accountLocked Switch">
</md-switch>
		
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="enabled" translate="pages.user.defaultFieldName.enabled"></label>
            
<md-switch name="enabled"
           ng-model="user.enabled"
           aria-label="enabled Switch">
</md-switch>
		
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="passwordExpired" translate="pages.user.defaultFieldName.passwordExpired"></label>
            
<md-switch name="passwordExpired"
           ng-model="user.passwordExpired"
           aria-label="passwordExpired Switch">
</md-switch>
		
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="username" translate="pages.user.defaultFieldName.username"></label>
            
                    <input name="username"
                           aria-label="username"
                           type="text"
                           ng-model="user.username"
                 required /> 
        </md-input-container>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="userSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="userForm.$invalid"
                ng-click="submit(userForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
