
<div ng-if="!isModal" id="user_list" ng-init="pageTitle = 'pages.user.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div>


<md-content>
    <md-toolbar class="md-gray" ng-click="isSearchOpen = !isSearchOpen">
        <div class="md-toolbar-tools">
            <md-button class="md-raised">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <span translate="button.search"></span>
            </md-button>
            <span flex></span>
            <md-button class="md-raised" ng-if="!isModal" ui-sref="app.user.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <span translate="pages.user.list.new"></span>
            </md-button>
        </div>
    </md-toolbar>
    <md-content ng-if="isSearchOpen" layout-padding>
         <form name="userForm" novalidate>
             <md-grid-list
                     md-row-height="50px"
                     md-cols="6"
                     md-cols-sm="1" md-cols-md="4"
                     md-gutter="6px"
                   >
            <md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    
	    <label translate="pages.user.defaultFieldName.accountExpired"></label>
        <md-select
                aria-label="accountExpired"
                ng-model="search.accountExpired"
                >
            <md-option ng-repeat="(key, value) in {'true':'true', 'false':'false', 'none':''}" value="{{value}}">{{'searchSelect.' + key | translate}}</md-option>
        </md-select>
        </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    
	    <label translate="pages.user.defaultFieldName.accountLocked"></label>
        <md-select
                aria-label="accountLocked"
                ng-model="search.accountLocked"
                >
            <md-option ng-repeat="(key, value) in {'true':'true', 'false':'false', 'none':''}" value="{{value}}">{{'searchSelect.' + key | translate}}</md-option>
        </md-select>
        </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    
	    <label translate="pages.user.defaultFieldName.enabled"></label>
        <md-select
                aria-label="enabled"
                ng-model="search.enabled"
                >
            <md-option ng-repeat="(key, value) in {'true':'true', 'false':'false', 'none':''}" value="{{value}}">{{'searchSelect.' + key | translate}}</md-option>
        </md-select>
        </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    
	    <label translate="pages.user.defaultFieldName.passwordExpired"></label>
        <md-select
                aria-label="passwordExpired"
                ng-model="search.passwordExpired"
                >
            <md-option ng-repeat="(key, value) in {'true':'true', 'false':'false', 'none':''}" value="{{value}}">{{'searchSelect.' + key | translate}}</md-option>
        </md-select>
        </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    <label translate="pages.user.defaultFieldName.username"></label>
                    <input
                    	name="username"
                    	aria-label="username"
                   		ng-model="search.username"
                   		type="text"
                 /> </md-input-container></md-grid-tile>

            </md-grid-list>

        </form>
    </md-content>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="user in $data">
                    <td class="text-left" >
                        <a ui-sref="app.user.view({id:user.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.user.view.edit({id:user.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deleteUser(user)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(user)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.user.defaultFieldName.id' | translate" sortable="'id'">{{::user.id}}</td>					
			   		
        <td data-title="'pages.user.defaultFieldName.accountExpired' | translate" sortable="'accountExpired'">
{{::user.accountExpired}}</td>				 	
			   		
        <td data-title="'pages.user.defaultFieldName.accountLocked' | translate" sortable="'accountLocked'">
{{::user.accountLocked}}</td>				 	
			   		
        <td data-title="'pages.user.defaultFieldName.enabled' | translate" sortable="'enabled'">
{{::user.enabled}}</td>				 	
			   		
        <td data-title="'pages.user.defaultFieldName.passwordExpired' | translate" sortable="'passwordExpired'">
{{::user.passwordExpired}}</td>				 	
			   		
        <td data-title="'pages.user.defaultFieldName.username' | translate" sortable="'username'">
{{::user.username}}</td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>