

<div id="user_form"
     ng-init="pageTitle = (isEditForm)?'pages.user.view.edit.title':'pages.user.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="userForm" novalidate>
        <input name="version" type="hidden" ng-model="user.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="accountExpired"
               translate="pages.user.defaultFieldName.accountExpired" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
<md-switch name="accountExpired"
           ng-model="user.accountExpired"
           aria-label="accountExpired Switch">
</md-switch>
		
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="accountLocked"
               translate="pages.user.defaultFieldName.accountLocked" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
<md-switch name="accountLocked"
           ng-model="user.accountLocked"
           aria-label="accountLocked Switch">
</md-switch>
		
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="enabled"
               translate="pages.user.defaultFieldName.enabled" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
<md-switch name="enabled"
           ng-model="user.enabled"
           aria-label="enabled Switch">
</md-switch>
		
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="passwordExpired"
               translate="pages.user.defaultFieldName.passwordExpired" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
<md-switch name="passwordExpired"
           ng-model="user.passwordExpired"
           aria-label="passwordExpired Switch">
</md-switch>
		
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="username"
               translate="pages.user.defaultFieldName.username" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="username"
                           aria-label="username"
                           type="text"
                           ng-model="user.username"
                 required /> 
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="userSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="userForm.$invalid"
                ng-click="submit(userForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
