

<div id="user_form"
     ng-init="pageTitle = (isEditForm)?'pages.user.view.edit.title':'pages.user.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
    <form name="userForm" class="form-validation form-horizontal" novalidate>
        <input name="version" type="hidden" ng-model="user.version" />

	<div class="form-group">
		<label class="col-sm-2 control-label" for="accountExpired"
               translate="pages.user.view.edit.form.field.accountExpired"></label>
		<div class="col-sm-10">
            
		<div class="input-group input-group">
		  <ng-toggle  
		  disabled="disabled"
		  ng-true-val="true" 
		  ng-false-val="false"
          id="accountExpired"
          name="accountExpired"
		  ng-model="user.accountExpired"></ng-toggle>
		</div>
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="accountLocked"
               translate="pages.user.view.edit.form.field.accountLocked"></label>
		<div class="col-sm-10">
            
		<div class="input-group input-group">
		  <ng-toggle  
		  disabled="disabled"
		  ng-true-val="true" 
		  ng-false-val="false"
          id="accountLocked"
          name="accountLocked"
		  ng-model="user.accountLocked"></ng-toggle>
		</div>
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="enabled"
               translate="pages.user.view.edit.form.field.enabled"></label>
		<div class="col-sm-10">
            
		<div class="input-group input-group">
		  <ng-toggle  
		  disabled="disabled"
		  ng-true-val="true" 
		  ng-false-val="false"
          id="enabled"
          name="enabled"
		  ng-model="user.enabled"></ng-toggle>
		</div>
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="passwordExpired"
               translate="pages.user.view.edit.form.field.passwordExpired"></label>
		<div class="col-sm-10">
            
		<div class="input-group input-group">
		  <ng-toggle  
		  disabled="disabled"
		  ng-true-val="true" 
		  ng-false-val="false"
          id="passwordExpired"
          name="passwordExpired"
		  ng-model="user.passwordExpired"></ng-toggle>
		</div>
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="username"
               translate="pages.user.view.edit.form.field.username"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
                    <input id="username" name="username" class="form-control"
                           type="text"
                           ng-model="user.username"
                 required /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

        <div class="form-group">
            <div class="form-action pull-right">
                <button id="userSubmitBtn"
                    class="btn btn-success"
                    type='submit'
                    ng-disabled="userForm.$invalid"
                    translate="pages.user.view.edit.form.submit"
                    mx-show-loading ng-click="submit(userForm)"></button>
                <a class="btn btn-default" ng-click="back()" translate="pages.user.view.edit.form.cancel" mx-show-loading></a>
            </div>
            <div class="clearfix"/>
        </div>
    </form>
</div>