
<div id="user_list" ng-init="pageTitle = 'pages.User.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
<div class="list-search"  st-table="rowCollection" st-pipe="callServer" >
<accordion close-others="false">
    <accordion-group  heading="{{::'pages.User.list.table.search' | translate}}"  is-open="isSearchOpen">
        <div class="row form-inline">
            
                  <div class="col-lg-2 form-group">
    <div class="form-group">
	  <label for="accountExpired" class="control-label">
          {{::'pages.User.list.search.placeholder.accountExpired' | translate}}</label>
	  <div class="input-group input-group-sm">
		<ng-toggle 
			tri-toggle 
			name="accountExpired"
			ng-model="search.accountExpired"
			custom-st-search="accountExpired"
			ng-true-val="'true'" 
			ng-false-val="'false'" 
			></ng-toggle> 
	  </div>
	 </div>
     </div>
            
                  <div class="col-lg-2 form-group">
    <div class="form-group">
	  <label for="accountLocked" class="control-label">
          {{::'pages.User.list.search.placeholder.accountLocked' | translate}}</label>
	  <div class="input-group input-group-sm">
		<ng-toggle 
			tri-toggle 
			name="accountLocked"
			ng-model="search.accountLocked"
			custom-st-search="accountLocked"
			ng-true-val="'true'" 
			ng-false-val="'false'" 
			></ng-toggle> 
	  </div>
	 </div>
     </div>
            
                  <div class="col-lg-2 form-group">
    <div class="form-group">
	  <label for="enabled" class="control-label">
          {{::'pages.User.list.search.placeholder.enabled' | translate}}</label>
	  <div class="input-group input-group-sm">
		<ng-toggle 
			tri-toggle 
			name="enabled"
			ng-model="search.enabled"
			custom-st-search="enabled"
			ng-true-val="'true'" 
			ng-false-val="'false'" 
			></ng-toggle> 
	  </div>
	 </div>
     </div>
            
                  <div class="col-lg-2 form-group">
    <div class="form-group">
	  <label for="passwordExpired" class="control-label">
          {{::'pages.User.list.search.placeholder.passwordExpired' | translate}}</label>
	  <div class="input-group input-group-sm">
		<ng-toggle 
			tri-toggle 
			name="passwordExpired"
			ng-model="search.passwordExpired"
			custom-st-search="passwordExpired"
			ng-true-val="'true'" 
			ng-false-val="'false'" 
			></ng-toggle> 
	  </div>
	 </div>
     </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="username"
                   		ng-model="search.username"
                   		st-search="'username'"
                   		class="form-control" 
                   		type="text" 
                   		placeholder="{{::'pages.User.list.search.placeholder.username' | translate}}"  ></div> </div>
            
        </div>
    
            </accordion-group>
        </accordion>
        <div class="box-tools pull-right" ng-if="!isModal">
            <a class="btn btn-default btn-xs" ui-sref="app.user.create">
                <i class="fa fa-plus" translate="pages.User.list.new" mx-show-loading></i>
            </a>
        </div>

        <div class="clearfix"></div>
        <div class="list-search-table">
	      <table class="table table-responsive">
	      	<thead>
	      		<tr>
                    <th></th>
	      			<th width='20' st-sort="id" translate="pages.User.list.table.header.id"></th>	      		
			   		<th st-sort="accountExpired" translate="pages.User.list.table.header.accountExpired" ></th>				 
			   		<th st-sort="accountLocked" translate="pages.User.list.table.header.accountLocked" ></th>				 
			   		<th st-sort="enabled" translate="pages.User.list.table.header.enabled" ></th>				 
			   		<th st-sort="passwordExpired" translate="pages.User.list.table.header.passwordExpired" ></th>				 
			   		<th st-sort="username" translate="pages.User.list.table.header.username" ></th>				 

				</tr>
	      	</thead>
	      	<tbody ng-hide="isLoading">
				<tr ng-repeat="user in rowCollection">
                    <td class="text-left" >
                        <a class="btn btn-default btn-xs" ui-sref="app.user.view({id:user.id})" ng-if="!isModal">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ui-sref="app.user.edit({id:user.id})" ng-if="!isModal">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" ng-click="deleteUser(user)" mx-show-loading ng-if="!isModal">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ng-click="selectItem(user)" ng-if="isModal">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>
					 <td>{{::user.id}}</td>					
			   		<td>{{::user.accountExpired}}</td>				 	
			   		<td>{{::user.accountLocked}}</td>				 	
			   		<td>{{::user.enabled}}</td>				 	
			   		<td>{{::user.passwordExpired}}</td>				 	
			   		<td>{{::user.username}}</td>				 	

				</tr>
			</tbody>
              <tbody ng-show="isLoading">
                  <tr>
                      <td class="text-center" translate="messages.loading"></td>
                  </tr>
              </tbody>
			<tfoot ng-hide="isLoading">
	          <tr>
	            <td colspan="10" class="text-center" >
	              <div st-pagination="" st-items-by-page="stTable.itemsByPage" st-displayed-pages="15" ></div>
	            </td>
	          </tr>
	        </tfoot>
	      </table>
        </div>
    </div>
</div>