

<div id="testOther_view" ng-init="pageTitle = 'pages.testOther.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
    <div class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.testOther.view.field.booleanNullable"></label>
            <div class="col-sm-10 form-control-static" ng-bind="testOther.booleanNullable"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    

    <div class="form-group">
        <label class="col-sm-2 control-label"
               translate="pages.testOther.view.field.testDate"></label>
        <div class="col-sm-10 form-control-static"
             ng-bind="testOther.testDate | date:'yyyy-MM-dd HH:mm'"></div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    

        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.testOther.view.field.testEnum"></label>
            <div class="col-sm-10 form-control-static" ng-bind="testOther.testEnum"></div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    
<!--ManyToOne-->
        <div class="form-group">
            <label class="col-sm-2 control-label" translate="pages.testOther.view.field.testStringType"></label>
            <a ui-sref="app.testOther.view.testStringModal({modalId:testOther.testStringType.id})" >
            <div class="col-sm-10 form-control-static">
            <span ng-bind="testOther.testStringType.id"></span> <span ng-bind="testOther.testStringType.urlStr"></span> <span ng-bind="testOther.testStringType.uniqueStr"></span> <span ng-bind="testOther.testStringType.sizeStr"></span> </div></a></div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
    

    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group" ng-if="!isModal">

        <div class="form-action pull-right">
            <a id="editBtn" class="btn btn-default"
               ui-sref="app.testOther.view.edit({id:testOther.id})">
                <i class="fa fa-edit" translate="pages.testOther.view.buttons.edit"></i>
            </a>
            <a id="deleteBtn" class="btn btn-danger"
               ng-click="deleteTestOther(testOther)" mx-show-loading>
                <i class="fa fa-trash-o" translate="pages.testOther.view.buttons.delete"></i>
            </a>

            <a id="backBtn" class="btn btn-default" ng-click="back()">
                <i class="fa fa-chevron-left" translate="pages.testOther.view.buttons.back"></i>
            </a>
        </div>
        <div class="clearfix"/>
    </div>
</div>



