


<div ng-if="!isModal" id="testOther_view" ng-init="pageTitle = 'pages.testOther.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout layout-sm="column">

            <label translate="pages.testOther.defaultFieldName.booleanNullable" flex="30"></label>
            <div class="read-field" ng-bind="testOther.booleanNullable" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

        <label translate="pages.testOther.defaultFieldName.testDate" flex="30"></label>
        <div class="read-field" ng-bind="testOther.testDate | date:'yyyy-MM-dd HH:mm'" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.testOther.defaultFieldName.testEnum" flex="30"></label>
            <div class="read-field" ng-bind="testOther.testEnum" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">
<!--ManyToOne-->

            <label translate="pages.testOther.defaultFieldName.testStringType" flex="30"></label>
            <div class="read-field">
                <a  ui-sref="app.testOther.view.testStringModal({modalId:testOther.testStringType.id})" flex="70">
                <span ng-bind="testOther.testStringType.id"></span> <span ng-bind="testOther.testStringType.urlStr"></span> <span ng-bind="testOther.testStringType.uniqueStr"></span> <span ng-bind="testOther.testStringType.sizeStr"></span> </a></div>
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.testOther.view.edit({id:testOther.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteTestOther(testOther)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>



