

<div id="testOther_form"
     ng-init="pageTitle = (isEditForm)?'pages.testOther.view.edit.title':'pages.testOther.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="testOtherForm" novalidate>
        <input name="version" type="hidden" ng-model="testOther.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="booleanNullable"
               translate="pages.testOther.view.edit.form.field.booleanNullable" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
<md-switch name="booleanNullable"
           ng-model="testOther.booleanNullable"
           aria-label="booleanNullable Switch">
</md-switch>
		
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="testDate"
               translate="pages.testOther.view.edit.form.field.testDate" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
     <input name="testDate"
            aria-label="testDate"
            type="text"
            ng-model="testOther.testDate"
            bs-datepicker
      
      />
      
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="testEnum"
               translate="pages.testOther.view.edit.form.field.testEnum" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            
            <md-select
                    aria-label="testEnum"
                    ng-model="testOther.testEnum"
    ><md-option ng-repeat="item in autocompleteService.testOtherTestEnumList" >{{item}}</md-option>
            </md-select>
 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="testStringType"
               translate="pages.testOther.view.edit.form.field.testStringType" flex="20"/>
        <md-input-container md-no-float="true" flex="30" layout="row">
            <!-- ManyToOne-->
        <md-autocomplete
                input-name="testStringType"
                md-cache="false"
                md-selected-item="testOther.testStringType"
                md-search-text="searchText_testStringType"
                md-items="item in autocompleteService.testStringQuery(searchText_testStringType)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
    
        >
            <md-item-template>
                <span md-highlight-text="searchText_testStringType" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
         <item-selector update-model="testOther.testStringType"
               item-link="app.testOther.view.edit.testStringSearchModal" >
         </item-selector>
     
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="testOtherSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="testOtherForm.$invalid"
                ng-click="submit(testOtherForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
