
<div ng-if="!isModal" id="testOther_list" ng-init="pageTitle = 'pages.testOther.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div>


<md-content>
    <md-toolbar class="md-gray" ng-click="isSearchOpen = !isSearchOpen">
        <div class="md-toolbar-tools">
            <md-button class="md-raised">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <span translate="button.search"></span>
            </md-button>
            <span flex></span>
            <md-button class="md-raised" ng-if="!isModal" ui-sref="app.testOther.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <span translate="pages.testOther.list.new"></span>
            </md-button>
        </div>
    </md-toolbar>
    <md-content ng-if="isSearchOpen" layout-padding>
         <form name="testOtherForm" novalidate>
             <md-grid-list
                     md-row-height="50px"
                     md-cols="6"
                     md-cols-sm="1" md-cols-md="4"
                     md-gutter="6px"
                   >
            <md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    
	    <label translate="pages.testOther.defaultFieldName.booleanNullable"></label>
        <md-select
                aria-label="booleanNullable"
                ng-model="search.booleanNullable"
                >
            <md-option ng-repeat="(key, value) in {'true':'true', 'false':'false', 'none':''}" value="{{value}}">{{'searchSelect.' + key | translate}}</md-option>
        </md-select>
        </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    
    <label translate="pages.testOther.defaultFieldName.testDate"></label>
     <input 
     	name="testDate"
     	aria-label="testDate"
     	ng-model="search.testDate"
     	type="text" 
        bs-datepicker
        data-model-date-format="yyyy-MM-dd'T'HH:mm:ssZ"
        data-date-type='string'
      
      />
      </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    
    <label translate="pages.testOther.defaultFieldName.testEnum"></label>
    <md-select
            aria-label="testEnum"
            ng-model="search.testOther.testEnum"
        >
        <md-option ng-repeat="item in autocompleteService.testOtherTestEnumList" >{{item}}</md-option>
    </md-select>
    </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="3" md-colspan-sm="1"><md-input-container flex class="chips-autocomplete" md-no-float><!--ManyToMany-->
    <md-chips
            ng-init="search.testStringType = []"
            ng-model="search.testStringType"
            readonly="false"
            md-autocomplete-snap
            md-require-match
    ><md-autocomplete
            md-selected-item="selectedItem_testStringType"
            md-search-text="searchText_testStringType"
            md-items="item in autocompleteService.testStringQuery(searchText_testStringType, ['id','urlStr','uniqueStr','sizeStr'], true)"
            md-item-text="item.name || item.label"
            placeholder="{{'pages.testOther.defaultFieldName.testStringType' | translate}}"
        >
        <span md-highlight-text="searchText_testStringType">{{item.name || item.label}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>{{$chip.name || $chip.label}}</span>
    </md-chip-template>
    </md-chips></md-input-container></md-grid-tile>

            </md-grid-list>

        </form>
    </md-content>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="testOther in $data">
                    <td class="text-left" >
                        <a ui-sref="app.testOther.view({id:testOther.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.testOther.view.edit({id:testOther.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deleteTestOther(testOther)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(testOther)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.testOther.defaultFieldName.id' | translate" sortable="'id'">{{::testOther.id}}</td>					
			   		
        <td data-title="'pages.testOther.defaultFieldName.booleanNullable' | translate" sortable="'booleanNullable'">
{{::testOther.booleanNullable}}</td>				 	
			   		
        <td data-title="'pages.testOther.defaultFieldName.testDate' | translate" sortable="'testDate'">
{{::testOther.testDate | date:'yyyy-MM-dd HH:mm'}}</td>				 	
			   		
        <td data-title="'pages.testOther.defaultFieldName.testEnum' | translate" sortable="'testEnum'">
{{::testOther.testEnum}}</td>				 	
			   		
        <td data-title="'pages.testOther.defaultFieldName.testStringType' | translate" sortable="'testStringType'">
{{::testOther.testStringType.id}} {{::testOther.testStringType.urlStr}} {{::testOther.testStringType.uniqueStr}} {{::testOther.testStringType.sizeStr}} </td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>