
    <!-- Content Header (Page header) -->
    <md-toolbar md-scroll-shrink id="testOther_list" class="md-hue-1" ng-init="pageTitle = 'pages.testOther.list.title'">
        <div class="md-toolbar-tools">
            <h3>
                <span translate-once="{{::pageTitle}}"></span>
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="isSearchOpen = !isSearchOpen">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <md-tooltip ><span translate="button.search"></span></md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-if="!isModal" ui-sref="app.testOther.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <md-tooltip ><span translate="pages.testOther.list.new"></span></md-tooltip>
            </md-button>
            <div class="breadcrumb" ng-if="!isModal && !isTab" ncy-breadcrumb>
            </div>
        </div>
    </md-toolbar>

    <md-content>

    <div ng-if="isSearchOpen">
         <form name="testOtherForm" novalidate>
             <div layout="row" layout-align="start start">
             
                        <md-input-container flex>
                    
	    <label translate="pages.testOther.defaultFieldName.booleanNullable"></label>
        <md-select
                aria-label="booleanNullable"
                ng-model="search.booleanNullable"
                >
            <md-option ng-repeat="(key, value) in {'true':'true', 'false':'false', 'none':''}" value="{{value}}">{{'searchSelect.' + key | translate}}</md-option>
        </md-select>
        </md-input-container>

                        <md-input-container flex>
                    
    <label translate="pages.testOther.defaultFieldName.testDate"></label>
     <input 
     	name="testDate"
     	aria-label="testDate"
     	ng-model="search.testDate"
     	type="text" 
        bs-datepicker
        data-model-date-format="yyyy-MM-dd'T'HH:mm:ssZ"
        data-date-type='string'
      
      />
      </md-input-container>

                        <md-input-container flex>
                    
    <label translate="pages.testOther.defaultFieldName.testEnum"></label>
    <md-select
            aria-label="testEnum"
            ng-model="search.testOther.testEnum"
        >
        <md-option ng-repeat="item in appCtrl.autocompleteService.testOtherTestEnumList" >{{item}}</md-option>
    </md-select>
    </md-input-container>

                        <md-input-container flex>
                    <!--ManyToMany-->
    <md-chips
            ng-init="search.testStringType = []"
            ng-model="search.testStringType"
            readonly="false"
            md-autocomplete-snap
            md-require-match
    ><md-autocomplete
            md-selected-item="selectedItem_testStringType"
            md-search-text="searchText_testStringType"
            md-items="item in appCtrl.autocompleteService.testStringQuery(searchText_testStringType, ['id','urlStr','uniqueStr','sizeStr'], true)"
            md-item-text="item.name || item.label"
            md-min-length="0"
            placeholder="{{'pages.testOther.defaultFieldName.testStringType' | translate}}"
        >
        <span md-highlight-text="searchText_testStringType">{{item.name || item.label}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>{{$chip.name || $chip.label}}</span>
    </md-chip-template>
    </md-chips></md-input-container>

             </div>

        </form>
    </div>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" >
	      	<tbody>
				<tr ng-repeat="testOther in $data">
                    <td class="text-left action-buttons">
                        <a ui-sref="app.testOther.view({id:testOther.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.testOther.view.edit({id:testOther.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deleteTestOther(testOther)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(testOther)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.testOther.defaultFieldName.id' | translate" sortable="'id'">{{::testOther.id}}</td>					
			   		
        <td data-title="'pages.testOther.defaultFieldName.booleanNullable' | translate" sortable="'booleanNullable'">
{{::testOther.booleanNullable}}</td>				 	
			   		
        <td data-title="'pages.testOther.defaultFieldName.testDate' | translate" sortable="'testDate'">
{{::testOther.testDate | date:'yyyy-MM-dd HH:mm'}}</td>				 	
			   		
        <td data-title="'pages.testOther.defaultFieldName.testEnum' | translate" sortable="'testEnum'">
{{::testOther.testEnum}}</td>				 	
			   		
        <td data-title="'pages.testOther.defaultFieldName.testStringType' | translate" sortable="'testStringType'">
{{::testOther.testStringType.id}} {{::testOther.testStringType.urlStr}} {{::testOther.testStringType.uniqueStr}} {{::testOther.testStringType.sizeStr}} </td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>