

<div id="testOther_form"
     ng-init="pageTitle = (isEditForm)?'pages.testOther.view.edit.title':'pages.testOther.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
    <form name="testOtherForm" class="form-validation form-horizontal" novalidate>
        <input name="version" type="hidden" ng-model="testOther.version" />

	<div class="form-group">
		<label class="col-sm-2 control-label" for="booleanNullable"
               translate="pages.testOther.view.edit.form.field.booleanNullable"></label>
		<div class="col-sm-10">
            
		<div class="input-group input-group">
		  <ng-toggle tri-toggle 
		  disabled="disabled"
		  ng-true-val="true" 
		  ng-false-val="false"
          id="booleanNullable"
          name="booleanNullable"
		  ng-model="testOther.booleanNullable"></ng-toggle>
		</div>
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="testDate"
               translate="pages.testOther.view.edit.form.field.testDate"></label>
		<div class="col-sm-10">
            
     <div class="input-group input-group">
     <input id="testDate" name="testDate" type="text" class="form-control"
            ng-model="testOther.testDate"
	     datepicker-popup
	     is-open="testOther._testDateOpen"
	     ng-click="testOther._testDateOpen = true"
      
      />
     <span class="input-group-addon">
       <i class="glyphicon glyphicon-calendar"></i>
     </span>
     </div>
      
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="testEnum"
               translate="pages.testOther.view.edit.form.field.testEnum"></label>
		<div class="col-sm-10">
            
     <div class="input-group input-group">
          <span class="input-group-addon">enum</span>   
          <input id="testEnum" name="testEnum" type="text" class="form-control"
                 ng-model="testOther.testEnum"
                 typeahead="b for b in autocompleteService.testOtherTestEnumList  | filter:$viewValue"   /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="testStringType"
               translate="pages.testOther.view.edit.form.field.testStringType"></label>
		<div class="col-sm-10">
            <!--ManyToOne-->
     <div class="input-group input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>  
          <input id="testStringType" name="testStringType" type="text" class="form-control"
          ng-model="testOther.testStringType"
          typeahead-template-url="testStringTypeAutocompleteTemplate.html"
          typeahead-editable="false" 
          typeahead="b for b in autocompleteService.testStringQuery($viewValue, ['id','urlStr','uniqueStr','sizeStr'])" 
         
          typeahead-input-formatter="autocompleteService.testStringFormatLabel($model, ['id','urlStr','uniqueStr','sizeStr'])"
       />
         <span class="input-group-btn" item-selector update-model="testOther.testStringType"
               ui-link="app.testOther.view.edit.testStringSearchModal" >
         </span>
     </div> 
     <script type="text/ng-template" id="testStringTypeAutocompleteTemplate.html"><a><span bind-html-unsafe="match.model.id | typeaheadHighlight:query"></span> <span bind-html-unsafe="match.model.urlStr | typeaheadHighlight:query"></span> <span bind-html-unsafe="match.model.uniqueStr | typeaheadHighlight:query"></span> <span bind-html-unsafe="match.model.sizeStr | typeaheadHighlight:query"></span> </a></script>
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	


        <div class="form-group">
            <div class="form-action pull-right">
                <button id="testOtherSubmitBtn"
                    class="btn btn-success"
                    type='submit'
                    ng-disabled="testOtherForm.$invalid"
                    translate="pages.testOther.view.edit.form.submit"
                    mx-show-loading ng-click="submit(testOtherForm)"></button>
                <a class="btn btn-default" ng-click="back()" translate="pages.testOther.view.edit.form.cancel" mx-show-loading></a>
            </div>
            <div class="clearfix"/>
        </div>
    </form>
</div>