

<div id="testOther_form"
     ng-init="pageTitle = (isEditForm)?'pages.testOther.view.edit.title':'pages.testOther.create.title'" data-ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content >
    <form name="testOtherForm" novalidate layout-padding layout="column">
        <input name="version" type="hidden" ng-model="testOther.version" />

        <md-input-container flex="100">
            <label for="booleanNullable" translate="pages.testOther.defaultFieldName.booleanNullable"></label>
            
<md-switch name="booleanNullable"
           ng-model="testOther.booleanNullable"
           aria-label="booleanNullable Switch">
</md-switch>
		
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="testDate" translate="pages.testOther.defaultFieldName.testDate"></label>
            
     <input name="testDate"
            aria-label="testDate"
            type="text"
            ng-model="testOther.testDate"
            bs-datepicker
      
      />
      
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="testEnum" translate="pages.testOther.defaultFieldName.testEnum"></label>
            
            <md-select
                    aria-label="testEnum"
                    ng-model="testOther.testEnum"
    ><md-option ng-repeat="item in appCtrl.autocompleteService.testOtherTestEnumList" >{{item}}</md-option>
            </md-select>
 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="testStringType" translate="pages.testOther.defaultFieldName.testStringType"></label>
            <!-- ManyToOne--><div layout="row" layout-align="start center"> 
        <md-autocomplete
                input-name="testStringType"
                md-cache="false"
                md-selected-item="testOther.testStringType"
                md-search-text="searchText_testStringType"
                md-items="item in appCtrl.autocompleteService.testStringQuery(searchText_testStringType)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
    
        >
            <md-item-template>
                <span md-highlight-text="searchText_testStringType" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
         <item-selector update-model="testOther.testStringType"
               item-link="app.testOther.view.edit.testStringSearchModal" >
         </item-selector>
        </div>
     
        </md-input-container>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="testOtherSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="testOtherForm.$invalid"
                ng-click="submit(testOtherForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
