



<div ng-init="pageTitle = (isEditForm)?'pages.TestOther.edit.title':'pages.TestOther.create.title'" data-ng-include=" 'components/blocks/page_heading.html' "></div>
<div class="wrapper-md ng-scope">
    <div class="row">
        <div class="col-sm-6">
            <form name="testOtherForm" class="form-validation form-horizontal"  
            	novalidate>
                <div class="panel panel-default">
                	<div class="panel-heading">
                      <span class="h4" translate="pages.TestOther.edit.form.title"></span>
                    </div>
                    <div class="panel-body">
                
                
	<div class="form-group">
		<label class="col-sm-2 control-label" for="booleanNullable" translate="pages.TestOther.edit.form.field.booleanNullable"></label>
		<div class="col-sm-10">
            
		<div class="input-group input-group-sm">
		  <ng-toggle tri-toggle 
		  disabled="disabled"
		  ng-true-val="true" 
		  ng-false-val="false" 
		  ng-model="testOther.booleanNullable"></ng-toggle> 
		</div>                     
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	                
                
	<div class="form-group">
		<label class="col-sm-2 control-label" for="testDate" translate="pages.TestOther.edit.form.field.testDate"></label>
		<div class="col-sm-10">
            
     <div class="input-group input-group-sm">
     <input name="testDate" type="text" class="form-control" ng-model="testOther.testDate" 
	     datepicker-popup
	     is-open="testOther.testDateOpen" 
	     ng-click="testOther.testDateOpen = true"
      
      />
     <span class="input-group-addon">
       <i class="glyphicon glyphicon-calendar"></i>
     </span>
     </div>
                           
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	                
                
	<div class="form-group">
		<label class="col-sm-2 control-label" for="testEnum" translate="pages.TestOther.edit.form.field.testEnum"></label>
		<div class="col-sm-10">
            
     <div class="input-group input-group-sm">
          <span class="input-group-addon">enum</span>   
          <input name="testEnum" type="text" class="form-control" ng-model="testOther.testEnum"  typeahead="b for b in autocompleteService.testOtherTestEnumList  | filter:$viewValue"  ></div>                      
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	                
                
	<div class="form-group">
		<label class="col-sm-2 control-label" for="testStringType" translate="pages.TestOther.edit.form.field.testStringType"></label>
		<div class="col-sm-10">
            <!--ManyToOne-->
     <div class="input-group input-group-sm">
          <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>  
          <input name="testStringType" type="text" class="form-control" 
          ng-model="testOther.testStringType"   
          typeahead-template-url="testStringTypeAutocompleteTemplate.html" 
          typeahead-editable="false" 
          typeahead="b for b in autocompleteService.testStringQuery($viewValue, ['id'])" 
         
          typeahead-input-formatter="autocompleteService.testStringFormatLabel($model, ['id'])"
      ></div> 
     <script type="text/ng-template" id="testStringTypeAutocompleteTemplate.html"><a><span bind-html-unsafe="match.model.id | typeaheadHighlight:query"></span> </a></script>                     
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	                
                	</div>
                    <footer class="panel-footer text-right bg-light lter">
                      	<button class="btn btn-success" type='submit' ng-disabled="testOtherForm.$invalid" translate="pages.TestOther.edit.form.submit" mx-show-loading ng-click="submit(testOtherForm)"></button> 
                		<a class="btn btn-default" ng-click="back()" translate="pages.TestOther.edit.form.cancel" mx-show-loading></a> 
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>