

<div id="personCollectionless_form"
     ng-init="pageTitle = (isEditForm)?'pages.personCollectionless.view.edit.title':'pages.personCollectionless.create.title'" data-ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content >
    <form name="personCollectionlessForm" novalidate layout-padding layout="column">
        <input name="version" type="hidden" ng-model="personCollectionless.version" />

        <md-input-container flex="100">
            <label for="age" translate="pages.personCollectionless.defaultFieldName.age"></label>
            <input
                           name="age"
                           aria-label="age"
                           ng-model="personCollectionless.age"  type="number"  required />
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="name" translate="pages.personCollectionless.defaultFieldName.name"></label>
            
                    <input name="name"
                           aria-label="name"
                           type="text"
                           ng-model="personCollectionless.name"
                 required /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="division" translate="pages.personCollectionless.defaultFieldName.division"></label>
            <!-- ManyToOne--><div layout="row" layout-align="start center"> 
        <md-autocomplete
                input-name="division"
                md-cache="false"
                md-selected-item="personCollectionless.division"
                md-search-text="searchText_division"
                md-items="item in appCtrl.autocompleteService.divisionCollectionlessQuery(searchText_division)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
    
        >
            <md-item-template>
                <span md-highlight-text="searchText_division" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
         <item-selector update-model="personCollectionless.division"
               item-link="app.personCollectionless.view.edit.divisionCollectionlessSearchModal" >
         </item-selector>
        </div>
     
        </md-input-container>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="personCollectionlessSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="personCollectionlessForm.$invalid"
                ng-click="submit(personCollectionlessForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
