

<div id="personCollectionless_form"
     ng-init="pageTitle = (isEditForm)?'pages.personCollectionless.view.edit.title':'pages.personCollectionless.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
    <form name="personCollectionlessForm" class="form-validation form-horizontal" novalidate>
        <input name="version" type="hidden" ng-model="personCollectionless.version" />

	<div class="form-group">
		<label class="col-sm-2 control-label" for="age"
               translate="pages.personCollectionless.view.edit.form.field.age"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
	      				<span class="input-group-addon">nr</span>
	      				<input id="age" name="age" class="form-control"
                               ng-model="personCollectionless.age"  type="number"  required /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="name"
               translate="pages.personCollectionless.view.edit.form.field.name"></label>
		<div class="col-sm-10">
            <div class="input-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    
                    <input id="name" name="name" class="form-control"
                           type="text"
                           ng-model="personCollectionless.name"
                 required /></div> 
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

	<div class="form-group">
		<label class="col-sm-2 control-label" for="division"
               translate="pages.personCollectionless.view.edit.form.field.division"></label>
		<div class="col-sm-10">
            <!--ManyToOne-->
     <div class="input-group input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>  
          <input id="division" name="division" type="text" class="form-control"
          ng-model="personCollectionless.division"
          typeahead-template-url="divisionAutocompleteTemplate.html"
          typeahead-editable="false" 
          typeahead="b for b in autocompleteService.divisionCollectionlessQuery($viewValue, ['id','name'])" 
         
          typeahead-input-formatter="autocompleteService.divisionCollectionlessFormatLabel($model, ['id','name'])"
       />
         <span class="input-group-btn" item-selector update-model="personCollectionless.division"
               ui-link="app.personCollectionless.view.edit.divisionCollectionlessSearchModal" >
         </span>
     </div> 
     <script type="text/ng-template" id="divisionAutocompleteTemplate.html"><a><span bind-html-unsafe="match.model.id | typeaheadHighlight:query"></span> <span bind-html-unsafe="match.model.name | typeaheadHighlight:query"></span> </a></script>
        </div>
	</div>
	<div class="line line-dashed b-b line-lg pull-in"></div>
	

        <div class="form-group">
            <div class="form-action pull-right">
                <button id="personCollectionlessSubmitBtn"
                    class="btn btn-success"
                    type='submit'
                    ng-disabled="personCollectionlessForm.$invalid"
                    translate="pages.personCollectionless.view.edit.form.submit"
                    mx-show-loading ng-click="submit(personCollectionlessForm)"></button>
                <a class="btn btn-default" ng-click="back()" translate="pages.personCollectionless.view.edit.form.cancel" mx-show-loading></a>
            </div>
            <div class="clearfix"/>
        </div>
    </form>
</div>