


<div ng-if="!isModal" id="personCollectionless_view" ng-init="pageTitle = 'pages.personCollectionless.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout layout-sm="column">

            <label translate="pages.personCollectionless.defaultFieldName.age" flex="30"></label>
            <div class="read-field" ng-bind="personCollectionless.age" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.personCollectionless.defaultFieldName.name" flex="30"></label>
            <div class="read-field" ng-bind="personCollectionless.name" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">
<!--ManyToOne-->

            <label translate="pages.personCollectionless.defaultFieldName.division" flex="30"></label>
            <div class="read-field">
                <a  ui-sref="app.personCollectionless.view.divisionCollectionlessModal({modalId:personCollectionless.division.id})" flex="70">
                <span ng-bind="personCollectionless.division.id"></span> <span ng-bind="personCollectionless.division.name"></span> </a></div>
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.personCollectionless.view.edit({id:personCollectionless.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deletePersonCollectionless(personCollectionless)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>



