
    <!-- Content Header (Page header) -->
    <md-toolbar md-scroll-shrink id="personCollectionless_list" class="md-hue-1" ng-init="pageTitle = 'pages.personCollectionless.list.title'">
        <div class="md-toolbar-tools">
            <h3>
                <span translate-once="{{::pageTitle}}"></span>
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="isSearchOpen = !isSearchOpen">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <md-tooltip ><span translate="button.search"></span></md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-if="!isModal" ui-sref="app.personCollectionless.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <md-tooltip ><span translate="pages.personCollectionless.list.new"></span></md-tooltip>
            </md-button>
            <div class="breadcrumb" ng-if="!isModal && !isTab" ncy-breadcrumb>
            </div>
        </div>
    </md-toolbar>

    <md-content>

    <div ng-if="isSearchOpen">
         <form name="personCollectionlessForm" novalidate>
             <div layout="row" layout-align="start start">
             
                        <md-input-container flex>
                    <label translate="pages.personCollectionless.defaultFieldName.age"></label>
                    <input
                        	name="age"
                        	aria-label="age"
                        	ng-model="search.age"
                        	  type="number"  /> </md-input-container>

                        <md-input-container flex>
                    <label translate="pages.personCollectionless.defaultFieldName.name"></label>
                    <input
                    	name="name"
                    	aria-label="name"
                   		ng-model="search.name"
                   		type="text"
                 /> </md-input-container>

                        <md-input-container flex>
                    <!--ManyToMany-->
    <md-chips
            ng-init="search.division = []"
            ng-model="search.division"
            readonly="false"
            md-autocomplete-snap
            md-require-match
    ><md-autocomplete
            md-selected-item="selectedItem_division"
            md-search-text="searchText_division"
            md-items="item in appCtrl.autocompleteService.divisionCollectionlessQuery(searchText_division, ['id','name'], true)"
            md-item-text="item.name || item.label"
            md-min-length="0"
            placeholder="{{'pages.personCollectionless.defaultFieldName.division' | translate}}"
        >
        <span md-highlight-text="searchText_division">{{item.name || item.label}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>{{$chip.name || $chip.label}}</span>
    </md-chip-template>
    </md-chips></md-input-container>

             </div>

        </form>
    </div>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" >
	      	<tbody>
				<tr ng-repeat="personCollectionless in $data">
                    <td class="text-left action-buttons">
                        <a ui-sref="app.personCollectionless.view({id:personCollectionless.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.personCollectionless.view.edit({id:personCollectionless.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deletePersonCollectionless(personCollectionless)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(personCollectionless)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.personCollectionless.defaultFieldName.id' | translate" sortable="'id'">{{::personCollectionless.id}}</td>					
			   		
        <td data-title="'pages.personCollectionless.defaultFieldName.age' | translate" sortable="'age'">
{{::personCollectionless.age}}</td>				 	
			   		
        <td data-title="'pages.personCollectionless.defaultFieldName.name' | translate" sortable="'name'">
{{::personCollectionless.name}}</td>				 	
			   		
        <td data-title="'pages.personCollectionless.defaultFieldName.division' | translate" sortable="'division'">
{{::personCollectionless.division.id}} {{::personCollectionless.division.name}} </td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>