
<div id="pet_list" ng-init="pageTitle = 'pages.pet.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
<div class="list-search">
<accordion close-others="false">
    <accordion-group  heading="{{::'pages.pet.list.table.search' | translate}}"  is-open="isSearchOpen">
         <form name="petForm" novalidate>
        <div class="row form-inline">
            
                  <div class="col-lg-2 form-group">
     <div class="input-group input-group-sm">
     <input 
     	name="birthDate"
     	ng-model="search.birthDate"
        custom-st-search="birthDate"
     	type="text" 
     	class="form-control" 
     	placeholder="{{::'pages.pet.list.search.placeholder.birthDate' | translate}}"
        datepicker-popup
        is-open="pet._birthDateOpen"
        ng-click="pet._birthDateOpen = true"
      
      />
     <span class="input-group-addon">
       <i class="glyphicon glyphicon-calendar"></i>
     </span>
     </div>
      </div>
            
                  <div class="col-lg-2 form-group"><div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input 
                    	name="name"
                   		ng-model="search.name"
                   		class="form-control"
                   		type="text" 
                   		placeholder="{{::'pages.pet.list.search.placeholder.name' | translate}}"  ></div> </div>
            
                  <div class="col-lg-2 form-group"><!--ManyToOne-->
     <div class="input-group input-group-sm" style="width:100%">
     	<tags-input
            ng-model="search.types"
            custom-st-search="types"
            placeholder="{{::'pages.pet.list.search.placeholder.type' | translate}}">
              <auto-complete
                      source="autocompleteService.petTypeQuery($query, ['id','name'], true)" ></auto-complete>
            </tags-input></div></div>
            
                  <div class="col-lg-2 form-group"><!--ManyToOne-->
     <div class="input-group input-group-sm" style="width:100%">
     	<tags-input
            ng-model="search.owners"
            custom-st-search="owners"
            placeholder="{{::'pages.pet.list.search.placeholder.owner' | translate}}">
              <auto-complete
                      source="autocompleteService.ownerQuery($query, ['id','telephone','lastName','firstName'], true)" ></auto-complete>
            </tags-input></div></div>
            
        </div>
    
                </form>
            </accordion-group>
        </accordion>
        <div class="box-tools pull-right" ng-if="!isModal">
            <a class="btn btn-default btn-xs" ui-sref="app.pet.create">
                <i class="fa fa-plus" translate="pages.pet.list.new" mx-show-loading></i>
            </a>
        </div>

        <div class="clearfix"></div>
        <div class="list-search-table">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody ng-hide="tableParams.settings().$loading">
				<tr ng-repeat="pet in $data">
                    <td class="text-left" >
                        <a class="btn btn-default btn-xs" ui-sref="app.pet.view({id:pet.id})" ng-if="!isModal">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ui-sref="app.pet.view.edit({id:pet.id})" ng-if="!isModal">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-xs" ng-click="deletePet(pet)" mx-show-loading ng-if="!isModal">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a class="btn btn-default btn-xs" ng-click="selectItem(pet)" ng-if="isModal">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>

                    <td data-title="'pages.pet.list.table.header.id' | translate" sortable="'id'">{{::pet.id}}</td>					
			   		
        <td data-title="'pages.pet.list.table.header.birthDate' | translate" sortable="'birthDate'">
{{::pet.birthDate | date:'yyyy-MM-dd HH:mm'}}</td>				 	
			   		
        <td data-title="'pages.pet.list.table.header.name' | translate" sortable="'name'">
{{::pet.name}}</td>				 	
			   		
        <td data-title="'pages.pet.list.table.header.type' | translate" sortable="'type'">
{{::pet.type.id}} {{::pet.type.name}} </td>				 	
			   		
        <td data-title="'pages.pet.list.table.header.owner' | translate" sortable="'owner'">
{{::pet.owner.id}} {{::pet.owner.telephone}} {{::pet.owner.lastName}} {{::pet.owner.firstName}} </td>				 	

				</tr>
			</tbody>
              <tbody ng-show="tableParams.settings().$loading">
                  <tr>
                      <td class="text-center" translate="messages.loading"></td>
                  </tr>
              </tbody>
	      </table>
        </div>
    </div>
</div>