


<div ng-if="!isModal" id="pet_view" ng-init="pageTitle = 'pages.pet.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout layout-sm="column">

        <label translate="pages.pet.defaultFieldName.birthDate" flex="30"></label>
        <div class="read-field" ng-bind="pet.birthDate | date:'yyyy-MM-dd HH:mm'" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.pet.defaultFieldName.name" flex="30"></label>
            <div class="read-field" ng-bind="pet.name" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">
<!--OneToMany-->
            <label translate="pages.pet.defaultFieldName.visits" flex="30"></label>
            <div class="read-field" ng-bind="pet.visits" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">
<!--ManyToOne-->

            <label translate="pages.pet.defaultFieldName.type" flex="30"></label>
            <div class="read-field">
                <a  ui-sref="app.pet.view.petTypeModal({modalId:pet.type.id})" flex="70">
                <span ng-bind="pet.type.id"></span> <span ng-bind="pet.type.name"></span> </a></div>
</div>
<div class="input-container" layout layout-sm="column">
<!--ManyToOne-->

            <label translate="pages.pet.defaultFieldName.owner" flex="30"></label>
            <div class="read-field">
                <a  ui-sref="app.pet.view.ownerModal({modalId:pet.owner.id})" flex="70">
                <span ng-bind="pet.owner.id"></span> <span ng-bind="pet.owner.telephone"></span> <span ng-bind="pet.owner.lastName"></span> <span ng-bind="pet.owner.firstName"></span> </a></div>
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.pet.view.edit({id:pet.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deletePet(pet)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>


<div ng-if="!isModal">
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>

        <md-tab ui-sref="app.pet.view.visit({relationName:'pets'})"
             ui-sref-active="active" label="asdsd">
            <md-tab-label>
                <span translate="pages.visit.view.lists"
                        translate-value-isval="{{::'pages.visit.defaultFieldName.pet' | translate }}"
                        translate-value-inval="{{::'pages.visit.name' | translate }}"></span>
            </md-tab-label>
        </md-tab>

    </md-tabs>

    <div ui-view="tabs" ><div class="content-body">{{::'tabs.selecttab' | translate}}</div></div>
    </md-content>
</div>

    

