
<div ng-if="!isModal" id="pet_list" ng-init="pageTitle = 'pages.pet.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div>


<md-content>
    <md-toolbar class="md-gray" ng-click="isSearchOpen = !isSearchOpen">
        <div class="md-toolbar-tools">
            <md-button class="md-raised">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <span translate="button.search"></span>
            </md-button>
            <span flex></span>
            <md-button class="md-raised" ng-if="!isModal" ui-sref="app.pet.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <span translate="pages.pet.list.new"></span>
            </md-button>
        </div>
    </md-toolbar>
    <md-content ng-if="isSearchOpen" layout-padding>
         <form name="petForm" novalidate>
             <md-grid-list
                     md-row-height="50px"
                     md-cols="6"
                     md-cols-sm="1" md-cols-md="4"
                     md-gutter="6px"
                   >
            <md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    
    <label translate="pages.pet.defaultFieldName.birthDate"></label>
     <input 
     	name="birthDate"
     	aria-label="birthDate"
     	ng-model="search.birthDate"
     	type="text" 
        bs-datepicker
        data-model-date-format="yyyy-MM-dd'T'HH:mm:ssZ"
        data-date-type='string'
      
      />
      </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    <label translate="pages.pet.defaultFieldName.name"></label>
                    <input
                    	name="name"
                    	aria-label="name"
                   		ng-model="search.name"
                   		type="text"
                 /> </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="3" md-colspan-sm="1"><md-input-container flex class="chips-autocomplete" md-no-float><!--ManyToMany-->
    <md-chips
            ng-init="search.type = []"
            ng-model="search.type"
            readonly="false"
            md-autocomplete-snap
            md-require-match
    ><md-autocomplete
            md-selected-item="selectedItem_type"
            md-search-text="searchText_type"
            md-items="item in autocompleteService.petTypeQuery(searchText_type, ['id','name'], true)"
            md-item-text="item.name || item.label"
            placeholder="{{'pages.pet.defaultFieldName.type' | translate}}"
        >
        <span md-highlight-text="searchText_type">{{item.name || item.label}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>{{$chip.name || $chip.label}}</span>
    </md-chip-template>
    </md-chips></md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="3" md-colspan-sm="1"><md-input-container flex class="chips-autocomplete" md-no-float><!--ManyToMany-->
    <md-chips
            ng-init="search.owner = []"
            ng-model="search.owner"
            readonly="false"
            md-autocomplete-snap
            md-require-match
    ><md-autocomplete
            md-selected-item="selectedItem_owner"
            md-search-text="searchText_owner"
            md-items="item in autocompleteService.ownerQuery(searchText_owner, ['id','telephone','lastName','firstName'], true)"
            md-item-text="item.name || item.label"
            placeholder="{{'pages.pet.defaultFieldName.owner' | translate}}"
        >
        <span md-highlight-text="searchText_owner">{{item.name || item.label}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>{{$chip.name || $chip.label}}</span>
    </md-chip-template>
    </md-chips></md-input-container></md-grid-tile>

            </md-grid-list>

        </form>
    </md-content>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="pet in $data">
                    <td class="text-left" >
                        <a ui-sref="app.pet.view({id:pet.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.pet.view.edit({id:pet.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deletePet(pet)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(pet)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.pet.defaultFieldName.id' | translate" sortable="'id'">{{::pet.id}}</td>					
			   		
        <td data-title="'pages.pet.defaultFieldName.birthDate' | translate" sortable="'birthDate'">
{{::pet.birthDate | date:'yyyy-MM-dd HH:mm'}}</td>				 	
			   		
        <td data-title="'pages.pet.defaultFieldName.name' | translate" sortable="'name'">
{{::pet.name}}</td>				 	
			   		
        <td data-title="'pages.pet.defaultFieldName.type' | translate" sortable="'type'">
{{::pet.type.id}} {{::pet.type.name}} </td>				 	
			   		
        <td data-title="'pages.pet.defaultFieldName.owner' | translate" sortable="'owner'">
{{::pet.owner.id}} {{::pet.owner.telephone}} {{::pet.owner.lastName}} {{::pet.owner.firstName}} </td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>