

<div id="pet_form"
     ng-init="pageTitle = (isEditForm)?'pages.pet.view.edit.title':'pages.pet.create.title'" data-ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout-padding layout="column">
    <form name="petForm" novalidate>
        <input name="version" type="hidden" ng-model="pet.version" />

    <div class="input-container" layout layout-sm="column">
		<label for="birthDate"
               translate="pages.pet.defaultFieldName.birthDate" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
     <input name="birthDate"
            aria-label="birthDate"
            type="text"
            ng-model="pet.birthDate"
            bs-datepicker
       required
      />
      
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="name"
               translate="pages.pet.defaultFieldName.name" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            
                    <input name="name"
                           aria-label="name"
                           type="text"
                           ng-model="pet.name"
                 required /> 
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="visits"
               translate="pages.pet.defaultFieldName.visits" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            <!--OneToMany-->
            <md-chips
                    ng-model="pet.visits"
                    readonly="false"
                    md-autocomplete-snap
                    md-require-match
                    flex
    ><md-autocomplete
                    md-selected-item="selectedItem_visits"
                    md-search-text="searchText_visits"
                    md-items="item in autocompleteService.visitQuery(searchText_visits, ['id','description','date'], true)"
                    md-item-text="item.name">
                <span md-highlight-text="searchText_visits">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
                <span>{{$chip.name}}</span>
            </md-chip-template>
    </md-chips>
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="type"
               translate="pages.pet.defaultFieldName.type" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            <!-- ManyToOne-->
        <md-autocomplete
                input-name="type"
                md-cache="false"
                md-selected-item="pet.type"
                md-search-text="searchText_type"
                md-items="item in autocompleteService.petTypeQuery(searchText_type)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
     required
        >
            <md-item-template>
                <span md-highlight-text="searchText_type" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
         <item-selector update-model="pet.type"
               item-link="app.pet.view.edit.petTypeSearchModal" >
         </item-selector>
     
        </md-input-container>
	</div>
	

    <div class="input-container" layout layout-sm="column">
		<label for="owner"
               translate="pages.pet.defaultFieldName.owner" flex="30"></label>
        <md-input-container md-no-float="true" flex="70" layout="row">
            <!-- ManyToOne-->
        <md-autocomplete
                input-name="owner"
                md-cache="false"
                md-selected-item="pet.owner"
                md-search-text="searchText_owner"
                md-items="item in autocompleteService.ownerQuery(searchText_owner)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
     required
        >
            <md-item-template>
                <span md-highlight-text="searchText_owner" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
         <item-selector update-model="pet.owner"
               item-link="app.pet.view.edit.ownerSearchModal" >
         </item-selector>
     
        </md-input-container>
	</div>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="petSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="petForm.$invalid"
                ng-click="submit(petForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
