


<div ng-if="!isModal" id="embeddable_view" ng-init="pageTitle = 'pages.embeddable.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout layout-sm="column">
<!--Map-->

        <label translate="pages.embeddable.defaultFieldName.jsonMap" flex="30"></label>
        <div class="read-field" class="jsonView jsonRead" flex="70">
            <json child="embeddable.jsonMap" default-collapsed="false" type="object"></json>
        </div>
    
</div>
<div class="input-container" layout layout-sm="column">
<!--Autocomplete-->

        <label translate="pages.embeddable.defaultFieldName.myAc" flex="30"></label>
        <div class="read-field" ng-bind="embeddable.myAc && autocompleteService.testStringSimpleFormatLabel(embeddable.myAc)"
             flex="70"
                ></div>

</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.embeddable.defaultFieldName.str" flex="30"></label>
            <div class="read-field" ng-bind="embeddable.str" flex="70"></div>
    
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.embeddable.view.edit({id:embeddable.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteEmbeddable(embeddable)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>


<div ng-if="!isModal">
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>

        <md-tab ui-sref="app.embeddable.view.embed({relationName:'myEmbeddedFields'})"
             ui-sref-active="active" label="asdsd">
            <md-tab-label>
                <span translate="pages.embed.view.lists"
                        translate-value-isval="{{::'pages.embed.defaultFieldName.myEmbeddedField' | translate }}"
                        translate-value-inval="{{::'pages.embed.name' | translate }}"></span>
            </md-tab-label>
        </md-tab>

    </md-tabs>

    <div ui-view="tabs" ><div class="content-body">{{::'tabs.selecttab' | translate}}</div></div>
    </md-content>
</div>

    

