

<div id="embeddable_form"
     ng-init="pageTitle = (isEditForm)?'pages.embeddable.view.edit.title':'pages.embeddable.create.title'" data-ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content >
    <form name="embeddableForm" novalidate layout-padding layout="column">
        <input name="version" type="hidden" ng-model="embeddable.version" />

        <md-input-container flex="100">
            <label for="jsonMap" translate="pages.embeddable.defaultFieldName.jsonMap"></label>
            
        <div class="jsonView">
            <json child="embeddable.jsonMap" default-collapsed="false" type="object"></json>
        </div> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="myAc" translate="pages.embeddable.defaultFieldName.myAc"></label>
            <!--Autocomplete-->
        <md-autocomplete
                input-name="myAc"
                md-cache="false"
                md-selected-item="embeddable.myAc"
                md-search-text="searchText_myAc"
                md-items="item in appCtrl.autocompleteService.testStringSimpleQuery(searchText_myAc)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
    
        >
            <md-item-template>
                <span md-highlight-text="searchText_myAc" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="str" translate="pages.embeddable.defaultFieldName.str"></label>
            
                    <input name="str"
                           aria-label="str"
                           type="text"
                           ng-model="embeddable.str"
                 /> 
        </md-input-container>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="embeddableSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="embeddableForm.$invalid"
                ng-click="submit(embeddableForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
