


<div id="embeddable_view" ng-init="pageTitle = 'pages.embeddable.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>
<div class="content-body">
    <md-content layout-padding layout="column">

<div class="input-container" layout layout-sm="column">
<!--Map-->

        <label translate="pages.embeddable.view.field.jsonMap" flex="20"></label>
        <div class="read-field" class="jsonView jsonRead" flex="30">
            <json child="embeddable.jsonMap" default-collapsed="false" type="object"></json>
        </div>
    
</div>
<div class="input-container" layout layout-sm="column">
<!--Autocomplete-->

        <label translate="pages.embeddable.view.field.myAc" flex="20"></label>
        <div class="read-field" ng-bind="embeddable.myAc && autocompleteService.testStringSimpleFormatLabel(embeddable.myAc)"
             flex="30"
                ></div>

</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.embeddable.view.field.str" flex="20"></label>
            <div class="read-field" ng-bind="embeddable.str" flex="30"></div>
    
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.embeddable.view.edit({id:embeddable.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteEmbeddable(embeddable)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
    </md-content>
</div>


<div ng-if="!isModal">
    <tabset>


        <tab ui-sref="app.embeddable.view.embed({relationName:'myEmbeddedFields'})"
             ui-sref-active="active">
            <tab-heading
                   translate="pages.embed.view.lists"
                   translate-value-isval="{{::'pages.embed.view.field.myEmbeddedField' | translate }}"
                   translate-value-inval="{{::'pages.embed.name' | translate }}">
            </tab-heading>
        </tab>

    </tabset>

    <div ui-view="tabs" ><div class="content-body">{{::'pages.embeddable.view.selecttab' | translate}}</div></div>
</div>
    

