
    <!-- Content Header (Page header) -->
    <md-toolbar md-scroll-shrink id="embeddable_list" class="md-hue-1" ng-init="pageTitle = 'pages.embeddable.list.title'">
        <div class="md-toolbar-tools">
            <h3>
                <span translate-once="{{::pageTitle}}"></span>
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="isSearchOpen = !isSearchOpen">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <md-tooltip ><span translate="button.search"></span></md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-if="!isModal" ui-sref="app.embeddable.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <md-tooltip ><span translate="pages.embeddable.list.new"></span></md-tooltip>
            </md-button>
            <div class="breadcrumb" ng-if="!isModal && !isTab" ncy-breadcrumb>
            </div>
        </div>
    </md-toolbar>

    <md-content>

    <div ng-if="isSearchOpen" layout-padding>
         <form name="embeddableForm" novalidate>
             <div layout="row" layout-align="start start">
             <!-- No type for jsonMap -->

                        <md-input-container flex>
                    <!--ManyToOne-->
    <md-chips
            ng-init="search.myAcs = []"
            ng-model="search.myAcs"
            readonly="false"
            md-autocomplete-snap
            md-require-match
    ><md-autocomplete
            md-selected-item="selectedItem_myAc"
            md-search-text="searchText_myAc"
            md-items="item in appCtrl.autocompleteService.testStringSimpleQuery(searchText_myAc)"
            md-item-text="item.name || item.label"
            md-min-length="0"
            placeholder="{{'pages.embeddable.defaultFieldName.myAc' | translate}}"
        >
        <span md-highlight-text="searchText_myAc">{{item.name || item.label}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>{{$chip.name || $chip.label}}</span>
    </md-chip-template>
    </md-chips></md-input-container>

                        <md-input-container flex>
                    <label translate="pages.embeddable.defaultFieldName.str"></label>
                    <input
                    	name="str"
                    	aria-label="str"
                   		ng-model="search.str"
                   		type="text"
                 /> </md-input-container>

             </div>

        </form>
    </div>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="embeddable in $data">
                    <td class="text-left action-buttons">
                        <a ui-sref="app.embeddable.view({id:embeddable.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.embeddable.view.edit({id:embeddable.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deleteEmbeddable(embeddable)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(embeddable)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.embeddable.defaultFieldName.id' | translate" sortable="'id'">{{::embeddable.id}}</td>					
			   		
        <td data-title="'pages.embeddable.defaultFieldName.jsonMap' | translate" sortable="'jsonMap'">
{{::embeddable.jsonMap}}</td>				 	
			   		
        <td data-title="'pages.embeddable.defaultFieldName.myAc' | translate" sortable="'myAc'">
{{::embeddable.myAc}}</td>				 	
			   		
        <td data-title="'pages.embeddable.defaultFieldName.str' | translate" sortable="'str'">
{{::embeddable.str}}</td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>