

<div id="visit_form"
     ng-init="pageTitle = (isEditForm)?'pages.visit.view.edit.title':'pages.visit.create.title'" data-ng-include=" 'app/blocks/page_heading.html' "></div>

<md-content >
    <form name="visitForm" novalidate layout-padding layout="column">
        <input name="version" type="hidden" ng-model="visit.version" />

        <md-input-container flex="100">
            <label for="date" translate="pages.visit.defaultFieldName.date"></label>
            
     <input name="date"
            aria-label="date"
            type="text"
            ng-model="visit.date"
            bs-datepicker
       required
      />
      
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="description" translate="pages.visit.defaultFieldName.description"></label>
            
                    <input name="description"
                           aria-label="description"
                           type="text"
                           ng-model="visit.description"
                 required /> 
        </md-input-container>
	

        <md-input-container flex="100">
            <label for="pet" translate="pages.visit.defaultFieldName.pet"></label>
            <!-- ManyToOne--><div layout="row" layout-align="start center"> 
        <md-autocomplete
                input-name="pet"
                md-cache="false"
                md-selected-item="visit.pet"
                md-search-text="searchText_pet"
                md-items="item in appCtrl.autocompleteService.petQuery(searchText_pet)"
                md-item-text="item.name || item.label || item.id"
                md-min-length="0"
                flex
     required
        >
            <md-item-template>
                <span md-highlight-text="searchText_pet" md-highlight-flags="^i">{{item.name || item.label || item.id}}</span>
            </md-item-template>
        </md-autocomplete>
    
         <item-selector update-model="visit.pet"
               item-link="app.visit.view.edit.petSearchModal" >
         </item-selector>
        </div>
     
        </md-input-container>
	


        <section layout="row" layout-sm="column" layout-align="bottom left">
            <md-button
                id="visitSubmitBtn"
                class="md-raised md-primary"
                ng-disabled="visitForm.$invalid"
                ng-click="submit(visitForm)"
                translate="button.submit"
                aria-label="save"
            ></md-button>


            <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
        </section>
    </form>
</md-content>
