
<div ng-if="!isModal" id="visit_list" ng-init="pageTitle = 'pages.visit.list.title'"
     data-ng-include=" 'shared/blocks/page_heading.html' "></div>
<div>


<md-content>
    <md-toolbar class="md-gray" ng-click="isSearchOpen = !isSearchOpen">
        <div class="md-toolbar-tools">
            <md-button class="md-raised">
                <md-icon md-font-set="material-icons" class="md-primary">search</md-icon>
                <span translate="button.search"></span>
            </md-button>
            <span flex></span>
            <md-button class="md-raised" ng-if="!isModal" ui-sref="app.visit.create" ng-click="$event.stopPropagation();" >
                <md-icon md-font-set="material-icons" class="md-primary">add_circle</md-icon>
                <span translate="pages.visit.list.new"></span>
            </md-button>
        </div>
    </md-toolbar>
    <md-content ng-if="isSearchOpen" layout-padding>
         <form name="visitForm" novalidate>
             <md-grid-list
                     md-row-height="50px"
                     md-cols="6"
                     md-cols-sm="1" md-cols-md="4"
                     md-gutter="6px"
                   >
            <md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    
    <label translate="pages.visit.defaultFieldName.date"></label>
     <input 
     	name="date"
     	aria-label="date"
     	ng-model="search.date"
     	type="text" 
        bs-datepicker
        data-model-date-format="yyyy-MM-dd'T'HH:mm:ssZ"
        data-date-type='string'
      
      />
      </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
                        <md-input-container flex>
                    <label translate="pages.visit.defaultFieldName.description"></label>
                    <input
                    	name="description"
                    	aria-label="description"
                   		ng-model="search.description"
                   		type="text"
                 /> </md-input-container></md-grid-tile>
<md-grid-tile class="gray" md-rowspan="1" md-colspan="3" md-colspan-sm="1"><md-input-container flex class="chips-autocomplete" md-no-float><!--ManyToMany-->
    <md-chips
            ng-init="search.pet = []"
            ng-model="search.pet"
            readonly="false"
            md-autocomplete-snap
            md-require-match
    ><md-autocomplete
            md-selected-item="selectedItem_pet"
            md-search-text="searchText_pet"
            md-items="item in autocompleteService.petQuery(searchText_pet, ['id','name','birthDate'], true)"
            md-item-text="item.name || item.label"
            placeholder="{{'pages.visit.defaultFieldName.pet' | translate}}"
        >
        <span md-highlight-text="searchText_pet">{{item.name || item.label}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>{{$chip.name || $chip.label}}</span>
    </md-chip-template>
    </md-chips></md-input-container></md-grid-tile>

            </md-grid-list>

        </form>
    </md-content>

    <md-content layout-padding layout="column" class="list-search">
        <div class="list-search-table" loading-container="tableParams.settings().$loading">
	      <table class="table table-responsive" ng-table="tableParams" show-filter="true" >
	      	<tbody>
				<tr ng-repeat="visit in $data">
                    <td class="text-left" >
                        <a ui-sref="app.visit.view({id:visit.id})" ng-if="!isModal" >
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">remove_red_eye</md-icon>
                        </a>
                        <a ui-sref="app.visit.view.edit({id:visit.id})" ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-accent':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">edit</md-icon>
                        </a>
                        <a ng-click="deleteVisit(visit)" mx-show-loading ng-if="!isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-warn':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">delete</md-icon>
                        </a>
                        <a ng-click="selectItemToField(visit)" ng-if="isModal">
                            <md-icon md-font-set="material-icons"
                                     ng-class="{'md-primary':hovering}"
                                     ng-mouseenter="hovering = true"
                                     ng-mouseleave="hovering = false">add_circle</md-icon>
                        </a>
                    </td>

                    <td data-title="'pages.visit.defaultFieldName.id' | translate" sortable="'id'">{{::visit.id}}</td>					
			   		
        <td data-title="'pages.visit.defaultFieldName.date' | translate" sortable="'date'">
{{::visit.date | date:'yyyy-MM-dd HH:mm'}}</td>				 	
			   		
        <td data-title="'pages.visit.defaultFieldName.description' | translate" sortable="'description'">
{{::visit.description}}</td>				 	
			   		
        <td data-title="'pages.visit.defaultFieldName.pet' | translate" sortable="'pet'">
{{::visit.pet.id}} {{::visit.pet.name}} {{::visit.pet.birthDate}} </td>				 	

				</tr>
			</tbody>
	      </table>
        </div>
    </md-content>
</md-content>