


<div ng-if="!isModal" id="visit_view" ng-init="pageTitle = 'pages.visit.view.title'"
     ng-include=" 'shared/blocks/page_heading.html' "></div>

<md-content layout="column">

<div class="input-container" layout layout-sm="column">

        <label translate="pages.visit.defaultFieldName.date" flex="30"></label>
        <div class="read-field" ng-bind="visit.date | date:'yyyy-MM-dd HH:mm'" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">

            <label translate="pages.visit.defaultFieldName.description" flex="30"></label>
            <div class="read-field" ng-bind="visit.description" flex="70"></div>
    
</div>
<div class="input-container" layout layout-sm="column">
<!--ManyToOne-->

            <label translate="pages.visit.defaultFieldName.pet" flex="30"></label>
            <div class="read-field">
                <a  ui-sref="app.visit.view.petModal({modalId:visit.pet.id})" flex="70">
                <span ng-bind="visit.pet.id"></span> <span ng-bind="visit.pet.name"></span> <span ng-bind="visit.pet.birthDate"></span> </a></div>
</div>


    <section ng-if="!isModal" layout="row" layout-sm="column" layout-align="bottom left">
        <md-button id="editBtn"
                   class="md-raised md-primary"
                   ui-sref="app.visit.view.edit({id:visit.id})"
                   translate="button.edit"
                   aria-label="edit"
                ></md-button>
        <md-button id="deleteBtn"
                   class="md-raised md-warn"
                   ng-click="deleteVisit(visit)"
                   mx-show-loading
                   translate="button.delete"
                   aria-label="delete"
                ></md-button>

        <md-button class="md-flat" ng-click="back()" translate="button.back" aria-label="back"></md-button>
    </section>
</md-content>



